[2015-04-09 14:57] paewie commented on #3540
I could narrow the crash down to a OpenGL cleanup of some Texture2D objects that were created temporarily (as local variables in some preprocessing functions). By replacing them I got a workaround for the crash at runtime (which actually happened definitly after some time).

[2015-04-09 17:07] RaffeMaffe commented on #3057
Hi,
I think installed the latest 3.3.0.2238. I downloaded it again today, just to make sure, and recompiled, but problem remains.
I had a quick look in my generated xnb file for the fbx model and also compared this with an much older file generated by the 'old' MS xna (see below).

The header  looks something like this:

Microsoft.Xna.Framework.Content.ModelReader,
Microsoft.Xna.Framework.Content.

[2015-04-09 17:55] RaffeMaffe commented on #3057
By the way, I'm using VS2013 on Windows 7, could that be an issue here?

[2015-04-10 06:48] tomspilman commented on #3614
I've heard more reports of this issue occurring.

[2015-04-10 07:08] tomspilman commented on #3566
See #2167 for info on this.

[2015-04-10 07:08] #3566 closed

[2015-04-10 07:08] tomspilman commented on #3270
See #2167 for info on this.

[2015-04-10 07:17] tomspilman commented on #2167
Right... I think this is the next step to tackle.

We would need to test convert some complex shader to GLSL, but leave all the sampler states, render states, techniques, passes in the file.  Then we need to make fixes to the MGFX parser to let it parse the info it needs (sampler state, render state, techniques, passes) while passing thru the GLSL code.

Then we need to figure out how to strip out

[2015-04-10 07:23] tomspilman commented on #3713
Fixed in https://github.com/mono/MonoGame/pull/3716

[2015-04-10 07:23] #3713 closed

[2015-04-10 10:01] tgjones commented on #3710
@pfferrao Thanks for looking at this. I've looked at the code again, and I can't see anything obviously wrong. It will be interesting to see how you get on.

[2015-04-10 17:15] pfferrao commented on #3710
I've found the problem, is in the internal ClearTargets of MonoGame.Framework/Graphics/TextureCollection.DirectX.cs. The following patch should fix it:
[code]

[2015-04-10 18:25] tomspilman commented on #3710
@pfferrao - That is a bug...  it was clearing things twice as much as it needed too.  Still don't see how that could cause textures that should be bound to not be bound.

[2015-04-10 18:40] Vodacek opened #3719 "Model loading issue - Incorrect type reader index found!"
I am trying to load fbx model exported from Cinema4D (normally these models works fine) but I am getting this exception:

    An unhandled exception of type 'Microsoft.Xna.Framework.Content.ContentLoadException' occurred in MonoGame.Framework.dll

    Additional information: Could not load zvb2/sin/VS16 asset as a non-content file!

internal exception is:

    Incorrect type reader index found!

I

[2015-04-10 22:09] mrhelmut commented on #3710
Made a PR out of your findings.

I can confirm it fixes the issue. It was hard to track why, but the redundant clearings had side effects on PlatformSetTextures.

[2015-04-10 22:10] tomspilman commented on #3710
Cool!  Thanks @mrhelmut !

[2015-04-10 22:44] tgjones commented on #3710
Thanks @mrhelmut and @pfferrao!

[2015-04-11 09:54] KakCAT commented on #3614
Hi,

I think the problem is at AddThumbstickButtons in GamePad.XInput.cs .
Switching to

            if (thumbY < -deadZone)
                result |= thumbStickDown;
            else if (thumbY > deadZone)
                result |= thumbStickUp;

seems to fix the problem. Could somebody confirm that negative Ys are down and positive Ys are up?

[2015-04-11 11:37] mrhelmut commented on #3614
Hi,

I can confirm that XInput Y's are down and that @KakCAT code snipet fixes this issue.

[2015-04-11 22:59] tomspilman commented on #3614
Great...  lets get a PR going and some testing.

[2015-04-12 14:11] KakCAT commented on #3614
Hi,

is it possible somebody smarter than me could do the PR? :)

Everytime I have to make a PR I end using an obscene amount of time only to get nowhere :( I usually end up wiping my main repository and cloning it again to my pc (which with a 512KBps shared connection sometimes takes more than 4 hours). I've been fiddling with this PR for an hour now which will make 5 minutes to find the bug and

[2015-04-12 14:26] tgjones commented on #2167
I'm more interested in the HLSL to GLSL translation, but still, I'll have a look at this and see if I can make some progress ;-)

That's interesting - I actually thought the MGFX parser was already removing the techniques. I didn't realise the HLSL compiler just ignored it. Makes you wonder how many other legacy features are still hidden away in the current compiler - I assumed it would throw an e

[2015-04-12 14:30] tgjones commented on #2167
[GLSL optimizer](https://github.com/aras-p/glsl-optimizer) seems to be quite popular for shrinking GLSL shaders, we could see if that works for us.

[2015-04-12 14:44] cra0zy commented on #3614
Sure, I can do it, give me 2 mins.

[2015-04-12 15:20] tgjones commented on #2167
I can see roughly how a GLSL FX format might work. But there are some specifics to work out: for example, how will sampler states work? In GLSL, you only define a sampler, and there's no mechanism for setting sampler states:

[code]

Maybe we could also let users set the GLSL version using the `compile` directive:

[code]

[2015-04-12 15:37] KakCAT commented on #3614
2 minutes? I "hate" you ;)

[2015-04-12 16:39] cra0zy commented on #3614
lol

[2015-04-13 01:54] #3710 closed

[2015-04-13 07:45] pauliharman commented on #3652
Any ideas when this is going to be fixed? We have live projects on the App Store that we are unable to support because of this issue, as Apple will no longer accept non-64bit submissions (as per MonoGame 3.2)

[2015-04-13 09:13] danzel commented on #3652
This will be fixed when someone fixes it. Remember, this is an open source project maintained by volunteers.

The details from @Ben-P above should be enough for you to play around with the code to maybe workaround or fix the issue.
Possible commenting out the offending line will get it going.

[2015-04-13 09:53] tgjones commented on #3700
@tomspilman I think this is the same issue as #3710, so it can also be closed now that #3720 has been merged.

[2015-04-13 11:42] KakCAT opened #3726 "MediaPlayer initialization out of ui thread -> crash"
Hi,

when calling MediaPlayer for the first time when not being on UI thread, the game crashes. CoreWindow.GetForCurrentThread() returns null at MediaPlayer.WME.cs, PlatformInitialize.

This is probably the same problem as https://github.com/mono/MonoGame/pull/3124

[2015-04-13 14:05] KakCAT opened #3727 "Crash when rotating Windows 8 device"
Hi,

from time to time, rotating a Windows 8 device crashes the game.

at PlatformClear in GraphicsDevice.DirectX.cs

[code]

_currentDepthStencilView. seems to be null, even when it's been checked a few moments ago (probably being modified asynchronously)

To reproduce, just run a blank sample in the simulator and start rotating it. Sometimes it takes a while, but sometimes crashes at the first r

[2015-04-13 14:29] KakCAT commented on #3727
Hi,

I just noticed that the problem does not happen with the "raw" repository but when applying the fix described in the bottom of https://github.com/mono/MonoGame/issues/3316 (which is needed for WP8.1 releases)

[2015-04-13 16:36] #3700 closed

[2015-04-13 16:37] tomspilman commented on #3700
@pfferrao - Let us know if you still have issues with this.

[2015-04-13 18:30] nkast commented on #3727
@KakCAT Thanks for bringing this to my attention. Maybe the SizeChanged event recreates size-depended resources while concurrently the render thread use the old ones. We need to somehow  dispatching SizeChanged events to the render thread. A solution would be to record the change and wait until next Present to sync the change with next frame. I was thinking about this a while ago for solving anoth

[2015-04-13 18:47] nkast commented on #3316
I didn't have the time to work on a PR for this. The issues so far:
A) Issue #3727   Dispatch SizeChange events to the renderthread.
B) Using a high priority thread for rendering makes input lag even worst, Input must be solved alongside the CompositionTarget.Rendering freeze. So far CoreIndependentInputSource  has a bug and can't be used because it makes performance worst on devices with touch. S

[2015-04-13 18:57] nkast opened #3728 "[Pipeline] click on .mgcb file to open."
Double clicking on an .mgcb file from the explorer launches the Pipeline.exe but doesn't open the .mgcb, instead it loads the most recent project.

[2015-04-13 19:49] nkast opened #3729 "[DX] Rapid resolution change (HW scaler)"
One suggestion to keep your frame rate steady is to adapt resolution on the fly.
This technique doesn't work with monogame. The first frame after changing resolution is wrong because the swapchain/Window size doesn't sync with Present. I think we have to record a size change and wait until next Present() to apply it. Probably also separate execution paths that end up to CreateSizeDependentResource

[2015-04-13 23:04] prollin commented on #3652
We have encountered a few AudioSession crashes in our latest beta that seem similar to what is being described here. I also thought it could be cause by incoming calls but couldn't repro on my end. I quickly looked at the code and noticed that MonoGame was using a deprecated API (as of iOS 7.0) and decided to switch to the new API and see if we were still getting crashes from our users: It now has

[2015-04-13 23:34] bloodyswamp commented on #3057
Hello,
I can confirm what RaffeMaffe said about that issue. Our application is based on a Skinned Model and so now we have a big problem with MonoGame 3.3 and the MonoGame Pipeline tool. Even if the DefaultEffect is set to ANY effect, it returns to BasicEffect in runtime. I'm also using VS2013, Update 5. Also Windows 8.1 x64 (if this has anything to do with that issue).

[2015-04-14 00:29] tgjones commented on #3057
Looks like there's a couple of missing pieces.

The first is in `ModelProcessor.ConvertMaterial`. We should be passing passing the `DefaultEffect` from `ModelProcessor` through to `MaterialProcessor`.

The second is in `MaterialProcessor`, which currently ignores `DefaultEffect`. But if we just create a new material based on `DefaultEffect`, we'll lose the properties from the imported material. So

[2015-04-14 00:31] tgjones commented on #3728
I think this is a dupe of #3230.

[2015-04-14 03:11] nkast commented on #3728
@tgjones right!

[2015-04-14 03:11] #3728 closed

[2015-04-14 03:25] nkast commented on #3230
I found a couple of entries in the registry, one of them missing double quotes around the pipilinepath and a default parameter.

Save the following two lines into a text file pipeline.reg , right click and 'Merge'. That fixed it for now.

[HKEY_CLASSES_ROOT\MonoGame.ContentBuilderFile\shell\open\command]
@="\"C:\\Program Files (x86)\\MSBuild\\MonoGame\\v3.0\\Tools\\Pipeline.exe\" \"%1\""

[2015-04-14 03:27] tomspilman commented on #3230
@nkast - That bug is coming from here then:

https://github.com/mono/MonoGame/blob/develop/Installers/Windows/MonoGame.nsi#L107

Just need someone to tweak it, build and run the installer to test it.

[2015-04-14 13:15] Vangos commented on #3057
Same issue here.

Is there a scheduled update?

Should we use an older version? Are there any alternatives/workarounds?

Thank you in advance.

[2015-04-14 15:03] #3715 closed

[2015-04-14 16:50] humanapp commented on #2641
@tomspilman - Just checking in, do you have a more concrete idea now of when the recording will be up? What is the best way for me to be notified when it goes up? Thanks!

[2015-04-14 19:16] xposure commented on #3660
I just came back here and stumbled across this while I was looking for my old issue from last month. Information can be found here with my results. I posted the same exact thing, after driver updates the problem was seemingly "solved". Today the problem is once again back and I just did another driver update and still have the same issue.

https://github.com/mono/MonoGame/issues/3553

[2015-04-14 19:52] NVentimiglia opened #3731 "Choose Application bug on Windows / Missing References"
Steps to replicate :
1) Install MonoGame 3
2) Download Samples from Git
3) Open .sln file

I am using Windows 8 and Visual Studio Pro 2013

I get a "Choose Application" dialog, please advise.

<img src="http://community.monogame.net/uploads/default/_optimized/84e/fce/8b0154b3aa_690x279.png" width="690" height="279">

I can manually open the project by dragging the sln file onto visual studio. Once

[2015-04-14 19:53] tomspilman commented on #3731
I've never seen that dialog before in my life.  What the heck is that from?

[2015-04-14 19:55] NVentimiglia commented on #3731
It is obviously from satan. The question is why.

I have my projects and tools installed on D: and my os on C: (ssd), could that be the cause ?

https://github.com/mono/MonoGame/issues/3656

[2015-04-14 19:55] xposure commented on #3660
To make sure everyone understands the magnitude of this problem (3 different machines, 15fps) I decided to record the issue and got some interesting results.

* Simply moving my mouse over the tab on chrome at the top took the draw calls up to about 66ms which results in 15fps.
* Starting up fraps changed this to 33ms as a max draw call giving a minimum of 30 fps (not allowing me to effectively re

[2015-04-14 20:12] tomspilman commented on #3731
Look and see what EXE that dialog is coming from.

[2015-04-14 20:13] tomspilman commented on #3660
There is no "issue" in SharpDX...  it is normal for that function to block if the GPU is busy.

The question is what is making your GPU too busy to render.

[2015-04-14 20:20] cra0zy commented on #3731
I remember what that dialog is... it's a dialog that occurs when opening sln file and you have to select a version of visual studio that you want to use to open the file. Normally in the listbox it would offer options like:
VS 2010 C# Express
VS 2013 Community Edition
etc.

[2015-04-14 20:22] cra0zy commented on #3731
IMO this has nothing to do with MonoGame, it has to do with your visual studio installation

[2015-04-14 20:23] tomspilman commented on #3731
Ah...   that is right.  @NVentimiglia - Open your copy of VS then from the File menu open the MonoGame solution you are trying to open.

[2015-04-14 20:24] NVentimiglia commented on #3731
Ok, Im going to uninstall and reinstall VS.

[2015-04-14 20:24] #3731 closed

[2015-04-14 21:30] NVentimiglia opened #3732 "Missing References Nuget non"
Steps to replicate.

- Fresh install of Visual Studio 2013
- Fresh install of nuget from codeplex
- Fresh install of MonoGame 3.4
- Download Samples
- Run Platform2D Android

Visual studio loads and I get missing reference exceptions.

I have also tried the NuGet restore... removing the package and readding it.

[code]

I checked my packages and confirmed that the package was missing. I also check

[2015-04-14 21:35] tomspilman commented on #3732
Android requires purchase of Xamarin's Android runtime:

http://xamarin.com/platform

[2015-04-14 21:55] NVentimiglia commented on #3732
I have Xamarin Android. This error happens on all other platforms.

[2015-04-14 21:57] tomspilman commented on #3732
@DDReaper - Is this because the samples need new nuget packages?

[2015-04-14 22:02] NVentimiglia commented on #3732
Just reinstalled Xamarin, no help.

[2015-04-14 22:25] cra0zy commented on #3732
Can you create an android project with visual studio(not MonoGame)

[2015-04-14 22:37] NVentimiglia commented on #3732
As in a 'classical' java project? yes, I can.

[2015-04-14 22:40] cra0zy commented on #3732
No, I meant any xamarin android project that's not MonoGame Android project.... how do you even start a java android project with visual studio?

[2015-04-14 23:24] NVentimiglia commented on #3732
Yes, the C# android xamarin app works also.

[2015-04-15 00:02] KonajuGames commented on #3660
I have similar render performance problems associated with Google Chrome.
It comes and goes with various Chrome versions and video driver versions.
It is a known issue with Google Chrome (many users have reported it in
various forums and Chrome's bug tracker), but I don't think there has been
a firm fix for it yet.

There is nothing that MonoGame or SharpDX can do about it.

[2015-04-15 05:05] mjsalman opened #3733 "Texture does not show (its all black)"
I use Visual Studio 2012 and I have two projects one is an XNA Window game and the other one is MonoGame Window. They both use the same x file and my code in both projects is the same. Now in XNA my textures are rendered properly while in MonoGame they are not its all black. Am I doing something wrong

[2015-04-15 19:03] mrhelmut commented on #3733
Hello,

It may not be an issue. Could you please describe your problem and share your projects on [MonoGame's forum](http://community.monogame.net/) and close this issue until we are sure it is one?
Without further detail about how you handle your texture in both of your projects, it could anything.

Thanks!

[2015-04-15 20:24] xposure commented on #3660
@tomspilman @KonajuGames  I disagree, its something in SharpDX looking for some sort of exclusive access during a vsync. This is nothing to do with the GPU being busy, we are talking less than 1% cpu utilization. To prove it, launch 4 versions of the test projects given in either issue here and watch the delay between draw calls sky rocket. With 4 instances running the delay to return from Present

[2015-04-15 21:00] tomspilman commented on #3660
SharpDX is just a wrapper for DX11 and there is no concept as "exclusive access" to vsync in DX11 or any other graphics API.

It runs fine on my machine and I have a fairly mid-range machine (i7 2.6Ghz 8GB and a single Radeon HD 6900):

![desktop](https://cloud.githubusercontent.com/assets/103522/7169089/e58162c6-e387-11e4-913b-5d6000f67ff0.jpg)

As you can see I had 6 copies of your test running,

[2015-04-15 21:30] AquilaAbriel opened #3734 "MGFX - Set texture parameter ignored?"
Just a simple shader accepting a texture2d parameter to do some blending with the pixel shader texture:
[code]

Project code:

[code]
When running this shader it seems to work as expected, but on the next run (The next rendered frame) the parameter texture is ignored completely and only the pixel shader input texture is shown.
On the first run I can see a red and green picture resulting in some ye

[2015-04-15 23:36] #3733 closed

[2015-04-15 23:53] xposure commented on #3660
@tomspilman Since you had no issues with ATI, I wanted to test the SLI theory and managed to find a laptop with Nvidia to test and I had the same results as you, with 4 instances I was getting 16ms draw calls.

So I focused my attention on SLI and came across [this nvidia article](http://nvidia.custhelp.com/app/answers/detail/a_id/3283/~/what-is-smooth-vsync%3F) this would explain why my tests abo

[2015-04-15 23:55] mjsalman commented on #3733
I have attached the visual studio project. The x file was generated by blender. When I create an Xna project instead and use this file and the same c# code it works properly
Thanks Mike

From: Thomas Altenburger
Sent: Wednesday, April 15, 2015 3:04 PM
To: mono/MonoGame
Cc: mjsalman
Subject: Re: [MonoGame] Texture does not show (its all black) (#3733)

Hello,

It may not be an issue. Could you plea

[2015-04-16 08:13] tomspilman opened #3735 "Implement GenerateTangentFrames"
We need someone to implement `ModelProcessor.GenerateTangentFrames`.

You just need to check if `GenerateTangentFrames` is true in `ModelProcessor.ProcessMesh()`:

https://github.com/mono/MonoGame/blob/2d43afcc304bbcc53d45c2f31471192c8b1daa32/MonoGame.Framework.Content.Pipeline/Processors/ModelProcessor.cs#L149

If so then you need to pass the `MeshContent` into the existing `MeshHelper.CalculateT

[2015-04-16 08:22] #3614 closed

[2015-04-16 08:32] #3609 closed

[2015-04-16 09:38] Vangos commented on #3057
This is mostly a business question: we have invested on MonoGame to develop 3D avatar animation. This issue indicates that avatar animation is not feasible right now.

So, I would like to ask you the following:
1) Can we perform avatar animation using MonoGame with an alternative/workaround?
2) Should we use a different engine, other than MonoGame?

Please let us know, since we have invested quite

[2015-04-16 10:13] Shqrdx commented on #3735
Ummh, I tested, models really lacks tangent/binormal processing(model with these signatures is not drawable) for bump mapping.. sadly it is hard to testing unless you hack Pipeline.

[2015-04-16 10:28] nkast commented on #3734
I think you must change to this line `interpolator.CurrentTechnique.Passes[0].Apply();`

[2015-04-16 10:30] tgjones commented on #3057
@Vangos The actual fix should be fairly straightforward - initially, just a 1-line change to `ModelProcessor` and a 1-line change to `MaterialProcessor`, as I mentioned in my previous comment. Then a few more lines in `MaterialProcessor` to preserve material properties when a new material is created.

I would suggest (politely, although I realise it might sound sarcastic; I don't mean it to) that

[2015-04-16 11:05] Vangos commented on #3057
@tgjones Thank you very much for your fast reply. We didn't need to modify the source code before. We'll definitely give it a try. Since Microsoft killed XNA, MonoGame has been an incredibly good solution for us.

[2015-04-16 13:11] AquilaAbriel commented on #3734
Thank you nkast for your reply.
Unfortunately, the result stayed the same...
still the texture parameter seems to be ignored after the first frame.

[2015-04-16 14:59] KonajuGames commented on #3664
Added PR #3737 to fix this by writing the file uncompressed if the content compression fails for any reason.  I want to add a test suite since you have helpfully provided a small test file that exhibits the problem. @Eversor is it ok for us to include exp.wav in our test suite since it exhibits the issue?

[2015-04-16 15:52] AquilaAbriel commented on #3734
Okay, I think I have to add some more details about my code...
I figured out a way make this shader work as expected but I don't know why:

My draw method:
[code]
Once I deactivate the first three lines:

[code]

The shader works as expected.
Within this code I render the game screen:

[code]

I have no idea why this codes prevents the shader later applied to fail.
Maybe a timing issue? I remember

[2015-04-16 16:35] DDReaper commented on #3732
Ok, seems to be a bit of a NuGet cleanup issue that didn't appear on my machine.

Just remove the lines containing:
[code]
And the sample project should compile cleanly.

Will try and free some time to clean that up.

[2015-04-16 17:45] tomspilman commented on #3735
That is not accurate.  As I stated above all the support for generating tangent frames is already implemented.  We just need to check the flag and run it.

[2015-04-16 19:23] tomspilman commented on #2641
@humanapp - Looks like it just went up...

http://www.microsoftvirtualacademy.com/training-courses/advanced-monogame-for-windows-phone-and-windows-store-games

[2015-04-16 20:19] cra0zy commented on #3593
@tomspilman This can be closed, it has been fixed with #3632

[2015-04-16 20:28] #3593 closed

[2015-04-17 00:36] cra0zy opened #3739 "Replace copy.sh with .build file"
So with the last PR I separated generation part of the linux installer so that part of the installer can be done on the build server.

The idea is as following, replace the file: https://github.com/mono/MonoGame/blob/develop/Installers/Linux/copy.sh with ".build" file.

Currently copy.sh file is used to copy all the needed files to the Installers/Linux/Installer/, and this folder could be just add

[2015-04-17 06:30] Eversor commented on #3664
Yes of Course, feel free to add it!

[2015-04-17 06:50] KonajuGames commented on #3664
Thanks @Eversor

[2015-04-17 14:07] Chaosus opened #3740 "Official repo for MonoGame extensions ?"
Some people are conservative and dont like new classes or method etc.. but some peoples do not. The good examples of thing to be implemented are PrimitiveBatch,Circle,animation classes for skinned model,BumpMapEffect. I agreed there is too much things for single framework library - So a good variant is to create separate repo for all extensions.
Here is few notes... I suggest

1) (most important)L

[2015-04-17 14:59] dellis1972 commented on #3740
The repo @KonajuGames has is https://github.com/KonajuGames/MonoGame-Support
Having a separate extensions repo (or and official fork on the Support one) is a good idea IMHO

[2015-04-17 15:14] Shqrdx commented on #3740
I see.. its description is "Support assemblies that are not directly related to MonoGame but assist with porting games to platforms supported by MonoGame." - this intended to have complete different description. such as "Extensions support assembles that helps developers to create more complex scenes than raw MonoGame" Joke(something like this).

[2015-04-17 17:42] AquilaAbriel commented on #3734
I created and uploaded a small project demonstrating this issue.
https://mega.co.nz/#!qVs1nQzY!1k25owmaoi6dge4l6W1sBWofYMO4czhy5gHRuJcZJ0o

Maybe it is my own fault. Is the way I am using and switching the rendertargets correct?

[2015-04-17 18:19] tomspilman commented on #3739
Why part of and not all?  Where will the rest be done?  What files need to be moved around (we have to setup the build server to pass the right file around)?

[2015-04-17 18:35] tomspilman commented on #3729
I suspect this has more to do with when in your own code you do the resolution change.  Are you calling `ApplyChanges()` during update or draw?

[2015-04-17 18:44] cra0zy commented on #3739
Because this way you can use windows build server to create linux installer. After copy script is done you have a folder that contains:
Data (Folder)
Makeself (Folder)
generate.sh (File)
generate_deb.sh (File)

generate.sh can be run from linux or mac (or cygwin) and will generate linux .run package.
generate_deb has to be run from linux and will generate .deb package for Ubuntu and Debian.

[2015-04-17 20:45] tgjones commented on #3734
This looks very similar to an issue that was fixed last week. If you haven't already, try downloading the latest development build and see if that fixes the problem.

[2015-04-17 20:47] AquilaAbriel commented on #3734
Ah, thank you tgjones. I will try the development build than.
If the development build works correctly, I will close this issue.

[2015-04-17 20:59] AquilaAbriel commented on #3734
Thank you again tgjones. You were right. I tried development build 3.4.0.215 and well it works perfectly.
I hope this bug fix will be included into the stable release soon.
--Issue Closed--

[2015-04-17 21:00] #3734 closed

[2015-04-18 01:29] nkast commented on #3729
At the very beginning of `Draw()`. When I move it to the end, after `base.Draw()`, the result is a black screen. If I place it in `Updade()` the result is the same.

I made a mistake above. The code swap between x2 and x1. I changed the code to

which produce the following
![scaletohalf2](https://cloud.githubusercontent.com/assets/3018589/7213273/f91b02e2-e580-11e4-9b40-19f6ad11bfa6.jpg)

I am not

[2015-04-18 04:57] jinnin0105 opened #3743 "Video From File."
Monogame is doesn't support Video FromFile or Stream?
We really need to Video FromFile method...

video format is mpg ffmpeg.

sorry for developer

[2015-04-18 16:54] Marfusios opened #3744 "SharpDX from nuget not working"
Hello,

I installed Monogame 3.3 on fresh install of Visual Studio 2013 and I created Monogame Windows Project. After build and start I got an error that dependency is missing (SharpDX). So I used NuGet, it downloads latest version of SharpDX (2.6.3). After start, app throws exception:
Could not load file or assembly 'SharpDX, Version=2.5.1.0

Why monogame strictly dependent on version 2.5.1.0? By

[2015-04-19 00:43] tomspilman commented on #3739
But we can't really...  it only creates a part of the installer.  We still need a Linux box to do the rest.

IMO we should solve the core problem... we need to add a Linux box to the build system.

Cab `generate.sh` also be run from Ubuntu?  This means all we need is one Ubuntu box then correct?

[2015-04-19 06:11] cra0zy commented on #3739
The rest (running one of the generate scripts) takes less than 30 seconds, and when I separated the generation, I was thinking that this could be used for nightly builds, and for stable builds we could just run the generate scripts from any Linux manually.

Adding a Linux build server would also be a way of doing it. In which case copy.sh could be just connected to the .build file, and not have to

[2015-04-19 19:38] tomspilman opened #3745 "Archive The Old Forums"
We need to find a tool to archive the content (text, links, images) of the old forums:

 http://monogame.codeplex.com/discussions

We can then take them down to avoid confusing users as to where to ask questions.

The static archive can then be put on the new site in a read only state.

[2015-04-19 20:09] bloodyswamp commented on #3057
Hi @tgjones,

I tried to trace back those parts you suggested with no luck. Just "initially, just a 1-line change to ModelProcessor... ." is not helping at all. For me who just got into the MonoGame's source code is a difficult thing to do.

I added the DefaultEffect as a parameter in both the ModelProcessor and MaterialProcessor but that wasn't sufficient. Well, I don't even know if I was in the

[2015-04-19 21:44] cra0zy commented on #3745
Call be crazy but I made a software thats able to parse discussion pages and save their content...

Anyway just tell me the format you want everything saved as and I can save it. Currently it extract the following information from every post:
username
date
date edited
data(leaves html untouched)
It automatically goes over all the discussions > threads > posts.

[2015-04-19 22:09] cra0zy commented on #3745
If you want to modify it yourself for saving, feel free to do so:
https://mega.co.nz/#!DUAgnLIY!BR2Rj30jk-j1TCjtRVVPmlzA4naFd1ieQRU1fToMRgk

[2015-04-19 22:22] cra0zy commented on #3745
PS. You probably want to save stuff in Topic.cs line 50, so that it doesn't consume to much RAM.

[2015-04-19 22:38] tomspilman commented on #3745
I thinking of just a static mirror of the existing content.

It would be interesting to "import" the content into our instance of Discourse (http://www.discourse.org/), but I wouldn't know where to begin with that.  It would make it all searchable which would be nice.

[2015-04-19 23:08] cra0zy commented on #3745
I can just set everything to be exported to any static way, I would only need a template to use for exporting(how the webpage should look, html, javascript and css files, or maybe mysql database and just import it from somewhere later?).

Not impossible, but it does sound like a lot of work. This looked interesting(for seeing how to write import scripts): https://github.com/dkobia/discourse-import

[2015-04-19 23:19] tomspilman commented on #3745
We could develop something based on our current website theme maybe.

I don't know what would be best here really.

Yep... it does.

I guess something like that would need to happen.  Not sure of what the options are within Discourse for that sort of thing.

[2015-04-20 00:52] tgjones commented on #3057
Admittedly, I hadn't actually written out the code at that point, but it's not far off my estimate. Here's a more detailed version of what I think needs to happen:

In `ModelProcessor`, add this to `ConvertMaterial`:

[code]

In `MaterialProcessor`, add this to the beginning of `Process`:

[code]

[2015-04-20 03:52] nkast commented on #3745
Years ago I used httrack, not sure if there is anything more advanced nowdays.
It's a classic for crawling and creating a static copy of a website.
http://www.httrack.com/

[2015-04-20 04:46] KonajuGames commented on #3743
I don't see any such method in XNA's documentation for the [Video](https://msdn.microsoft.com/en-us/library/microsoft.xna.framework.media.video_members(v=xnagamestudio.40).aspx) class.  It should be possible to add it for most platforms.

[2015-04-20 21:25] tomspilman commented on #3230
Anyone have time to investigate this one?

[2015-04-20 21:52] nkast commented on #3230
the error must be at line 65, it has to out output `"%1"` at the end of the registry key and possibly wrap the path with quotes as well. But I am not familiar with the sintax of this installer.
https://github.com/mono/MonoGame/blob/develop/Installers/Windows/MonoGame.nsi#L65
the output should look like this
`"C:\Program Files (x86)\MSBuild\MonoGame\v3.0\Tools\Pipeline.exe" "%1"`

[2015-04-21 05:38] tomspilman commented on #2167
Sorry... this slipped down into the bowels of my inbox. :)

The sampler states are all an MGFX feature... so they can look however we want them to.

So maybe it can be like this:
[code]
... or like this...
[code]
It would be up to us to transform this into valid GLSL after the MGFX parser gets done with it.  So we would be altering it to remove the sampler state data before it is passed into any G

[2015-04-21 15:56] tgjones commented on #2167
Yes, but the current syntax is entirely from D3D, so I just wanted to check that we're happy wedging that into GLSL. Your suggested syntax makes sense though - and declaring sample state properties is an optional feature, so people can just declare samplers using standard GLSL if they want to:

[code]

Last question for now: how is the parser going to know which version of the parser to use? I ass

[2015-04-21 17:38] cra0zy opened #3748 "Pipeline Tool Start Page"
I was thinking that instead of opening the last opened project on startup we present the user with a page that offers all recent projects (and maybe MonoGame News?).

@tomspilman @nkast I would like to hear your opinion on this.

[2015-04-21 17:46] tomspilman commented on #3748
It is duplicate work... we already have a recent projects menu.  It isn't like opening projects is the bottleneck to productivity.

IMO we can't even consider this while https://github.com/mono/MonoGame/issues/3230 is still an issue.

It would make sense if the pipeline tool was the central tool everyone opens to start a new MonoGame project....    but it isn't.

It would be like Notepad having "W

[2015-04-21 18:06] tomspilman commented on #3046
![uimock](https://cloud.githubusercontent.com/assets/103522/7259192/49c306f6-e827-11e4-867b-97f6534c4a1b.png)

@cra0zy - Thoughts?

[2015-04-21 18:08] tomspilman commented on #3164
Anyone have time to write a template or two for this in the next week before Build?

[2015-04-21 18:09] tomspilman commented on #2999
There is a PR for this...  I need to refresh and merge it.  https://github.com/mono/MonoGame/pull/3009

[2015-04-21 18:11] cra0zy commented on #3748
Agreed.

[2015-04-21 18:12] theZMan commented on #3046
I like it better... I'm always having to scroll the output window left and right

I'd love an errors only view too - thats what 90% of my workflow is..

[2015-04-21 18:14] cra0zy commented on #3046
I personally like the existing layout (I keep Solution Explorer and Properties on the left positions everywhere).

Why don't we make something like monodevelop/visual studio windowed system where you can change position of the windows?

[2015-04-21 18:17] tomspilman commented on #3046
Mostly because docking systems are tricky to get right and we would have to build two from scratch... one for WinForms and one for GTK.

Also the Pipeline tool isn't MonoDevelop or VisualStudio.  We have only 3 windows... there isn't much to organize.  If we can't come up with a single layout that works well for everyone then we suck. :)

[2015-04-21 18:21] Thraka opened #3749 "[3.3] OpenTK crashes if you exit on windows without calling dispose on textures"
I don't use the content pipeline and I just load textures by hand using `Texture2D.FromStream` or `new Texture2D`. With 3.2 I had no problems. When I upgraded to 3.3 I suddenly get this exception from OpenTK when I close the game window:

[code]

[2015-04-21 18:24] cra0zy commented on #3046
How about having few preset layouts and just giving an option to the user to choose the one he likes?

[2015-04-21 20:57] tomspilman commented on #2167
Seems better to crib syntax from HLSL than invent a new one.

That is unless Vulcan has added something like this to the new GLSL spec?

I don't know.  I was hoping not to have like `myeffect.fx` and `myeffect.glfx`.

We could maybe use a regex to count keywords for hlsl and glsl and guess based on frequency of keywords for one over the other.

We could look for the `VertexShader = compile glsl_14

[2015-04-21 21:02] theZMan commented on #2167
`VertexShader = compile glsl_140 vertexShader()` seems like a rather clean way of identifying what to do unless it means parsign the whole file twice - once to find the Shader declaration and then again to parse it the right way

[2015-04-21 21:04] hach-que commented on #2167
This is why I think we should just define our own shader language and cross compile into DirectX and Vulkan byte code.  For legacy GLSL-only platforms we could then do what we currently do and cross compile the DirectX bytecode to GLSL.

[2015-04-21 21:07] theZMan commented on #2167
Nobody needs a new shader language...

MonoGame is not a big enough player to force learning something new on the world IMO even if it is the cleanest solution to the problem

[2015-04-21 21:13] tomspilman commented on #2167
It shouldn't... parsing the MGFX part of the effect is not platform specific.

https://github.com/mono/MonoGame/blob/develop/Tools/2MGFX/ShaderInfo.cs#L72

We should not...  this is exactly what the problem is.  We don't need more languages.

If MonoGame was a "Game Engine" we would define a language for domain specific shaders like Unity or/and Unreal.  We would not write the equivalent to HLSL o

[2015-04-21 21:13] hach-que commented on #2167
I'd be surprised if Unity, Unreal and Source didn't go in that direction though, and it's almost guaranteed that they won't be the same language.

At the end of the day, MonoGame's / XNA's shader language is already custom; it's an extended version of HLSL with extra features so that MonoGame has appropriate metadata at runtime.  It's also significantly different to what other game engines are usi

[2015-04-21 21:25] theZMan commented on #2167
You are not wrong...

But MonoGames biggest selling point is that its XNA... making a big change even if its HLSL like is moving away from that goal. I we had 12 gazillion users like Unity and Unreal its much easier to make a change like that.

XNA's extensions are not XNA specific are they? I think it just used the DirectX effect files. So it was well documented by Microsoft.

[2015-04-21 21:27] tomspilman commented on #2167
MonoGame isn't a game engine... that is the point.  If we were we would do what Unity, Unreal, and Source do... define high level languages for domain specific shading.

We have a plan... it is a good one... we're not changing it.

[2015-04-21 21:29] hach-que commented on #2167
Nobody is suggesting we get rid of XNA functionality.  If you want to compile XNA shaders you could still do that, but obviously that requires Windows to compile because you need access to the DirectX APIs that parse HLSL.

My suggestion is to have an XNA/HLSL-like shading language that doesn't have this requirement (because we do the parsing and translation to bytecode in C#).  I say HLSL-like be

[2015-04-21 21:37] tomspilman commented on #3270
@tgjones - Let's move the rest of the GLSL discussion here...  #2167 has become a mess.

[2015-04-21 21:39] tomspilman commented on #2167
Then what?  How does it go from this language to DirectX shader bytecode?

[2015-04-21 21:47] hach-que commented on #2167
You write out the DirectX shader assembly or bytecode like you would compiling any language.

See https://msdn.microsoft.com/en-us/library/windows/desktop/bb219840%28v=vs.85%29.aspx for the assembly reference.  It doesn't appear that there's a bytecode reference, although  it should be possible to use D3DDisassemble to pair up assembly instructions with the resulting byte code (this is rather anno

[2015-04-21 21:48] tomspilman commented on #2167
So we just skip over all the optimizations the hardware specific optimizations HLSL compiler provides?

Same for the hardware specific optimizations that Sony's PSSL compiler provides?

This seems like a bad idea.

[2015-04-21 21:51] hach-que commented on #2167
How is HLSL going to be doing hardware specific optimizations when the same compiled shader (bytecode) is used on NVIDIA, AMD and Intel cards?

Unless you mean optimizations in general, but that's got nothing to do with hardware specific code.

[2015-04-21 22:01] KonajuGames commented on #3046
It would eliminate most of the left-right scrolling if we removed the
content root from the path listed for every file processed. The content
root is already known from the location of the mgcb file.

[2015-04-21 22:08] tomspilman commented on #2167
It does... I can't find the slide decks now, but MS has talked about the things the HLSL compiler does under the hood before.  Basically they know what is a common fast path on most shipping hardware and optimize to that path.  It is all a lot more than you expect... this is why compiling HLSL is a slow process.

I stick to my assertion that thinking we know better than the DirectX team or Sony en

[2015-04-22 01:04] emarcotte opened #3750 "Sprites not rendering with rebuilt effects"
Hi,

After a long while not pulling any changes from github, I just updated my linux system with the latest of the develop branch. After doing so, none of my sprites render at all in a simple 2d game.

Doing a bisect from v3.3 to the latest seems to indicate that commit c089aa8b3ba93b10b09800d8fc9f272d202336a3
 from https://github.com/mono/MonoGame/pull/3706 is the first one where they all disappe

[2015-04-22 01:31] emarcotte commented on #3750
Quick note: The depth on the draw call seems to be important and relevant to the change. Setting the depth to 0 the sprites show up, setting to 1 they do not. I do not have a proper XNA capable system to compare behavior.

[2015-04-22 01:33] tomspilman commented on #3750
@tgjones - Ideas?

[2015-04-22 03:08] tgjones commented on #2167
@hach-que That's a nice idea, but it's just not possible. The D3D compiler inserts a checksum into the compiled shader, and no-one outside MS knows the algorithm to calculate that checksum. (And I should know, I wrote a [D3D bytecode disassembler](https://github.com/tgjones/slimshader).) It's certainly possible to go from bytecode back to shader code, but not currently the other way around, becaus

[2015-04-22 09:38] KakCAT opened #3752 "(WP8.1, WP10) Virtual navigation bar hides part of the game screen"
When using a device with virtual navigation bar, part of the game is obscured behind the virtual navigation bar.

The virtual bar may or may not be automatically hidden depending on user configuration, so I suppose this should be handled by monogame.

https://msdn.microsoft.com/en-us/library/windows/apps/xaml/dn792127.aspx
"Note that SuppressSystemOverlays only has this effect on the nav bar if Se

[2015-04-22 13:40] KonajuGames commented on #3752
From that MSDN page, it would appear that WP apps will need to handle, in the case of Nokia 630 for example, 800x480 and 854x480 depending on what the user has set the auto-hide setting to.  The `SuppressSystemOverlays` property is set to true by default for all games (anything in the Games category).

Does the `VisibleBoundsChanged` event still work for games when the nav bar is shown or hidden?

[2015-04-22 14:26] KakCAT commented on #3752
I think the 'game category' is set at the store, so development builds will not have that value set to true by default until they're published or associated with the store. To avoid release surprises, the value should probably be set to true (or false) always.

In the WP8.1 emulators (720p and up) Pressing ">>", sensors, software buttons allows you to add software buttons to the device, just in ca

[2015-04-22 17:38] LightAndrek opened #3753 "[WP8.1] Portrait size not correct"
Using the latest WP8.1 development build if you create a game in portrait mode, setting in Game1.cs and in the manifest

[code]

sceen width will be the height and viceversa.
Example: on a 800x480 device a normal portrait resolution would be 480x800 but MonoGame leaves width = 800 and height = 480 stretching the content to fit the screen size.

I managed to solve the problem using this:

[code]

I

[2015-04-22 18:38] Temeez opened #3754 "Pipeline - System.Exception could not load .spritefont"
Windows 8.1, newest prebuild dev build.
Font [menufont.spritefont](https://github.com/CartBlanche/MonoGame-Samples/blob/master/GameStateManagement/Content/menufont.spritefont)
Picture of the problem: http://i.imgur.com/kFuy03w.png

Is the spritefont building completely busted, or does it not like certain .spritefont files? Or am I perhaps missing something?

Also the pipeline window got the black

[2015-04-22 19:08] tomspilman commented on #3754
I think the system you are on does not have the Segoe UI fonts installed.

[2015-04-22 21:06] cra0zy opened #3755 "So, Google 2.0 id api is gone, community.monogame.net needs updating"
So if you try to sign in to community.monogame.net you will be presented with: https://support.google.com/accounts/answer/6206245?p=openid&rd=1
because yesterday(for my timezone) they removed the old api.

[2015-04-22 21:28] tomspilman commented on #3755
I'll fix it today.

[2015-04-22 22:01] tomspilman commented on #3755
@cra0zy - Try it now.

[2015-04-22 22:03] cra0zy commented on #3755
It's alive, Alive!!!!

[2015-04-22 22:03] #3755 closed

[2015-04-22 22:48] tomspilman commented on #3753
@LightAndrek - Can you try setting the `graphics.SupportedOrientations` in your `Game` constructor instead of `Initialize()`?

[2015-04-22 23:02] LightAndrek commented on #3753
@tomspilman Tried right now, the issue is still there.

[2015-04-22 23:51] craftworkgames commented on #3405
I just wanted to pipe in here and say that this is the point of using PCL's:

Game engine DLLs reference the PCL version of MonoGame. The executable game projects reference a platform-specific version of MonoGame -- standard bait-and-switch PCL.
That means, if you write a graphics engine using MonoGame, you only need one MyGraphicsEngine.csproj which produces one MyGraphicsEngine.dll which runs on

[2015-04-23 06:52] Temeez commented on #3754
That is a huigh possibility, need to check when I get home.

Follow up question: Why does the system that builds the font need it to be installed? It feels a bit "handicapped".

[2015-04-23 07:21] tomspilman commented on #3754
That is how it worked under XNA too.  Sprite fonts need the true type font being used to be installed.

That said we have a feature for Mac/Linux where it can use a ttf font that is in the same folder as the .spritefont.  This feature just isn't implemented under Windows yet.

[2015-04-23 13:30] Temeez commented on #3754
Glad to hear that feature is in the works.

Also, looks like I had Segoe UI font installed, but it was looking for Segoe UI Mono which wasn't and got butt hurt because of that, slightly edited the .spritefont file and now it builds without problems.

Thanks @tomspilman :)

[2015-04-23 13:30] #3754 closed

[2015-04-23 16:10] totallyeviljake opened #3759 "2MGFX not building - missing VirtualFile"
After update to latest MG and protobuild, the 2MGFX project (contained in MG.Windows) will not compile. It is missing the VirtualFileSystem and VirtualFile classes.

I don't see these files in the repo either.

[2015-04-23 16:25] totallyeviljake opened #3760 "Async dispose causes concurrent mod exception"
During the async dispose of resources in iOS (OpenGL) you will get a concurrent modification exception during the PlatformDeleteRenderTarget. I have fixed it in our fork of MG. You can see my bug report here:

https://github.com/Cocos2DXNA/cocos2d-xna/issues/471

and you can see my changes to the OpenGL GraphicsDevice here:

https://github.com/Cocos2DXNA/MonoGame/commit/47bec75605efabd17656356e955

[2015-04-23 16:28] mgarstenauer commented on #3672
Just a quick update: I finally found the time to investigate this OpenAssetImporter issue.

The OpenAssetImporter assumes that all transformation pivots are reset before exporting, which is the recommended practice. But in this case the transformation pivot of the root bone is not reset.

I have extended the OpenAssetImporter to handle these cases. I will provide a PR shortly.

[2015-04-23 17:07] tgjones commented on #3750
@emarcotte Can you try finding out the maximum `layerDepth` you can use before the sprites disappear? 0.999? 0.5? Knowing that would help track the cause down.

[2015-04-23 17:14] tgjones commented on #3759
Maybe you need to run `git submodule update`? I've just checked and it compiles okay for me, after recreating the project file using Protobuild. `VirtualFile` and `VirtualFileSystem` are in the `CppNet` assembly, which is referenced by `2MGFX`. `CppNet.dll` is in the MonoGame-Dependencies submodule.

[2015-04-23 17:47] totallyeviljake commented on #3759
yeah, looks like it was an out of sync deps. thanks

[2015-04-23 17:47] #3759 closed

[2015-04-23 18:43] totallyeviljake commented on #3749
+1 this happens every time I close an OpenGL project with MonoGame. It's in the finalizer of the GrahpicsResource class. The MainWindow is not valid when the finalizer is invoked, so the RunOnUIThread calls fail because they use the window context for thread management.

This happened last year and @thefiddler was going to look at it. I believe a change was made to address this issue, so this may

[2015-04-23 21:43] tomspilman commented on #3672
Thanks @mgarstenauer !

[2015-04-23 21:54] #2641 closed

[2015-04-23 21:55] tomspilman commented on #3760
@prollin  @cra0zy - Thoughts on this?

[2015-04-23 22:14] prollin commented on #3760
@totallyeviljake good catch. Would using ConcurrentDictionary instead be simpler?

[2015-04-23 23:17] emarcotte commented on #3750
@tgjones 0 seems to be the max and -1.0 seems to be the min, or at least within a .0000001ish

[2015-04-24 00:20] totallyeviljake commented on #3760
Not sure about ConcurrentDictionary.

My commit is missing a couple of places where lock should be used. If concurrent dictionary supports changes during iterations then I suppose it will work. Otherwise, not ...

[2015-04-24 01:38] totallyeviljake commented on #3760
I did test my changes and with rigorous tapping I was not able to get the exception that once plagued the app. If concurrent dictionary is a better approach then we should use it. I have not used that class.

[2015-04-24 03:27] KonajuGames commented on #2167
For reference, here's an article about doing a cross-compilation of shaders. Might find some useful tips in there.
http://www.gamedev.net/page/resources/_/technical/apis-and-tools/shader-cross-compilation-and-savvy-the-smart-shader-cross-compiler-r4038

[2015-04-24 07:44] Vangos commented on #3057
Thank you for your kind reply. We tried the workaround and it didn't work. Seems there's something missing.

[2015-04-24 16:48] paewie commented on #3749
+1 and exactly the same problem on other platforms (at least Linux) as I already stated in addition to #3540. So this is (sadly) not Windows-only, even if Linux seems to be much more stable (very, very rare).

[2015-04-24 18:58] prollin commented on #3760
ConcurrentDictionary would simply remove the need to lock the `glFramebuffers` everytime.

That being said, I know XNA let you do that, but maybe it should be a well documented platform behavior to simply let the user deal with calling graphics stuff on the Main/UI thread. All those safeguards are costly and causes all kind of performance bottlenecks for ppl who don't know.

[2015-04-24 20:07] tomspilman commented on #3760
Assuming we do that...  it would have to be more than docs.  We would have to throw an exception that explicitly states you can only free that resource from the main UI thread.

But really I don't think we should take that path.  The new APIs... Metal and Vulkan seem to have good support for threading like DX does.  Lets not introduce a special rule for GL that within a year will go away... especi

[2015-04-24 23:42] shelbyladallen opened #3764 "xamarin template addin not generated successfully"
maybe I misunderstand, but wasn't the development branch supposed to add template support for monodevelop/xamarin? I'm trying to build the addin using the project, it claims to succeed, but xamarin can't find any addins to install.

[2015-04-24 23:57] tomspilman commented on #3764
@shelbyladallen - We actually just put the download link up for the development version of the MonoGame installer for Mac...

 http://www.monogame.net/downloads/

Maybe you should give that a try?

[2015-04-25 00:05] dellis1972 commented on #3764
The Project does not produce the .mpack that you need to install the addin into Xamarin Studio. You have to run a bunch of mdtool commands to get that to work. Check the default.build script in

IDE/MonoDevelop

You will see some calls to mdtool setup etc. Alternatively just run nant in the IDE/MonoDevelop directory and it will generate it.

That said, I just published a new version in the Beta ch

[2015-04-25 00:17] shelbyladallen commented on #3764
first off it's amazing you both responded so quickly.

I'm trying both solutions and will report back.

On Fri, Apr 24, 2015 at 8:06 PM Dean Ellis <notifications@github.com> wrote:

[2015-04-25 00:48] shelbyladallen commented on #3764
Ok the binary worked like a charm! the templates are there. I tested the
monomac one and it worked immediately.

I also tried the opengl one and got "File 'OpenTK.dll.config' already
exists in project. Do you want to overwrite it?". Just fyi

I tried the other method but was having trouble finding/installing nant,
i'm a little short on sleep so that's probably my bad.

Thanks again!

On Fri, Apr 2

[2015-04-25 00:51] tomspilman commented on #3764
exists in project. Do you want to overwrite it?". Just fyi

Interesting... @dellis1972 ?

[2015-04-25 08:15] cra0zy commented on #3764
The reason it occurs is because you can't set files from nuget packages to copy if newer, so the config file had to be included in both nuget package and project template.

[2015-04-25 08:29] dellis1972 commented on #3764
what @cra0zy said :) Closing this issue as it worked :D

[2015-04-25 08:29] #3764 closed

[2015-04-25 09:04] kvenkateshan opened #3769 "ContentPipeline - TextureContent::ConvertBitmapType(typeof(Dxt5BitmapContent))"
I am getting a crash here while running a custom processor that includes the following line:
TextureContent.ConvertBitmapType(typeof(Dxt5BitmapContent));

It says the operation or method is not implemented. Not sure if this is of any significance, but I am running a command line that in turn invokes the MGCB.exe command line tool with the correct parameters to invoke a custom importer and processo

[2015-04-25 17:21] EdvinM opened #3770 "Content.Load issue for Windows Phone 8 template."
Hello. I have downloaded the latest version of monogame, from teamcity. Then, I used the Windows Phone 8 template for my game, and tried to load a simple content file. But I get the "Object reference not set to an instance of object" exception for Content.Load line. I tried also to set up another project, but the same.

Here are the exception details:
+		$exception	{System.NullReferenceException:

[2015-04-25 17:46] #3770 closed

[2015-04-26 04:52] tomspilman commented on #3769
Hi @kvenkateshan.

I suspect this is the culprit...

https://github.com/Mono-Game/MonoGame.PS4/blob/ff56440d9e272261ee8688529d88610b7099ca49/MonoGame.Framework.Content.Pipeline/Graphics/DxtBitmapContent.cs#L49

We just need to get this path implemented.

I can't get this done until the end of next week if someone doesn't beat me to it.

[2015-04-26 05:09] danzel commented on #3769
You linked the wrong repository @tomspilman

[2015-04-26 05:09] danzel commented on #3769
https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework.Content.Pipeline/Graphics/DxtBitmapContent.cs#L49 probably :)

[2015-04-26 05:13] tomspilman commented on #3769
@danzel - Yep... I did. fixed!

[2015-04-26 06:42] tgjones commented on #3270
So as a final check before I write some code, the proposal is that you would be able to write GLSL-based MGFX files in this format:

[code]

We will detect GLSL by pre-scanning the file for a `compile` directive, and looking at the shader profile.

We will strip out the MGFX-specific stuff - sampler state properties, other states such as rasterizer states, and the `technique` block - from the fina

[2015-04-26 06:48] KonajuGames commented on #3270
That looks like a good start to me.

[2015-04-26 06:59] tomspilman commented on #3270
That looks about right to me.  Seems like the first thing one would think of if you said an GLSL FX file... which is a good thing.

Ideally this would only require some slight modifications to the existing MGFX parser and not something entirely new.

Yea... I think that is probably the easiest way to do it as all FX files require one.

However... another thought here... we already have to pass the

[2015-04-26 15:57] KonajuGames commented on #3769
I have an implementation for this in my WIP [Etc1BitmapContent](https://github.com/KonajuGames/MonoGame/blob/etc1/MonoGame.Framework.Content.Pipeline/Graphics/Etc1BitmapContent.cs#L52) and @dellis1972  contributed the [ATC version](https://github.com/KonajuGames/MonoGame/blob/etc1/MonoGame.Framework.Content.Pipeline/Graphics/AtcBitmapContent.cs#L37) that should be used as a basis for the DXT versi

[2015-04-26 18:36] totallyeviljake commented on #3760
@prollin Check the stack trace Phillipe. The "call on UI thread" is not the solution here. Access to the FB is being handled on the UI thread, but the async dispose is not. There is at some point no way to require a user to manage thread access.

[2015-04-26 19:18] #2780 closed

[2015-04-27 06:50] tomspilman opened #3772 "Random For Games"
The main problem I've run into is that the `Random` on different versions of C# while using the same seeds do not result in the same sequence. This is mainly between Mono and .NET.

We've also found the stock .NET `Random` is pretty slow. Even when doing integer randomization it under the hood uses doubles:

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Random.cs#L168

Wors

[2015-04-27 06:53] Shqrdx commented on #3772
First we need contrive its name - I suggest GameRandom.

[2015-04-27 06:54] tomspilman commented on #3772
`Random` seems like a good name on its own.  Let the namespace do the rest of the work.

[2015-04-27 06:55] Shqrdx commented on #3772
So every time I write "using System" I also should write "using Random = Microsoft.XNA.Framework.Random" ?

[2015-04-27 07:18] Shqrdx commented on #1565
Ok, I close this issue. Its really unneccessary. In such case developers could create library manually without template helps.

[2015-04-27 07:18] #1565 closed

[2015-04-27 07:28] Shqrdx commented on #2978
@tomspilman I dont understand what this issue means. The target of Vector2 overload is for smoothing movement of sprite and this execute this purpose very well.

[2015-04-27 07:42] tomspilman commented on #2978
It means that if you render a sprite using `SpriteBatch.Draw` which takes a `Vector2` for position.  And that position is `Vector2(10.5f, 10.5f)`.  It renders the sprite at 10,10.

This means somewhere within the draw that uses `Vector2` for positions we're rounding to integer boundaries.  This is fine for the `SpriteBatch.Draw` that takes an integer `Rectange` ...  but not for one that allows for

[2015-04-27 08:04] Shqrdx commented on #2978
Hmm, the thread creator wants that 10.5 to be blurred between 10 and 11 through pixel shader. It could be useful for 3D sprites or something ?

[2015-04-27 08:19] tomspilman commented on #2978
The only thing that is important here is that this is different from how XNA does it.

Should be simple to setup a unit test for this and fix the implementation.

[2015-04-27 09:18] BaseCrosser commented on #3772
I was searching for a good `Random` implementation because of the difference between Mono and .NET `Random` a while ago.

I found `FastRandom` at <a href="http://www.codeproject.com/Articles/9187/A-fast-equivalent-for-System-Random">CodeProject</a>. Maybe this would be a good candidate. It has a article explaining what the difference is and why it is faster.

I hope this helps and thanks for the w

[2015-04-27 10:20] Nezz commented on #3752
https://github.com/mono/MonoGame/issues/3457

[2015-04-27 10:58] cra0zy commented on #3772
I agree with you on that one.

Doesn't sound nice, how about "Rng"? Literally every programmer and gamer I've met is calling it that anyway...

[2015-04-27 12:17] Shqrdx commented on #3772
Rng ? from "Range" ? Sounds like C++. There are few other variations : MGRandom, RandomEx, Randomizer,

[2015-04-27 12:19] cra0zy commented on #3772
Rng means random number generator...

[2015-04-27 12:20] cra0zy commented on #3772
I stand corrected...

[2015-04-27 12:21] Shqrdx commented on #3772
Ah, my bad english.. (

[2015-04-27 12:44] WardBenjamin commented on #3772
I agree that the class should not be called `Random` because it conflicts with the `System.Random` class, but maybe the random class could be nested within MathHelper? It would be accessed as:

    using Microsoft.Xna.Framework;
    int randInt = MathHelper.Random.NextInt();
    int rantInt0 = MathHelper.Random.NextInt(23, 439);

This seems like a fairly good solution to me, and I'm interested in

[2015-04-27 13:59] WardBenjamin commented on #3772
For the actual algorithm, I am going to suggest either a simple xorshift or xorshift*. This is much simpler than PRNG algorithms such as MT, and actually passes more of the BigCrush tests than the MT (int the case of xorshift*). I am suggesting xorshift* rather than xorshift+ because, though xorshift+ is slightly faster, xorshift* is slightly more "secure" and passes more BigCrush tests. (I know t

[2015-04-27 14:00] KonajuGames commented on #3772
I agree it does appear ambiguous if our class was called `Random` as well, but the other side is how often do you reference the class type?  Once to create the instance and then the ambiguity is no longer a concern because from that point on you use the methods and properties of the instance.

Your example uses it like a static class, which it shouldn't be.  You create an instance with a known see

[2015-04-27 14:08] KonajuGames commented on #3772
I think [xorshift](http://en.wikipedia.org/wiki/Xorshift) looks like a good candidate.  The particular variant is not a huge factor, I think.

[2015-04-27 14:09] WardBenjamin commented on #3772
Relating to your first comment, this could be used in an identical way to what you say, actually. An xorshift is a seeded random number generator, so it is easily viable (maybe 20 LOC) to have this structured in an instance rather than as a static class. I'll write something up during lunxh and submit it for review as a PR.

[2015-04-27 14:10] theZMan commented on #3772
In 10+ years I've never seen Random show up on a profiling report what are you guys doing with it :-)

The missing methods are trivially added with Extension methods also - I'm sure all of us have a library of those to share.

However the lack of consistency between Mono and Microsoft isn't good - I'm sort of amazed that Mono didn't try to match Microsoft but it probably predates any agreements on

[2015-04-27 14:12] KonajuGames commented on #3772
Given that the variant is not a huge factor, based on the implementations on that Wikipedia page I linked to, I would much prefer the xorshift64 implementation that uses a single uint64 seed rather than the xorshift1024 that uses an array of 16 uint64 values and an int.

[2015-04-27 14:14] WardBenjamin commented on #3772
I can definitely do that. I like that there can be multiple seeds with the xorshift1024, which can be generated using a simple permutation of a single number, but I'll start at least with xorshift64 and we'll see from there.

[2015-04-27 14:17] WardBenjamin commented on #3772
Also, is there anywhere that I can find coding conventions for MonoGmae? I have only contributed a simple Protobuild fix previously.

[2015-04-27 14:21] tgjones commented on #3772
As a twist on the above suggestions, how about calling it `Random`, but making it a nested class inside `MathHelper`? That way you'd get the advantage of using a sensible name, but without the conflict with `System.Random`. You'd have to reference it by the scoped name, `MathHelper.Random`.

[code]

[2015-04-27 14:23] WardBenjamin commented on #3772
@tgjones Yeah, that is identical to what I suggested in my first comment, combined with KonajuGames's suggestion. I think it's the way to go.

[2015-04-27 14:26] tgjones commented on #3772
@WardBenjamin Ah, sorry - I misread your suggestion. In that case, ignore my previous comment :)

[2015-04-27 14:26] WardBenjamin commented on #3772
No problem :)

[2015-04-27 14:29] KonajuGames commented on #3772
See [Contributing to MonoGame](https://github.com/mono/MonoGame/wiki/Contributing-to-MonoGame).

[2015-04-27 16:15] WardBenjamin opened #3774 "Formatting in MathHelper"
While working on the new Random class, I noticed that (since my IDE differentiates) the MathHelper class is poorly indented, with some functions for some reason using only one layer of indentation, and tabs at that. Can I have permission to change the formatting a bit @tomspilman ? I will try to keep it as minimal as possible.

[2015-04-27 16:24] KonajuGames commented on #3774
We prefer not as part of a feature addition or bug fix PR because it adds a
lot of noise to the changes in the PR, making it harder to review.

There will be a formatting pass done at some point. It's all down to
choosing a good time to do so.

[2015-04-27 16:28] WardBenjamin commented on #3774
Of course as not of the feature addition, but it is very hard on the eyes. I understand the reason not to do formatting since it breaks the line change history badly, but it's messing up the formatting with the new class. Should I just ignore it and continue?

[2015-04-27 19:59] cra0zy commented on #3774
I am a bit confused... this class:
https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/MathHelper.cs
looks perfectly fine. What do you mean by "one layer of indentation"?

[2015-04-27 20:24] jamesford42 commented on #2978
@Shqrdx if you have a moving 2d sprite, for example a bullet moving across the screen, that bullet will appear to move more smoothly (and in fact will be moving more smoothly) if it is allowed to render with subpixel percision. Snapping it to pixel coordinates will cause obvious 'jerks' especially if moving at a very slow speed.

[2015-04-27 20:25] jamesford42 commented on #2978
Oops, missclick.

[2015-04-27 20:28] WardBenjamin commented on #3774
If you check, the last two functions have a bunch of tabs (mixed with spaces) which look fine in the Github text viewer but do not if you have you have your IDE set to 4 spaces == 1 tab.

[2015-04-27 20:49] cra0zy commented on #3774
oh yea, you are right.

[2015-04-27 20:57] tomspilman commented on #3774
No...  lets not make any formatting changes.  It always makes the PRs harder to approve.  And if I say yes now... then how can I say no to others later.

[2015-04-27 20:57] #3774 closed

[2015-04-27 21:06] WardBenjamin commented on #3774
@tomspilman I was not suggesting that the pull request contain these edits, only that they be done to improve code readability and such. I have no problem with this decision however :+1:

[2015-04-27 21:36] tomspilman commented on #3772
Note we can totally crib ideas for the MonoGame implementation from the CoreClr code:

 https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Random.cs#L168

Also i came across this trick reading an [old Coding Horror post on how to randomly sort a deck of cards](http://blog.codinghorror.com/shuffling/):
[code]
It reminds me that `Random(Environment.TickCount)`... which is what .NE

[2015-04-27 21:46] runelaenen commented on #3189
For OpenRCT2Launcher I also used Certum to get a code signing certificate.
To get the pfx file you just have to download this programm: https://www.digicert.com/util/
On my computer, it detected the files automatically (I think because they were installed on my browser from on the certum website). Just go to the code signing tab, select your key and hit Export.
Good luck

[2015-04-27 21:47] tomspilman commented on #3189
@runelaenen - Thanks...  I really need to fix this ASAP.

[2015-04-27 23:43] WardBenjamin commented on #3772
Currently, I have the random number gen seeded by a value xor'ed from System.DateTime.Now's elements, which seems to be satisfactory but can later be changed. I will submit a pull request as soon as I write a function to change the range of the ulong that is currently fed out of my xorshift function to int range. After that I will write functions for float, double, etc.

[2015-04-27 23:45] KonajuGames commented on #3772
There was a well-known online poker cheat where the shuffling of the cards was determined by a RNG seeded from the server time.  Since the server time was predictable, the cheaters could predict the cards that would come out next.

[2015-04-27 23:46] WardBenjamin commented on #3772
Huh, that's true. I will change it to use a GUID if everyone agrees. It's going to be kind of difficult to do that since it's xor'ed down to the millisecond, but that's not a problem to change.

[2015-04-27 23:51] WardBenjamin commented on #3772
Also, currently I am using a ulong as the seed. Is this acceptable? It is the easiest to consider when generating the numbers using bitwise operators, but could be changed with a little bit of typecasting.

[2015-04-28 00:15] tomspilman commented on #3772
Sure... that is fine.  The `Guid` is 128bit... so you would xor the two 64bit halves together to pass as the default `ulong` seed on the default `Random` constructor.

For bonus points maybe make a `static long Random.GenerateSeed()` internally it would build the seed from a new `Guid`.  This way if a game wants a good seed and wants to sync it across machines in for example multiplayer... they ca

[2015-04-28 01:46] danzel commented on #3772
Should this be part of monogame, or an external library?

[2015-04-28 01:48] tomspilman commented on #3772
Part of MonoGame for now.

If we ever figure out how to best split the math stuff... Vector2/3/4, BoundingSphere, Matrix, etc... from the core of MonoGame then we would move the random with that.

[2015-04-28 05:16] Shqrdx commented on #3772
Oh, no please no, it would be very confusing..

[2015-04-28 07:17] Helikin commented on #3772
I just want to mention, SharpNEAT is not an option because it uses the GPL license (see http://sharpneat.sourceforge.net/licensing.htm).

A new RNG family and a useful comparison of RNGs (including xorshift) was recently published here: http://www.pcg-random.org/

[2015-04-28 13:07] WardBenjamin commented on #3772
That's pretty cool. I have a preliminary version of the Random class in MathHelper.cs in my branch: https://github.com/WardBenjamin/MonoGame/tree/Random with an xorshift private function and some type conversions that I would appreciate review of.

[2015-04-28 13:33] KonajuGames commented on #3772
It should be consistent in use of `long` and `ulong`.  The `GenerateSeed` method returns a `long`, the seed is stored as a `ulong`, the `Seed` property accepts and returns a `long`, and the ctor takes a `ulong`.  Choose one and use it consistently.

No need for throwing of exceptions and all the parameter validation in the `Remap` private method.  It's private and only called by methods that you w

[2015-04-28 14:26] Shqrdx commented on #3772
The main differences between standart Random and new Random are
-faster speed
-float generation

We could also add methods for generating random vectors,color etc...

[2015-04-28 15:05] WardBenjamin commented on #3772
@KonajuGames One of the issues with that is that ulong.MaxValue is interpreted as -1, and so on until the point where it wraps. Basically we would have to do some funky range calculations, since the ulong only wraps back around to be positive at `ulong.MaxValue - (ulong)long.MaxValue - 1UL`. `ulong.MaxValue - (ulong)long.MaxValue` is equivalent to long.MinValue, and subtracting one more is the sam

[2015-04-28 15:25] WardBenjamin commented on #3772
Essentially, to map the ulong to the long correctly, the direct conversion needs to happen, then the values will be mapped by the following rules:

If the original value is less than `ulong.MaxValue - (ulong)long.MaxValue`, keep it.
If the original value is greater than or equal to `ulong.MaxValue - (ulong)long.MaxValue

[2015-04-28 15:30] WardBenjamin commented on #3772
That seems to work. Any suggestions for improvement other than the ones already given?

[2015-04-28 19:43] #3748 closed

[2015-04-28 21:53] tomspilman commented on #3772
Looks like a good start.

First thing I would say would be we should probably move it into its own CS file regardless of how it is accessed.  It will be complex enough that it doesn't need to be mixed in with the rest of `MathHelpers`...  just make it a partial.

Also please prefix member fields with underscore... so `_seed` and `_lastValue`.

Will reseeding via restoring an old seed into `Random.

[2015-04-28 22:00] KonajuGames commented on #3772
The seed value does not need to remain unchanged through the lifetime of
the object. It should be used as the lastValue as well.

[2015-04-28 22:43] WardBenjamin commented on #3772
I can definitely make those changes, super easy. As an additional note, I think my ulong to long function is suffering from an off by one, or else the remap function is. I'm going to do some more testing tonight.

[2015-04-29 08:55] #3739 closed

[2015-04-29 10:37] dsaf opened #3781 "What is the state of SIMD support?"
Stable version of the system package is available for BCL:

http://www.nuget.org/packages/System.Numerics.Vectors

MonoGame has expressed a keen interest in past:

https://twitter.com/monogameteam/status/301370937679421440
https://monogame.codeplex.com/discussions/248825

But unless I am mistaken the low-performance Vector2 is still being used:

https://github.com/mono/MonoGame/blob/2d43afcc304bbc

[2015-04-29 12:52] KonajuGames commented on #3781
SIMD support in .NET is unfortunately still not something you can just turn on and get immediate benefits.  Here is just a few things that need to be sorted out first.

* System.Numerics.Vectors is on some platforms and Mono.Simd is on some of the same platforms and others, and some platforms may have neither.
* The types and type members are different between the two, meaning three implementation

[2015-04-29 12:55] tgjones commented on #3750
Thanks @emarcotte.

@tomspilman This seems like something that should be fixed before v3.4 is released, but I haven't had time to look at it yet. I see you're getting ready to release v3.4, so I'll look at it asap, but if someone else beats me to it, even better...

[2015-04-29 12:57] tomspilman commented on #3750
Unless it can be fixed in the next hour or two... 3.4 is being released with this bug in it.

[2015-04-29 13:37] tomspilman commented on #3750
@tgjones - Should i wait... i have some time, but not alot.

[2015-04-29 14:19] tgjones commented on #3750
I'm having a look at it right now, I'll keep you posted.

[2015-04-29 14:24] tomspilman commented on #3750
Got it.

[2015-04-29 14:41] tgjones commented on #3750
I've added a failing test, that demonstrates exactly the behaviour that @emarcotte described:
b5fda34c31645530a9dffd6ec96f7cdcb330b394

The test is based on XNA behaviour, and passes for WindowsDX, but fails for WindowsGL. I'll have a look at why, now...

[2015-04-29 14:42] tomspilman commented on #3750
Fantastic!

[2015-04-29 14:50] tgjones commented on #3750
And I've got a fix... checking in now. This actually fixes the `Draw_with_SpriteSortMode` tests as well, which were all previously broken for OpenGL.

[2015-04-29 14:59] tgjones commented on #3750
PR created...

[2015-04-29 16:08] #3750 closed

[2015-04-29 17:16] dsaf commented on #3781
@KonajuGames Thank you, that is a very detailed feedback.

By the way there is another contender to consider:

http://www.yeppp.info/index.html
http://www.nuget.org/packages/Yeppp.CLR.Bundle

This would mean a third-party dependency unfortunately.

[2015-04-29 21:50] WardBenjamin commented on #3772
Alright, I have completed the requested changes as well as implementing long -> other integer type conversion (floating point numbers are already complete).

[2015-04-29 22:41] WardBenjamin commented on #3772
Ran into a wall based on coding standards. Since CLS compliancy includes no exposed unsigned integer types, the ctor warns about not being CLS complaint according to the following rule:

(Copy-Pasta from http://www.devarticles.com/c/a/C-Sharp/Making-Your-Code-CLS-Compliant/)

    Unsigned types should not be part of the public interface of the class. What this means is public fields should not hav

[2015-04-30 00:27] KonajuGames commented on #3772
There are already several other places in the code that use the `[ClsCompliant(false)]` attribute.

[2015-04-30 00:28] WardBenjamin commented on #3772
Alright, I will mark it as so then.

[2015-04-30 01:21] thejayjay opened #3790 "GamePad.GetState() Crash in OS X"
When spooling up a fresh project utilizing the 3.4.0455 build on OS X (which I acquired from TeamCity here -- http://teamcity.monogame.net/viewLog.html?buildId=6519&buildTypeId=MonoGame_DevelopMac&tab=artifacts) my project returns a null reference exception error -- as does the example project on this line

    if (GamePad.GetState (PlayerIndex.One) ...

Even simplifying to
    var gamePad = GameP

[2015-04-30 01:23] tomspilman commented on #3790
I guess on OSX that is the OpenTK input path.  Right @cra0zy?

[2015-04-30 02:06] KonajuGames opened #3791 "OS X installer may need to create /usr/local/bin"
OS X does not appear to have /usr/local/bin by default, even though it is in the PATH.
http://community.monogame.net/t/os-x-3-4-installer-package-issue/2355
The installer should create the directory if it does not exist and give it the appropriate permissions.

@dellis1972 Are you able to look into this?

[2015-04-30 02:41] Scellow opened #3792 "Any plan on add a UI system ?"
Hello,

Do you guys have plan on adding a UI system ? That's the only thing that is missing to monogame

Thanks <3

[2015-04-30 02:42] tomspilman commented on #3792
No

[2015-04-30 02:44] tomspilman commented on #3792
We don't have plans for that.  MonoGame is just not a "game engine".  MonoGame is more about abstracting hardware and low level features like XNA was.

If we ever consider that we would probably just write an engine on top of MonoGame as a separate thing.

[2015-04-30 02:47] Scellow commented on #3792
What a quick response, thanks :p

Yeah i understand, well i guess it's time for me to try to make my own instead of depending on 3rd party libs :p

[2015-04-30 02:48] KonajuGames commented on #3792
Here's a discussion in the MonoGame Community about [UI frameworks](http://community.monogame.net/t/ui-frameworks/653).

[2015-04-30 02:49] tomspilman commented on #3792
There are lots of good ones out there... I would find one you like and modify from there.

[2015-04-30 02:49] #3792 closed

[2015-04-30 03:25] tomspilman opened #3793 "Manual Test Framework"
We should write a framework for manually run unit tests to augment the existing automated unit test framework.

These manual tests would be specifically for features like audio and input which are most easily validated by people.  The trick would be to make sure the test is quick to do and hard to get wrong.  Some core ideas:

  - The test app should be built and distributed as part of the automat

[2015-04-30 05:37] theZMan commented on #3792
Digital Rune stuff is rock solid extensive, built and tested on MonoGame (and I think the DR team contribute back) and generally great http://www.digitalrune.com/Products/GameEngine/GameUI.aspx but not free... in all seriousness though $199 for the indie license is cheaper than anything you could make yourself

If you want free this one works http://xnagui.codeplex.com/ - at least it did on XNA.

[2015-04-30 06:05] Chaosus opened #3794 "Upgrade SharpDX to the latest version."
I found MonoGame uses old version of SharpDX(2.5.1). Should we start using 2.6.3 or wait for 3.0 ?

[2015-04-30 06:12] KonajuGames commented on #3794
The Windows 10 support uses the latest version, and the plan is to migrate the rest over to that version soon.

[2015-04-30 06:42] dellis1972 commented on #3791
I'll take a look

-----Original Message-----
From: "KonajuGames" <notifications@github.com>
Sent: ‎30/‎04/‎2015 03:07
To: "mono/MonoGame" <MonoGame@noreply.github.com>
Cc: "Dean Ellis" <dellis1972@googlemail.com>
Subject: [MonoGame] OS X installer may need to create /usr/local/bin (#3791)

OS X does not appear to have /usr/local/bin by default, even though it is in the PATH.
http://community.monog

[2015-04-30 06:54] Shqrdx commented on #3794
Ah, good to know. I close this issue when its happened.

[2015-04-30 07:03] cra0zy commented on #3790
Yup

Well it's due to OpenTK, at lease I know what I have to look into..

@thejayjay Could you try installing https://www.libsdl.org/download-2.0.php and try running the game agian

[2015-04-30 11:08] cra0zy commented on #3793
I think this sounds like a good idea, also we would need to check e.g. if device has touchscreen before giving the device a touchscreen test.

[2015-04-30 13:29] thejayjay commented on #3790
@cra0zy No luck -- just tried again, same null reference exception issue.  I placed the SDL2.framework in /Library/Frameworks.

[2015-04-30 13:43] thejayjay opened #3796 "OS X mpack leverages 3.3.X assemblies"
When leveraging the built in template for MonoDevelop/Xamarin it utilizes the 3.3.X nuget packages which brings down the 3.3 assemblies; was this intentional?

When setting up my recent tests I had to manually leverage 3.4 assemblies from my project directory tree; but it might be useful to correct the 'installer' so its pointing to the correct stuff.

![osx-artificats-3 4 0455-mpack](https://clou

[2015-04-30 15:11] mgarstenauer opened #3797 "Memory leak in VertexBuffer.GetData and IndexBuffer.GetData"
The methods VertexBuffer/IndexBuffer.PlatformGetData<T> are pinning the data array using GCHandle.Alloc, but never release the handle.

- https://github.com/mono/MonoGame/blob/81765ff2f4ce6bced932f87ee62496ffc253cc65/MonoGame.Framework/Graphics/Vertices/VertexBuffer.DirectX.cs#L88
- https://github.com/mono/MonoGame/blob/81765ff2f4ce6bced932f87ee62496ffc253cc65/MonoGame.Framework/Graphics/Vertices/

[2015-04-30 16:13] consty opened #3798 "SpriteBatch can't be initialized on constructor method."
Creating the SpriteBatch in the constructor method right after the GraphicsDeviceManager throws an exception.

[code]

Does MonoGame allows this? Then a workaround must be found to correct this (e.g. update the GraphicsDeviceManager earlier so the object state is available).

Otherwise if it's not allowed then a meaningful exception message could be written so user can be informed about the situat

[2015-04-30 16:18] KonajuGames commented on #3798
The SpriteBatch, like any other graphics resource, needs the GraphicsDevice
to be created. This is done in the call to base.Initialise().  This is why
all of the project templates create the default SpriteBatch in the
LoadContent() method.

Yes, it should throw a better exception. There is no intention to allow it
to work.

[2015-04-30 16:21] theZMan commented on #3798
@consty is this something that worked in XNA?

[2015-04-30 16:24] consty commented on #3798
@theZMan  Sorry I have not tried XNA ever, but as @KonajuGames said a better exception message could be written.

[2015-04-30 16:30] theZMan commented on #3798
Thanks... I ask because the MonoGame standard for what should work is 'did it work that way in XNA'.

[2015-04-30 19:19] thefiddler commented on #3790
@thejayjay hm, an exact stacktrace would help here. Copy [https://github.com/Mono-Game/MonoGame.Dependencies/blob/master/OpenTK.dll.mdb](OpenTK.dll.mdb) and [https://github.com/Mono-Game/MonoGame.Dependencies/blob/master/OpenTK.dll.config](OpenTK.dll.config) to your application directory, if they are not already there, and try running again. Post the resulting stacktrace here to help pinpoint the

[2015-04-30 20:01] Scellow commented on #3792
After hours of googling i found this:

https://github.com/NeoforceControls/Neoforce-Mono

The monogame port of Neoforce XNA, it's looking really great : http://neoforce.codeplex.com/

[2015-04-30 20:37] thejayjay commented on #3790
Took me awhile to confirm I had the .mdb in place; I'm usually in Visual Studio so this is all very new to me!

The stack trace still points directly at OpenTK.Input.GamePad.GetState; line 76.

https://github.com/opentk/opentk/blob/develop/Source/OpenTK/Input/GamePad.cs

If the source hasn't changed
`public static GamePadState GetState(int index)
{
    return driver.GetState(index);
}`

Longer sta

[2015-04-30 21:38] KonajuGames commented on #3790
It would appear that driver is null.

[2015-04-30 22:11] tomspilman commented on #3796
I think this is because no one has updated the nuget service to have the new assemblies yet.  We're working on automating that ( https://github.com/mono/MonoGame/issues/2843).

@dellis1972 @DDReaper ??

[2015-04-30 22:27] dellis1972 commented on #3796
@thejayjay its a chicken and egg scenario. The nugets are manually built atm, so the addin can't use the 3.4 packages as they don't exist, but we have to ship with something :)
The plan is to automate the nuget packaging so that will fix that in the future, but we are not quite there yet.

[2015-04-30 22:38] tomspilman commented on #3790
@thefiddler - So is it right for `driver` to be null in `OpenTK.Input.GamePad`?  Or is this a bug within `Platform.Factory.Default.CreateGamePadDriver()`?

[2015-04-30 22:47] cra0zy commented on #3790
WinGL works perfectly fine for me, what do you mean?

It should return a state that has IsConnected set to false, and with https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Input/GamePad.OpenTK.cs#L86 it should get checked. It's probably a bug within mac implementation of Joystick.

Sorry if I am wrong about something.

[2015-05-01 00:33] thejayjay commented on #3796
Thanks so much for the quick response I was curious if it was a chicken and egg type scenario.

Been playing around with MonoGame for awhile. I just began the process to get the OS X version of my project up to parity for testing.

I just wanted to bring up the item to make sure it was on your radar.

Do you folks have a process for closing issues here?  I don't want to clog up the issue queue sin

[2015-05-01 00:41] soenneker commented on #1972
Hello,

Using the 3.4 pipeline tool, I'm getting the following error: Shared.fx: error X3000: syntax error: unexpected token '#'. The #include preprocessor is causing the trouble. Note that if I simply include the Shared.fx code in the shaders I am using it, they build just fine.

Here is the shader I am sharing:

Shared.fx:
[code]

Ambience.fx using the #include preprocessor:

[code]

[2015-05-01 00:53] tomspilman commented on #3796
Naw... lets leave this open.  It is pretty serious issue as we shipped what we called 3.4, but OSX users still get 3.3 how things are now.

I so hate nuget.

[2015-05-01 00:55] tomspilman commented on #1972
@tgjones - Is the issue @soenneker is having because the preprocessor isn't recursively being called on `#included` files?

[2015-05-01 01:18] tomspilman commented on #3798
We should at least change that from a `ArgumentException` to a `ArgumentNullException`... but there is nothing more to do here.  If someone can submit a fix for that we'll merge it and close this issue.

[2015-05-01 01:20] tomspilman commented on #3797
That is a pretty huge memory leak... I don't know when that got introduced.  But we need someone to submit a fix ASAP.

Second... how could we detect these mistakes in an automated way via a unit test?

[2015-05-01 01:23] tomspilman commented on #2843
FYI.  I'm working on this automation now.  I'll report back soon.

[2015-05-01 03:03] nanexcool commented on #3798
Hope the above pull request is correct. I've tested the behavior on XNA and it indeed throws an ArgumentNullException. I copied the exact exception message given so it should work the same as XNA now.

[2015-05-01 03:13] consty commented on #3798
Well, that seems to be fine. Thanks to all. :)

[2015-05-01 05:04] tomspilman commented on #3793
Right... it would have to be smart like that.  Which should be easy as MonoGame should be able to tell you if the feature is supported on the current machine.

[2015-05-01 05:48] #3797 closed

[2015-05-01 11:00] dellis1972 commented on #3796
OK, I'm working on installing the built assemblies in the /Library/Frameworks area on a Mac. If that works I "should" be able to update all the msbuild related templates in the XS addin to use the ${MSBuildProgramFiles32} directory as we do in the windows templates. It should work on windows/mac not sure about linux though :/

[2015-05-01 11:29] tgjones commented on #3797
JetBrains' [dotMemory Unit](https://www.jetbrains.com/dotmemory/unit/) is pretty cool for that. It's free, but it does requires ReSharper or dotCover to be installed. There isn't yet a standalone runner, but they plan to add one, so that it can be integrated with TeamCity.

At its simplest, it lets you add an attribute like this to your tests:

[code]

But you can also do this:

[code]

I don't kn

[2015-05-01 11:34] tomspilman commented on #3797
Wow... that is exactly what we're looking for I think.

We should keep an eye out for this and support it as soon as there is TeamCity support for it.

[2015-05-01 13:09] tgjones commented on #1972
The problem is that CppNet doesn't add a newline at the end of included files, so if there isn't already a newline, then this ends up happening:

[code]

The `#` in the #line directive *must* be the first character on a line, so the HLSL compiler fails with a syntax error.

I'll have a look at what the proper fix is.

[2015-05-01 14:33] Frassle commented on #3790
Copying comments from https://github.com/opentk/opentk/issues/257:

A) Has a very simple ctor that I can't see how it could fail
B) Even if it did fail would cause an exception at that point, not later when it was used.

[2015-05-01 23:09] tomspilman commented on #3790
Are we sure the version of OpenTK we're using on MonoGame matches the current implementation?

[2015-05-02 00:16] tomspilman commented on #1972
Ah...   well something to add to our test case I guess.

Seems like the right fix should be within CppNet if it is the one opening and managing that file.

[2015-05-02 08:00] tomspilman commented on #3624
So with https://github.com/mono/MonoGame/pull/3803 merged is this issue ready to be closed?

[2015-05-02 12:13] Shqrdx commented on #3798
@tomspilman This issue seems to be fixed.. Close ?

[2015-05-02 12:14] KonajuGames commented on #3798
Fixed in #3801. Closing.

[2015-05-02 12:14] #3798 closed

[2015-05-02 12:58] Chaosus opened #3807 "Bugs in website docs - "Item" thing"
Here is at Matrix struct

![image](https://cloud.githubusercontent.com/assets/3036176/7441140/99c8642e-f0e3-11e4-9b99-01977c09f931.png)

The same exists for http://www.monogame.net/documentation/?page=T_Microsoft_Xna_Framework_Graphics_EffectParameterCollection

Looks like it is the indexers from these classes... we need to investigate and fix this.

[2015-05-02 13:10] WardBenjamin opened #3808 "Installer does not detect VS if not in default location"
Hey all,

Just wanted to report that I cannot install the VS templates with the new installer, since in my case VS is not located in the default location, as it is installed on my SSD, along with a few other things and the OS, but not the default Program Files and Documents folders.

![capture](https://cloud.githubusercontent.com/assets/4739008/7441199/12d649dc-f0ab-11e4-835b-20703ef86a1b.PNG)

Is

[2015-05-02 13:15] WardBenjamin commented on #3808
I just figured out that I can build them through Protobuild, and that fixes my specific problem, but the  above issue is still relevant to others in the same situation.

[2015-05-02 13:18] KonajuGames commented on #3808
We don't check for the install location to see if a particular version of VS is installed, and there is no hard-coded install paths used.  For VS versions, we check for the existence of the (C# project templates)[https://github.com/mono/MonoGame/blob/develop/Installers/Windows/MonoGame.nsi#L253] folder in your Documents folder.  Do you have that folder?

[2015-05-02 13:20] WardBenjamin commented on #3808
I do have that folder, but it was empty, which I think was the issue, since you are checking for the existence of files in that folder.

[2015-05-02 13:22] Shqrdx commented on #3808
The Visual studio installs all things into this folder. It always create folder like ..\Documents\Visual Studio 2013\Templates\ProjectTemplates\Visual C#\. Thats strange that your VS does not do that.

[2015-05-02 13:25] WardBenjamin commented on #3808
@Shqrdx I do have that folder, but there is nothing in it, as I said in my comment above. I think you misunderstood :)

[2015-05-02 13:25] Shqrdx commented on #3808
Visual Studio 2013\Templates\ProjectTemplates\Visual C# it must be in Documents folder

[2015-05-02 13:27] WardBenjamin commented on #3808
Again, I think you misunderstood. In actuality, the line of code that checks for the folder actually only checks for files in that folder:

``` IfFileExists `$DOCUMENTS\Visual Studio 2013\Templates\ProjectTemplates\Visual C#\*.*` InstallTemplates CannotInstallTemplates```

This line checks for any files inside of the VS2013 C# Templates folder, which I do have but was not filled with anything.

[2015-05-02 13:31] Shqrdx commented on #3808
I maded this change and I think it is works correctly. Something wrong with your system. Try reinstall VS.

[2015-05-02 13:33] Shqrdx commented on #3808
IfFileExists in this description checks for folder not for files inside it.

[2015-05-02 13:36] WardBenjamin commented on #3808
Alright, I will try reinstalling VS when I get back home today. Thanks for
the help.

On Sat, May 2, 2015 at 9:34 AM, Yuri Roubinsky <notifications@github.com>
wrote:

--
Benjamin Ward

[2015-05-02 13:49] KonajuGames commented on #3808
That folder exists on mine, and by default it is indeed empty, but the MonoGame installer has added a MonoGame subfolder and installed the templates.  I installed latest dev build of MonoGame tonight on a Windows 10 system with freshly installed VS2015 Community and the templates were installed.

I'm not sure what is happening in your case.  Perhaps a reinstall will fix it?  Hard to say for sure w

[2015-05-02 13:57] Shqrdx commented on #3808
I suppose he install VS to separated SDD instead to default location. Than his Document folder could not be equal to VS directory for projects. Even if these restrictions are not exist he was unable to install it correctly because they are equal to actual install locations.

[2015-05-02 15:04] cra0zy commented on #898
@tomspilman This can be closed, it has been fixed with #3698

[2015-05-02 15:05] cra0zy commented on #2631
@tomspilman This can be closed, it has been fixed with #3698

[2015-05-02 15:05] cra0zy commented on #2530
@tomspilman This can be closed, it has been fixed with #3698

[2015-05-02 15:07] cra0zy commented on #1780
@tomspilman This can be closed since #3698 , also the XS/Monodevelop addin is now only buildable from OS X.

[2015-05-02 15:08] cra0zy commented on #1743
@tomspilman This can be closed, it's been fixed with #3698

[2015-05-02 15:09] cra0zy commented on #1404
@tomspilman This can be closed, #3698

[2015-05-02 15:10] cra0zy commented on #3531
@tomspilman This can be closed, it has been fixed with #3698

[2015-05-02 15:10] #1743 closed

[2015-05-02 15:11] #898 closed

[2015-05-02 15:11] #2631 closed

[2015-05-02 15:11] #2530 closed

[2015-05-02 15:12] #1780 closed

[2015-05-02 15:13] cra0zy commented on #3655
@tomspilman This can be closed, the new addin is out #3698, and I've already answered the original problem.

[2015-05-02 15:13] #1404 closed

[2015-05-02 15:13] #3531 closed

[2015-05-02 15:14] #3655 closed

[2015-05-02 15:20] cra0zy commented on #3634
Implemented with #3787

[2015-05-02 15:20] #3634 closed

[2015-05-02 16:58] thejayjay commented on #3790
I've created a template project leveraging the 3.4.0455 mac assemblies and replaced the OpenTK library with a version built from scratch.

After stepping through a lot of debugging in the platform factory for OpenTK I found the offending line that causes the factory initialization to abort.

`
Cocoa.SendVoid(Handle, Selector.Get("finishLaunching"));
`
https://github.com/opentk/opentk/blob/5953907f

[2015-05-02 20:58] tomspilman commented on #3807
Yeah... it is the indexers.  The format is quite ugly, but actually this is basically how it looks on XNA's docs:

https://msdn.microsoft.com/en-us/library/microsoft.xna.framework.graphics.effectparametercollection_members.aspx

It just lists it as `Item`...  but if you click thru to see the overloads it does look a little nicer with `Item (Int32)` and `Item (String)`.  We could maybe at least fix

[2015-05-02 22:39] WardBenjamin commented on #3808
Hmm. It seems like reinstall fixed but this is limited to the default location now. It seems like since there is some stuff that is put in `Program Files (x86)` for each template, that even if they are installed in the correct `Documents` folder they fail to work.

[2015-05-02 22:50] WardBenjamin opened #3810 "Monogame on Mobile"
So, I am seriously interested in making a non-Xamarin dependant version of MG for mobile, along with a few others that I have talked to. This would initially be for Android if it did actually happen. What are the actual limitations that everyone has gone through when trying to develop MG for mobile platforms? Graphics issues? Touch interpretations?

[2015-05-02 22:52] tomspilman commented on #3810
What C# runtime would you use to do this?

[2015-05-02 23:18] KonajuGames commented on #3808
We never hard-code any paths.  We ask the system for the locations of the
special folders, such as Documents, MSBuildDir, etc.​

[2015-05-02 23:27] cra0zy commented on #3810
I've given a fair amount of thought on this subject, android only:
- First option would be to use: https://github.com/koush/androidmono to get mono working and then write some custom wrappers for basically everything
- Second option would be to use CS2J to convert c# to java, I actually tried this method just to see if it was feasible: http://community.monogame.net/t/monogame-on-android-without-xa

[2015-05-02 23:45] WardBenjamin commented on #3810
Hm, that is clever. Some options look like AndroidMono, Dot42, and Java conversion (would probably require some annoying manual code changes after conversion. I was previously considering [Dot42](https://github.com/dot42/dot42) but AndroidMono seems like an option as well.

[2015-05-03 02:00] tomspilman commented on #2843
So we now have a NuGet develop branch feed working.  I've added the link to it in the download page:

  http://www.monogame.net/downloads/

Next step is publishing these to the official NuGet site.  Should be done in the next few days.

[2015-05-03 03:36] Shqrdx commented on #3807
In Matrix it has missed description and difference between first item and second overload item. I also think its good idea to create separate subheader such as Constructors, Fields, etc.. just for Indexers.

[2015-05-03 03:41] tomspilman commented on #3807
That for sure would be a bug then.

I don't think so.  Generally a class has one index maybe two.  Seems like an unnecessary separation when an indexer is just a property like any other.

[2015-05-03 03:53] Shqrdx commented on #3807
Damn, I was wrong, Its not have a description.

However

Still not exist

[2015-05-03 04:19] Shqrdx commented on #2760
@tomspilman @KonajuGames I think this issue is unclear and could be safely closed.

[2015-05-03 04:32] tomspilman commented on #2760
The one thing to take from this is that we really have to remove that old feature soon.  It is crazy confusing to users and horrible for performance.

[2015-05-03 04:32] #2760 closed

[2015-05-03 14:49] gamepopper opened #3811 "SoundEffect Play Speed differs depending on audiofile's sample rate"
I noticed when working on a MonoGame project using the MonoGame 3.3 Stable build that the SoundEffectInstance would play audio at a slower speed on one of my wav files.

I discovered that if the WAV file has a sample rate of 96kHz, it will play twice as slow as the same WAV file running at 44.1kHz.

These are the audio files I tested with:
[44.1kHz WAV file](https://dl.dropboxusercontent.com/u/303

[2015-05-03 15:57] WardBenjamin commented on #3810
Another option for this could actually be the Core CLR. Since MS has released the linux version of the CLR, I think I can compile a version of it that will run on top of the Android kernel if I do some hackery with the Android NDK and some C++ standard libraries. Also, I think that this would require the use of some Java to actually start the console corerun executable, but I think it is possible.

[2015-05-03 16:55] paewie commented on #3772
@tomspilman i didn't really catch your intention of avoiding the DateTime stuff.
Okay, actually I do catch it because I know a bit about cryptology, but using a GUID is just as predictable as using the current time. I don't recall where I read this, but based on a single GUID the next about 128 can be predicted, which makes it an "irrelevant" choice for CSPRNGs.
So there remains one question to me

[2015-05-03 17:53] theZMan commented on #3772
Unless you are using Random for security or running a for profit online casino predictability really shouldn't be a big deal for any of our games... seems to me we are heading right down Over Design Alley on this one ;-)

[2015-05-03 17:58] paewie commented on #3772
@theZMan I know. But @tomspilman actually stated
"It reminds me that Random(Environment.TickCount)... which is what .NET does internally... is actually a very poor. It means the random is easily predictable which is bad for some sorts of games. By default we should feed a Guid in as the seed to avoid that trap."
speaking of predictability. This confused me because used in Games there should be no

[2015-05-03 21:47] Frassle commented on #3790
The check to see if a menu already exists and to not call finishLaunching if it does went into develop September 11 2014, so the July 2014 almost certainly has issues here.

I can't see anything in the OSX documentation, mainMenu is the name of property to get the application window.

Can you step though the initialization code and just check all the other calls we make to cocoa are returning sens

[2015-05-03 23:09] WardBenjamin commented on #3772
@paewie We actually do take the whole GUID as a seed by Xor'ing it together in the GenerateSeed() method, fyi.

[2015-05-03 23:23] tomspilman commented on #3772
But it is not.  I just now generated a random seed at 6:19pm CST.  Please tell me what it was?

If the seed was based on time only you could maybe take some guesses and probably get it.  If it was based on GUID it is much harder to guess...  you would need access to details of my machine you do not have.

This is my only point...  ticks or time is very poor and GUID is much better.

[2015-05-03 23:45] theZMan commented on #3772
Turns out System.Random seeds from Environment.TickCount  https://msdn.microsoft.com/en-us/library/system.environment.tickcount(v=vs.110).aspx so I'd need to know when you turned your machine on and be within a few milliseconds of my guess.

Even if it used DateTime.Ticks that's a nanosecond based timer so 6:19pm gives me about a billion possible seeds to chose from depending on how accurate your

[2015-05-04 00:09] tomspilman commented on #3772
Both correct, but doesn't change that GUID is still more unique than plain time.

[2015-05-04 00:39] KonajuGames commented on #3811
48kHz is generally the upper limit.  I don't know of any system that can
play a 96kHz WAV file.  That would explain the half speed because the audio
system is playing at the highest speed it can​, which is half the sample
rate of the WAV.

[2015-05-04 00:48] tomspilman commented on #3811
I guess because it is raw and uncompressed and too much data to transfer?

Also shouldn't the pipeline warn of this or simply clamp the output to 48kHz?

[2015-05-04 01:20] KonajuGames commented on #3811
That is something we will need to check.​

[2015-05-04 15:21] paewie commented on #3772
@timspilman maybe my unlucky chose of words made me sound a bit rude. I'm sorry for that.
As said: I was just confused since you seemed to want a "secure" seed. A Guid isn't much of that. Of course it's more than a tick timer, but nothing relevant for cryptography. Therefore I wanted to point that out. Nothing more (since I don't catch the purpose for a "secure" rng in games anyway).

If you want

[2015-05-04 15:28] paewie commented on #3772
@WardBenjamin oh, okay. I didn't realize that. I just read the comments on this post and made a quick look at your commits, but nothing very thoroughly... Since XOR is a strange thing that could even "harden" the seed a little. I can't tell for sure.

[2015-05-04 18:28] tomspilman commented on #3772
Yeah... i'm not suggesting that at all.  If we wanted that we would use the .NET crypto classes like `RNGCryptoServiceProvider`, but I worry that won't work correctly on anything but desktop .NET.

[2015-05-04 18:44] paewie commented on #3772
Probably... I don't know how .Net or Mono handle encryption. If they match at all: Just on Windows. Unix is using different native libraries than mac than win etc.
But okay. Since you don't want to provide encryption I just misunderstood your avoidance of the time-thing :)

[2015-05-05 01:05] thejayjay commented on #3790
Everything looks sensible to me, unfortunately it's just a bunch of IntPtr's

Here's a screen shot of the locals.
![2015-05-04 20_49_54-jamess-macbook-pro local - chrome remote desktop](https://cloud.githubusercontent.com/assets/419952/7465585/b0378762-f2a0-11e4-950d-800162fe8db9.png)

The two items that are null are leveraged after the offending line; so I don't believe they are causing the issue

[2015-05-05 10:33] KakCAT opened #3816 "[MGCB]Adding a reference and then saving is not possible"
Hi,

just add a reference to a MGCB project. Then, using File -> Save is grayed. (probably not "dirtying" the project)

[2015-05-05 10:53] KakCAT opened #3817 "[MGCB][Feature request?] Default action for extension"
Hi,

I'm aware that I can create a Custom Processor in the pipeline and assign a default action for file extensions with the attribute ContentImporter.

However, is it possible to set the build action to "copy" instead of "build" for a defined set of extensions?

In example, I have some .map files which I have to constantly add to my projects. Each time I add it, I have to change the build action

[2015-05-05 21:58] jakepoz opened #3819 "GamePad throws Exception in Windows 10 UAP projects on phones"
Using the new Windows 10 UAP templates, there an exception is thrown when using the GamePad API.

This happens only when running the app on a Windows 10 Phone (emulator in this case), not when running on a desktop PC.

[code]

[2015-05-05 22:01] tomspilman commented on #3819
I was talking to @KonajuGames about this the other day.  I think for now we need to handle this exception and return an empty state.  I can setup a PR for that later today.

I know there will be a new gamepad API in the coming months that will replace XInput soon. I suspect that one will work on all the platforms including WP.

[2015-05-05 22:10] jakepoz commented on #3819
Thanks Tom,

 What would be the proper way to capture the back button state on this platform then?

[2015-05-05 22:12] tomspilman commented on #3819
Not sure... i'll investigate that while i'm at it.

[2015-05-05 23:43] KonajuGames commented on #3819
I wrapped the game side call to GetState in a try..catch for my simple
demo.​

[2015-05-06 03:07] Shqrdx commented on #3624
Yes it is.

[2015-05-06 03:07] #3624 closed

[2015-05-06 10:54] cra0zy opened #3822 "Linux game icon not changeable"
Anyway, Icon.ExtractAssociatedIcon is not implemented in mono:
https://github.com/mono/mono/blob/master/mcs/class/System.Drawing/System.Drawing/Icon.cs#L303
and we use that to setup the icon for WinGL and Linux:
https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Desktop/OpenTKGameWindow.cs#L337

One possible solution for this would be to add Icon property to Game.cs.

[2015-05-06 10:55] cra0zy commented on #3810
@WardBenjamin any luck?

[2015-05-06 10:56] cra0zy commented on #3816
@tomspilman This can be closed, fixed with #3818

[2015-05-06 11:00] cra0zy opened #3823 "Linux, Mgcb problem with DXT Compression"
Trying to compile a font with it on throws:
[code]

Trying to compile a texture with it:
[code]
and changing to GraphicsProfile HiDef gives:
[code]

[2015-05-06 11:10] cra0zy commented on #3478
@tomspilman This can be closed.

[2015-05-06 11:11] #3816 closed

[2015-05-06 11:59] WardBenjamin commented on #3810
It's taking a long time to wrap my head around the way that Android handles system events and such, I may have to embed some callback events into the CLR so you can access them inside of MG.

Progress as of this point:
 - Linux version of the CLR building on Ubuntu 14.04
 - Android NDK installed
 - Android SDK installed (except for Android Studio)

I have a repository at https://github.com/WardBen

[2015-05-06 14:16] kvenkateshan commented on #3769
Hey guys, any chance someone has this checked in?

@tomspilman would I have to fork the code to be able to pick up the changes? I would assume this wouldn't be rolled into a release until quite sometime from now.

[2015-05-06 14:24] KonajuGames commented on #3769
I'm testing my texture processing changes right now.  Will be submitting a
PR soon.​

We are trying to do monthly releases now, so you could get latest from the
develop branch (once the PR has been merged) or it should just be a couple
of weeks before the next 3.5 release.

[2015-05-06 15:53] #3478 closed

[2015-05-06 15:53] WardBenjamin commented on #3478
I got it :)

[2015-05-06 16:12] kvenkateshan commented on #3769
Ok, that sounds good. Thanks much.

[2015-05-06 16:41] KonajuGames commented on #3769
I've got some further verifications to make, and implement the processing
to 16-bit texture formats remaining.  I should get this in tomorrow night
(it's close to 3am now).​  When done, it will have BitmapContent support
for ETC1, ATC, PVRTC, DXT, BGR565, BGRA5551 and BGRA4444.

[2015-05-06 16:50] tomspilman commented on #3823
That suggests the version of the NVida Texture Tool we're linking on Linux is different from the Windows/Mac one.

[2015-05-06 16:58] #3819 closed

[2015-05-06 17:07] cra0zy commented on #3823
Yea, I figured, the problem is that from what I noticed it seems it is using a custom version of it... and I have no clue from where it's acquired.

[2015-05-06 17:10] tomspilman commented on #3823
I don't think it is custom, but just a version that is not in their main branch.

I vaguely remember that it might be their 2.0 branch:

http://code.google.com/p/nvidia-texture-tools/source/browse/#svn%2Fbranches%2F2.0

[2015-05-06 17:52] cra0zy commented on #3823
You are right, that fixed it, I'll setup a PR for it right away.

[2015-05-06 22:02] #3823 closed

[2015-05-07 04:22] nkast commented on #2772
The first step would be to move everything related to `ID3D12GraphicsCommandList` & `D3D12_GRAPHICS_PIPELINE_STATE_DESC` into  `GraphicsContext`. (GraphicsContext.DX11.cs?)

Then upgrade all DX11 objects to DX12 in `Device` class and pass a DX11 device to the `GraphicsContext` created by `D3D11On12CreateDevice`.

Once we have that we can move to true DX12 piece by piece and adding Metal/Valkan sup

[2015-05-07 04:57] nkast commented on #2772
A simpler approach would be to keep `GraphicsDevice` as it is and use a 11on12 device underneath.
Just add a `CreateGraphicsCommandList()` and  `ExecuteCommandList()` method.

We don't have to implement a `CommandList.PipelineState` on top of DX11 and all `GraphicsDevice.*State` on top of DX12.
Traditional MG code will not see any benefit from DX12 but I believe that's already the case if we try t

[2015-05-07 05:15] Shqrdx opened #3825 "Suggestion : Implementing SkinnedModel to MonoGame core ?"
I think its good idea - many 3d games and engines using skinned models. XNA has it but as separate example - my suggestion is to include it to the MonoGame core. With AnimationPlayer, Keyframe, SkinningModelProcessor(possible SkinnedModel) as support to already existed skinned effect(and adding Skinned Effect to templates of pipeline is not a bad idea too).

[2015-05-07 06:07] tomspilman commented on #2772
I plan to find some time to evaluate all three of these APIs and come up with a high level class diagram to discuss here.  Until someone does this we really can't proceed or assume anything.

[2015-05-07 06:09] KonajuGames commented on #2772
Is the Vulkan API available yet? Or is still hidden behind private beta?

[2015-05-07 06:29] Shqrdx commented on #2772
The DirectX12 API looks like is not be supported the systems below Windows 10.. Thats a problem... or not ?

[2015-05-07 06:30] tomspilman commented on #2772
It isn't a problem... we will still have the DX11 path for that.

[2015-05-07 06:32] tomspilman commented on #2772
No public API yet.  We do know however that it is being created from parts of ATI's Mantle, so that might be the best thing to review right now.

[2015-05-07 06:34] KonajuGames commented on #2772
Mantle isn't public yet either, is it?

[2015-05-07 07:06] tomspilman commented on #2772
It is...

http://www.amd.com/Documents/Mantle-Programming-Guide-and-API-Reference.pdf

[2015-05-07 15:39] theZMan commented on #3825
XNA has it as a separate example because in my experience you need to tweak your importer to get it right all the time. Its hard enough to get non skinned models to load in correctly.

If this was part of MonoGame then someone would need to spend a lot of time tweaking it for every export format out there.. I'd reccomend someone ports XNAnimation http://xnanimation.codeplex.com/ and grows that lib

[2015-05-07 15:59] Shqrdx commented on #3825
They all deprecated and for kwxport I need to install a 3dsmax11 ? My ask is about something basic and extendable solution for simple skin animation.

[2015-05-07 16:10] theZMan commented on #3825
Indeed - someone has to do the work and since those projects can't find people to work on them how will MonoGame?

But really the list was not a suggestion for solutions for you more of a reading list for anyone reading this issue who would like to take on the task you suggested.

For anyone trying to solve this problem now the XNA sample ports easily but good luck getting consistent models import

[2015-05-07 16:56] Shqrdx commented on #3825
Why I need to pay when I can simply use Unity or Unreal engines. They are free and much more powerful than MonoGame and Digital rune "engine". But they are expensive in term of performance and size(and harder to learn) - That why MonoGame needs a free and embedded solution for that problem. @tomspilman ? do you agreed with me ?

[2015-05-07 18:59] tomspilman commented on #3825
I wouldn't have a problem with a stock `SkinnedModel` type in MonoGame to complement the `SkinnedEffect`.  The issue is still someone has to contribute it and maintain it.

[2015-05-07 23:51] #3791 closed

[2015-05-08 00:04] tomspilman opened #3827 "Implement GetParameterB​ySemantic"
To implement `EffectParameterCollection.GetParameterB​ySemantic()` we need to first extend the MGFX parser to parse out semantics in parameter definitions.  We can then include the semantic in the compiled .mgfx file and used from the `EffectParameterCollection` and `EffectParameter` types.

[2015-05-08 00:05] tomspilman commented on #3827
Note I originally skipped implementing this because to me it seemed the parameter name and semantic were largely duplicate information.  Why look up by semantic if you can by name?

[2015-05-08 00:11] KonajuGames commented on #3825
It's similar to the `Model` class that has always been in XNA.  It's a simple implementation that does the basic job.  If you want anything more complex and you need to implement your own model class.  I think the standard `SkinnedModel` would work well in MonoGame under the same pretense.

[2015-05-08 00:16] tomspilman commented on #3825
Are you suggesting we bring in the old XNA `SkinnedModel` sample?  That could be a good starting point.

[2015-05-08 00:32] KonajuGames commented on #3825
Yes, as @Shqrdx suggested in the original post.

[2015-05-08 05:31] nkast commented on #3825
I could submit the original SkinnedModel and then start pushing extensions for evaluations.

Some ideas I have in mind for the importer.

Optimize AnimationClip to bypass the ReflectiveReader. x2 faster loading.
(http://blog.nkast.gr/post/2014/02/02/CPU-Skinning-Faster-loading.aspx)
Combined with https://github.com/mono/MonoGame/pull/3518  this will bring it close to XNA loading times.

Instances

[2015-05-08 08:23] mgarstenauer opened #3828 "MonoGame crashes on Windows Phone 8.1 (Emulator and level 9_3 devices)"
MonoGame crashes in the Windows Phone 8.1 Emulator (Emulator 8.1 U1 WVGA 4 inch 512MB) and potentially all feature level 9_3 devices.

The app exits with:
SharpDX.SharpDXException: HRESULT: [0x887A0005], Module: [SharpDX.DXGI], ApiCode: [DXGI_ERROR_DEVICE_REMOVED/DeviceRemoved], Message: The GPU device instance has been suspended. Use GetDeviceRemovedReason to determine the appropriate action.

I

[2015-05-08 13:20] Shqrdx commented on #3825
Exactly.

@nkast  Note that XNA example (http://xbox.create.msdn.com/en-US/education/catalog/sample/skinned_model) uses GPU skinning. I dont think a CPU would be good on mobile devices. The DX11 allows much more bones than XNA to be used in shader. My suggestion also includes adding an effect template to pipeline for that.

[2015-05-08 14:05] nkast commented on #3825
@Shqrdx
Both samples use the same AnimationClip class, the optimization work for GPU skinning too.

I think the number of bones depends on GPU capabilities, the Skinned effect set it to 72 as it was original. I should check to see if we can get that number higher but I don't hope for much. 72 bones * 16 floats really push the constant buffer to it's limit on feature level 9.3.

For the record, CPU

[2015-05-08 14:24] Shqrdx commented on #3825
@nkast Thats great ! Cant wait for trying this! : )

[2015-05-08 15:52] tomspilman commented on #3828
@tgjones - Got time for this fix?

[2015-05-08 18:25] tgjones commented on #3828
@tomspilman I'm away this weekend, but I can look at it when I get back on Sunday evening.

[2015-05-08 23:57] tomspilman commented on #3828
Thanks!

[2015-05-09 21:34] nkast commented on #3405
I reference MonoGame.Framework.Portable (3.2.99.1-beta) in a Windows 10 Class library
and I got an error that `InstancePlayLimitException` was not found.
Is it possible that Piranah strip it out of the assembly?

[2015-05-09 23:57] zno5 commented on #3715
I have the same trouble.
Did you solve this problem?
Please let me know how to show Ads in MonoGame for WP8.

[2015-05-10 01:27] tomspilman commented on #2859
So i'm working on this now... it will take a bit to cleanup the behavior for all the platforms as `GraphicsDeviceManager` is a huge tangled mess.

[2015-05-10 02:57] Rakesh-gene commented on #3715
Hi Jinho,

The issue was with the sdk that was used. Please use the latest sdk.

Regards,
Rakesh

On Sun, May 10, 2015 at 5:28 AM, Jinho <notifications@github.com> wrote:

[2015-05-10 09:07] shiro900 commented on #2204
@nkast  Can you please give me the source code of sharp dx 2.5.1 ? how can i find it ? I posed a question asking in the monogame community too http://community.monogame.net/t/which-sharp-dx-version-are-you-using/2412 .

[2015-05-10 10:08] nkast commented on #2204
@shiro900 I don't have it. You could search at sharpdx.org or ask at https://github.com/sharpdx/SharpDX
I theory you can extract it from github history but I am not sure how.

SharpDX is not easy to build. Has a couple custom build tools. I don't expect it to build by simply add the .cproj to your solution.
Monogame use diferent version of sharpdx for each version of Windows. see https://github.co

[2015-05-10 10:44] shiro900 commented on #2204
@nkast Just out of curiosity and I thought it would be cool to have everything open source, even though im not really gonna change any code of SharpDX

[2015-05-10 20:27] cra0zy opened #3831 "Merge WinGL and Linux MonoGame assemblies into one"
WindowsGL and Linux use almost the exact same code, except for Song.cs(which will for both be replaced by NVorvis) and few #ifs in OpenTKPlatform.cs.

Advantage would be that this should allow one compilation for a game that can be run from both Windows and Linux.

[2015-05-10 20:43] WardBenjamin commented on #3831
I personally would be all for this because it would mean I would only need to compile once. The issue that I see with it, however, is that any code written in the future would have to be written around this rather than being platform-dependant, as some of it is at the moment. I know we are working towards less of that, but we are continually introducing more and more of it as we add new features,

[2015-05-10 20:56] tomspilman commented on #3831
I think that is and acceptable limitation.  Plus there is still the option to execute different code at runtime based on the detected platform we're on.

[2015-05-10 20:57] WardBenjamin commented on #3831
Yeah, that's true and I was thinking of pointing that out. We just would have to avoid the compile-time dependency differences.

[2015-05-10 20:59] tomspilman commented on #3831
You also have `DllImport` which lets you late link to some native APIs after platform detection.

[2015-05-10 21:06] WardBenjamin commented on #3831
Fair enough, I wasn't arguing in the first place. :)

[2015-05-10 21:08] tomspilman commented on #3831
And neither am I.  Just reminding people of the flexibility we do have.

[2015-05-10 22:30] danzel commented on #2204
Open https://github.com/sharpdx/SharpDX
Click on the "branch: master" drop down
Choose Tags
Tagged versions are in there :)

[2015-05-10 22:35] shiro900 commented on #2204
@danzel  2.5.1 is not there though, 2.6.0 and 2.5.0 gives me errors

[2015-05-10 22:43] danzel commented on #2204
I don't think 2.5.1 was ever released as a stable version, if you look at the sharpdx news there was never a 2.5.1 release announcement, just a dev package.

If you check the history of our SharpDX dir, you'll see what versions we are using:
https://github.com/Mono-Game/MonoGame.Dependencies/commits/master/SharpDX

[2015-05-11 04:57] Shqrdx commented on #3831
I like it, but all #define LINUX should be removed for that ?

[2015-05-11 05:21] tomspilman commented on #3831
I expect all `#if LINUX` and `#if MONOMAC` stuff would be removed.  It would be replaced by `#if OPENGL` or `#if DESKTOPGL` or something like that I expect.

[2015-05-11 10:04] cra0zy commented on #3831
So here is the list of stuff that needs to be done, in case someone wants to help, all of these tasks should be in separate PRs:
- get to the same code base for Monogame.Framework.Net
- fix OpenTK bug that's not allowing window to be resized when border is fixed on Linux
- test and make sure that mouse leave behavior is same on Linux and WinGL
- replace all #if LINUX || (WINDOWS && OPENGL) with a

[2015-05-11 10:06] cra0zy commented on #3831
I am taking this task.

[2015-05-11 10:16] cra0zy commented on #3831
Question for all, what should the new assembly be called, MonoGame.Framework.xxxx:
- OpenTK
- DesktopGL (suggested by @dellis1972 )
- OpenGL
- something else?

[2015-05-11 10:29] KonajuGames commented on #3831
Go with DesktopGL.

[2015-05-11 10:53] WardBenjamin commented on #3831
I agree. Go with DesktopGL, it seems like the most concise and descriptive option.

[2015-05-11 10:53] dellis1972 commented on #3831
Other Tasks (off the top of my head)
* Implement VideoPlayer using Theora (or something similar)
* Make changes to Pipeline tool to remove, Linux, WindowsGL platforms and add "<newplaform>"
* Check the Pipeline to make sure for DesktopGL we produce "sane" outputs (e.g .ogg for songs )
* Test on Linux using MonoKickStarter.

[2015-05-11 11:00] cra0zy commented on #3831
This task is to be done later after all the merging.

I totally forgot about this good thing you mentioned it.

With #3832 I already set Pipeline to produce .ogg songs. Also MonoKickStart works without problem on current assemblies, I don't see a reason for it not to work later.

[2015-05-11 12:12] WardBenjamin commented on #3772
@tomspilman My pull request for this is complete as far as the RNG portion of it is concerned, I will open another afterwards after this current one is reviewed and approved. Will you or @KonajuGames review it?

Another topic: what utility functions do you actually want me to include? You have previously mentioned a shuffle for IEnumerables, which is really easy with a GUID, but what else do you w

[2015-05-11 13:59] cra0zy commented on #3831
I couldn't find what is causing the bug in OpenTK, but I did setup a better code for resizing that should be acceptable on all OpenTK platforms: #3834

[2015-05-11 13:59] cra0zy commented on #3831
Taking this task now.

[2015-05-11 14:29] BaseCrosser opened #3836 "Monogame WindowsGL ignores keyboard layout."
Greetings,

A few points:
- I'm using MonoGame 3.4
- My keyboard layout is AZERTY
- I have checked my language and keyboard settings on my computer and everything is correct

The problem I'm having is that the OpenGL versions of MonoGame seems to ignore the keyboard layout.

I created a little piece of testing code which is:

[code]

When I'm pressing the A key the screen turns white and when I'm

[2015-05-11 18:15] tomspilman commented on #3772
We will both review it.

 Not sure off the top of my head...  but what we do really need is aunit test proving the new class works as expected.

We shouldn't use GUIDs for that... we should use the random to do it.

[2015-05-11 18:22] tomspilman commented on #3836
The WindowsDX path uses XInput2 to get keyboard state which correctly translates between keyboard layouts.

The WindowsGL platform uses OpenTK which I guess isn't doing that translation.

@cra0zy @dellis1972 - Seems like this should be a bug we chase down with the OpenTK team?

[2015-05-11 18:33] tomspilman commented on #3831
Yeah... `#if OPENTK` would be fine.

Well the assemblies don't include platform names...  if you mean the project name as defined from the Protobuild script.  Yeah... DesktopGL is good.

Still I would suggest not making any change to what projects are generated until after all the code changes are done to unify the platforms.  Focus on making a few PRs that merge together parts of Linux/Windows th

[2015-05-11 18:38] cra0zy commented on #3836
I don't know whether to count this as OpenTK bug or not. Unlike DirectX which has the integration with Windows, OpenTK manually reads from the driver using a pre setup table of indexes so it's understandable that this happens.

@Frassle @thefiddler What do you think on this?

[2015-05-11 18:47] tomspilman commented on #3836
Ah... we at least I understand where it is coming from then.

Still this seems like something OpenTK should be handling... it can't be returning `Key.A` when it is really `Key.Q`.

[2015-05-11 18:49] tomspilman commented on #3831
Also we need to avoid breaking the Angle platform:

https://github.com/mono/MonoGame/pull/2377

Which is based on the WindowsGL code path, but will remain a separate platform.

[2015-05-11 19:00] Shqrdx commented on #3831
Just curious.. PS Vita support is dropped ?

[2015-05-11 19:13] tomspilman commented on #3831
If you mean the PS Mobile stuff... we plan to drop it in July when the store officially closes for it.

[2015-05-11 19:51] WardBenjamin commented on #3772
I have updated the xml docs a little bit, now onto this "unit test". Do we have any documentation on how to write one of these? I have never seen/written one before. @tomspilman

[2015-05-11 20:15] tomspilman commented on #3772
The `MonoGame.Tests.XXX` project is including the solution.  There is no documentation on how to write these, but you can use existing tests as a sort of guide:

https://github.com/mono/MonoGame/blob/develop/Test/Framework/Vector3Test.cs

I would create a new GameRandomTest.cs file and add in tests to verify that the random works as expected.

If you run the EXE it will execute all the tests which

[2015-05-11 21:47] WardBenjamin commented on #3772
When building the NUnit tests solution, it completely fails with a ton of null-exceptions, argument exceptions, and such. Some of these seem to be intentional, such as the argument exceptions. Am I correct in ignoring those?

[2015-05-11 21:53] tomspilman commented on #3772
Don't use the WindowsGL unit tests... they are still pretty broken.  Use the regular Windows DirectX platform for writing and testing your unit tests.

[2015-05-11 21:57] WardBenjamin commented on #3772
Alright, I can do that.

[2015-05-12 01:09] tomspilman commented on #3831
@cra0zy - Note i'm working on this https://github.com/mono/MonoGame/issues/2859 which should help with this process.

[2015-05-12 07:20] Frassle commented on #3836
Sounds reasonable for OpenTK to do this correctly, bug opened.

[2015-05-12 08:37] BaseCrosser commented on #3836
Thankyou guys. I will keep an eye on this.

[2015-05-12 08:57] dellis1972 commented on #3831
few other tasks

* Remove usage of System.Drawing in the "Desktop" frameworks.
* Get a Build of OpenTK which does not use System.Drawing.

The reason for this is it simplifies the deployment on Linux and Mac, System.Drawing has a large number of dependencies which we don't really want to deploy with a game. (libgdiplus and all of its dependencies).

I'll take on the Removal from the Desktop framew

[2015-05-12 09:00] tomspilman commented on #3831
That will for sure mean us having our own custom build of OpenTK as I doubt we can convince the OpenTK team to drop `System.Drawing`.

If we need our own build of OpenTK then let me know and i'll fork the official OpenTK repo to our organization https://github.com/Mono-Game .

[2015-05-12 09:13] dellis1972 commented on #3831
Well they have a NOSYS_DRAWING conditional in various places already. It just needs fixing up in a few places :). That said it might be an idea to for to MG and submit PR's back for little things like this. That way we can fix things for us and contribute back.

[2015-05-12 09:21] tomspilman commented on #3831
So they support this... then no fork for us which is great!

[2015-05-12 09:29] dellis1972 commented on #3831
One thing to note, I'll get using the PngReader, so we'll only support .pngs when loading from Stream on Linux, windows, mac and Angle. But I don't think that is a bad thing because people should be using the content pipeline anyway :P

[2015-05-12 09:36] cra0zy commented on #3831
They are actually thinking on removing System.Drawing: https://github.com/opentk/opentk/issues/245

[2015-05-12 09:47] KonajuGames commented on #3831
It would be a shame to lose JPG support in FromStream as this is often used
when pulling resources from web services.

[2015-05-12 09:55] dellis1972 commented on #3831
We can always use FreeImage to read jpeg's I think. or put together a jpg Reader/writer like the png one

[2015-05-12 09:56] dellis1972 commented on #3831
see #2424

[2015-05-12 09:57] tomspilman commented on #3831
The plan was always to implement a simple JPEG reader/writer in the same style as the PNG one we have now.

[2015-05-12 10:00] KonajuGames commented on #3831
I'm reading that previous discussion now that had a few options for managed
code jpg reader/writers.

[2015-05-12 13:17] nkast commented on #3825
I moved the SkinningSample in MonoGame. There are a couple of issues.
-The animation miss some keyframes, will investigate this.
In order to test it I had to create a SkineedEffect in code. Basically we need https://github.com/mono/MonoGame/issues/3057 fixed.

[2015-05-12 13:33] Vodacek commented on #3825
I also try to move SkinningSample to MonoGame and I got these result:
![img_11052015_204727](https://cloud.githubusercontent.com/assets/2104849/7588260/3761899c-f8bc-11e4-8eb1-285570131f5a.png)
any ideas what is wrong?

[2015-05-12 13:53] nkast commented on #3825
@Vodacek I didn't bother to test dude.fbx because of all the discussions about being old format and not supported by Assimp. Did you convert it somehow? are you sure nothing was lost? Hove you dried render it with Basic effect/no skinning?
I use one of our own mesh/animations to test it and despite a problem with clip animation data, the mesh and the few keyframes that I get are correct from what

[2015-05-12 13:58] Vodacek commented on #3825
@nkast yep conversion was necesarry, I am using official FBX Coverter from Autodesk, When I try to open it in Cinema4D (modelling software) model and animation is ok.

[2015-05-12 15:48] nkast commented on #3825
@Vodacek  Are you drawing all MeshParts? Set WeightsPerVertex to 4?
More important, does the model draw ok with BasicEffect in MG?

[2015-05-12 16:08] Vodacek commented on #3825
yes all mesparts are drawn (I am iterating effect collections like Skinning sample does), all weightsPerVertex are set to 4, BasicEffect rendering gets me bind pose :)
Here is converted dude model for testing: http://vodacekworks.cz/dude.zip

[2015-05-12 16:40] nkast commented on #3825
That's great. I will take a look.

[2015-05-12 17:12] mgarstenauer commented on #3825
any ideas what is wrong?

MonoGame uses [assimp](http://assimp.sourceforge.net/) for loading models. The problem is that the assimp does not load the Dude model correctly. (Assimp is not as robust as other libraries, such as the FBX SDK.)
Before importing your skinned models in MonoGame, try to load the model in the [assimp viewer](http://assimp.sourceforge.net/main_viewer.html). If the animations

[2015-05-12 18:51] nkast commented on #3825
https://github.com/mono/MonoGame/pull/3843

[2015-05-12 20:50] cra0zy commented on #3831
Next PR I submit will merge WinGL and Linux, finally there :)

[2015-05-13 05:32] tomspilman opened #3846 "Improve The README.md"
We need to review and improve our existing README.md file:

https://github.com/mono/MonoGame/blob/develop/README.md

Some things I've noticed so far:

  - The supported platforms is out of date.
  - We shouldn't repeat download info from the website... just link them to it.
  - Remove link to the old Starter Kits.
  - Does anyone ever really use our IRC channel anymore?
  - Update the "Current Roa

[2015-05-13 05:33] tomspilman commented on #3846
Idea... maybe add a link to the [Help Wanted](https://github.com/mono/MonoGame/labels/Help%20Wanted) label under contributing as a suggestion as to where to start.

[2015-05-13 06:02] tomspilman commented on #3732
@DDReaper - Can this issue be closed?  Or is there something we need to fix in our nuspec files?

[2015-05-13 06:03] tomspilman commented on #3321
We're not going to use NuGet within the MonoGame build process.

[2015-05-13 06:03] #3321 closed

[2015-05-13 06:10] tomspilman commented on #2843
Ok... this issue is done!  You can see the new 3.4 build is updated in NuGet:

  https://www.nuget.org/packages/MonoGame.Framework.Android/
  https://www.nuget.org/packages/MonoGame.Framework.Ouya/
  https://www.nuget.org/packages/MonoGame.Framework.iOS/
  https://www.nuget.org/packages/MonoGame.Framework.Linux/
  https://www.nuget.org/packages/MonoGame.Framework.MacOS/
  https://www.nuget.org/pac

[2015-05-13 06:10] #2843 closed

[2015-05-13 06:18] #3732 closed

[2015-05-13 07:32] dellis1972 commented on #2843
Awesome 😊

-----Original Message-----
From: "Tom Spilman" <notifications@github.com>
Sent: ‎13/‎05/‎2015 07:10
To: "mono/MonoGame" <MonoGame@noreply.github.com>
Cc: "Dean Ellis" <dellis1972@googlemail.com>
Subject: Re: [MonoGame] Automate NuGet Packaging And Publish (#2843)

Closed #2843.
—
Reply to this email directly or view it on GitHub.

[2015-05-13 07:54] danzel commented on #2843
:+1: AWESOME :+1:

[2015-05-13 09:27] cra0zy commented on #1720
@tomspilman This can be closed, sdl isn't even used anymore because of #3832

[2015-05-13 09:27] cra0zy commented on #2598
This can be closed, sdl mixer has been replaced by NVorbis with #3832

[2015-05-13 09:28] cra0zy commented on #3625
Implemented with #3832

[2015-05-13 09:28] #3625 closed

[2015-05-13 09:29] cra0zy commented on #3266
This can be closed, last bits of sdl have been replaced in #3832

[2015-05-13 09:35] #1720 closed

[2015-05-13 09:35] #2598 closed

[2015-05-13 09:36] #3266 closed

[2015-05-13 09:38] dellis1972 commented on #2598
The templates still need to be updated.

On 13 May 2015 at 10:35, Tom Spilman <notifications@github.com> wrote:

[2015-05-13 09:39] AleksandarDev opened #3847 "[W8.1] SwapChainPanel support"
Discussion over at MonoGame community [link](http://community.monogame.net/t/w8-1-swapchainpanel-support/2433/2)

Basic implementation [here](https://github.com/Sparkiy/MonoGame/commit/125edb2c9170b23d4877c2c723cc9c12173fdef4)

That implementation is missing `Exit()` support as with SwapChainPanel you are not limited to just one instance of panel per application.

[2015-05-13 09:42] cra0zy commented on #2598
I updated nuget packages and VS templates for it, the only thing I didn't update is XS addin templates, which only have to is disable including of Tao.Sdl.config.

[2015-05-13 09:44] dellis1972 commented on #2598
ok I'll take care of the XS addin

On 13 May 2015 at 10:42, Harry <notifications@github.com> wrote:

[2015-05-13 09:45] cra0zy commented on #2598
@dellis1972 since nuget packages are automatically generated, can you somehow connect it to https://github.com/mono/MonoGame/blob/develop/IDE/MonoDevelop/default.build ?

[2015-05-13 14:20] nkast commented on #3847
This is an older branch. GraphicsDevice.DirectX.cs  already have SwapChainPanel for W10 platform. One have to start from the latest source and move those changes from W10 to W8.1 while make  sure not to break W8.0. Mostly by adding the W8.1 platform to #ifs/#endifs.

[2015-05-13 17:31] kvenkateshan commented on #3769
@KonajuGames Hi Steve, please comment/ping when your changes are in. Thanks!

[2015-05-13 17:54] DDReaper commented on #2843
Great to see this enter the fold.

[2015-05-13 17:55] DDReaper commented on #3732
I'll fix it in the next samples update.

[2015-05-14 03:54] nkast commented on #3825
The animation I used had a few Keyframes and use Curve animation.
Clearly the XNA importer interpolated those keyframes at some fixed interval and export a flat animation.
We have two choses here,
do what XNA did at lower level when we read the animation data from Assimp.
or move the code higher to the SkinnedModelProcessor and let user set the frame rate at which he wants the frame interpolated.

[2015-05-14 07:19] Frassle commented on #3831
OpenTK now has a fix for the Linux resize issue: https://github.com/opentk/opentk/issues/259
Should get pulled in soon, so you'll be able to clean up your workaround in MonoGame.

It won't be hard, it causes a lot of problems we'd like to drop it but it means breaking backwards compatibility which is never a good thing. We do have a new .NET4.5 branch which would probably be a good place to start

[2015-05-14 07:29] dellis1972 commented on #3831
@Frassle I submitted a PR to opentk to fix the MINIMAL/NO_SYSDRAWING support which is good enough for the MonoGame so far (I tested it locally). Not sure if it meets your expectations though.

https://github.com/opentk/opentk/pull/262

[2015-05-14 07:53] Frassle commented on #3831
Haven't had a chance to go through it yet, I'll see if I can merge it in this week though.

[2015-05-14 15:51] cra0zy opened #3849 "Make OS X Pipeline use Gtk 3 instead of Gtk 2"
Linux Pipeline already uses Gtk 3 so there isn't much that has to be done. To be precise only 2 things:
1) Update dependencies, I've setup a PR to update most of them, (https://github.com/Mono-Game/MonoGame.Dependencies/pull/54), the only thing that remains to be updated is libgtk-3-0.dll, which I can't compile since I don't have a Mac
2) Setup #if and OS X constants in: https://github.com/mono/Mo

[2015-05-14 15:57] cra0zy commented on #3846
Should PlayStation Mobile stay under supported platforms?

[2015-05-14 16:12] tomspilman commented on #3846
The store for PSM games will be shut down July 15, 2015 and the service will be shut down September 10, 2015.  So for certain we will remove support for PSM later this year.

Still we should probably stop advertising support for it as someone starting with it now would be screwed.

[2015-05-14 16:13] tomspilman commented on #3849
@dellis1972 - If you have some time can you help with this?

[2015-05-14 16:18] cra0zy commented on #3846
What do you think about this: https://github.com/cra0zy/MonoGame/tree/readme

[2015-05-14 16:19] cra0zy commented on #3846
Also I really don't know what should Windows UAP be combined with Windows Phone and Windows Store Apps

[2015-05-14 16:24] dellis1972 commented on #3849
I'll add it to my todo list :)

note to self : I need to write up my todo list :P

[2015-05-14 16:25] cra0zy commented on #3849
lol

[2015-05-14 17:09] WardBenjamin opened #3850 "Monogame Linux Installer "broken""
Hey all,

When using Monogame on Linux, the nuget package works perfectly, but I noticed that when I downloaded the 3.4 Linux download (Monogame.Linux.zip) from monogame.net, a few things were wrong. First, generate_deb.sh, makeself-header.sh, and makeself.sh are not marked as executable when unzipped. Second, the pipeline tool .deb generates with the version of 3.3-1, instead of 3.4. Is this inte

[2015-05-14 17:13] WardBenjamin commented on #3850
Oh, just found a third issue. The deb that is generated through makeself also does not change the monogame-pipeline executable in /bin to be exectuable, so I had to run `sudo chmod +x /bin/monogame-pipeline` on that as well.

[2015-05-14 17:22] WardBenjamin commented on #3810
I am working on this but this is not really something we should focus on for the forseeable future. Closing.

[2015-05-14 17:22] #3810 closed

[2015-05-14 17:55] AleksandarDev commented on #3847
@nkast I am aware that W10 already has this, but I need W8.1 version for W8.1 store apps (hence modified version from january). I would like for this feature to become part of official release.

[2015-05-14 18:35] cra0zy commented on #3850
This has been fixed in #3786

[2015-05-14 19:26] ivanvulovic opened #3851 "Structures should be serializable"
A number of structures (Vector2/3/4 for example) are marked [Serializable] in Microsoft's XNA and are not in MonoGame. This should be changed for compatibility and just because it's helpful to have. I haven't looked more systematically at what does/doesn't match; Vector3 was what I ran into.

[2015-05-14 19:27] WardBenjamin commented on #3850
@cra0zy thanks for letting me know. Will this be a part of 3.4 or will it only be a part of the upcoming 3.5 release?

[2015-05-14 19:33] cra0zy commented on #3850
3.5

[2015-05-14 19:36] WardBenjamin commented on #3850
Thanks. Closing.

[2015-05-14 19:36] #3850 closed

[2015-05-14 20:22] lnaie opened #3852 "iOS: Fix engine to load into a child window."
Hi,

I have a fix for that in my fork: https://github.com/lnaie/MonoGame
It doesn't impact the other platforms where could be also implemented gradually. Not ideal but it's a start.

Thanks

[2015-05-14 21:02] tomspilman commented on #3851
We switched to `[DataContract]` serialization a couple of years ago:

 https://github.com/mono/MonoGame/issues/3072

[2015-05-14 21:02] #3851 closed

[2015-05-15 13:23] mgarstenauer opened #3853 "Problems with new effect preprocessor"
I have encountered several problems compiling DirectX Effects. I assume that they are caused by the new preprocessor (https://github.com/mono/MonoGame/issues/1972). Before everything worked fine.

Here are two effects for reproducing the problems:

Effect.fx
[code]

Effect2.fx
[code]

Effect.fx compiles without a problem. But the following problems appear when compiling Effect2.fx:

**Problem 1:**

[2015-05-15 16:17] tgjones commented on #1972
I have a commit 698f66e45ed2afc1ba7629230f1a70f47d798403 with a failing test for this issue. I've logged an issue on the CppNet repo - xtravar/CppNet/issues/3 - because it's not obvious where in CppNet the newline should be inserted. Hopefully I'll get an answer there, and then I can submit a PR to CppNet, and subsequently to MonoGame.

[2015-05-15 16:22] tgjones commented on #3853
* I'm working on a fix for **Problem 1**.
* I haven't seen **Problem 2** - can you post a minimal failing test file(s)?
* I have seen **Problem 3** - I know that multiline comments cause incorrect line numbers in error messages. I'm not sure if that's the only issue, but it's certainly an issue.

[2015-05-15 16:48] mgarstenauer commented on #3853
Thanks for the response. [Here](http://1drv.ms/1ELSw5q) is my test case. Let me know if you need something else.

(Note: None of this is time critical. I have managed to work around these issues so far. But in the long term it should probably be fixed.)

[2015-05-15 17:57] Kaktusbot opened #3855 "Problems with Shaders (Win DX)"
Sorry for bad english, I use Google translator.
I'm trying to write a simple shaders just to have a simple look on shader technology.
I had some medium logic pixel shader and it was working wrong. I twice checked it and decided that is bug in monogame. Bug in setting textures to sampler states.
This bugs are already described in monogame issues. You wrote that you are fixed them, but some people s

[2015-05-15 18:47] tomspilman commented on #3853
Thanks for reporting this @mgarstenauer !  We felt we would get some tricky issues from the switch in preprocessors... so just working thru these bugs as we trip up on them and improving our unit tests.

[2015-05-15 18:48] aramisgrey opened #3856 "SpriteBatch.Draw() applying random draw order to sprites with same layerDepth"
Situation:
Draw 2 sprites on top of each other for 500 times. Sprite 2 is smaller than sprite 1, so you always clearly see sprite 1 behind sprite 2. Make sure not to overlap the drawing for each sprite pair so you can evaluate each pair-drawing.

Notice that: in some cases you won't see sprite 2 above sprite 1 but only sprite 1.

Reason: using Draw() with SpriteSortMode = BackToFront and blendStat

[2015-05-16 21:56] #3828 closed

[2015-05-18 04:34] MichaelDePiazzi opened #3858 "Sprites don't appear when using layer depth and a magnified view"
I've noticed that sprites don't appear when using layer depth and a magnified view. For example, the following code will result in no sprite appearing:
[code]
However, if I change the layer depth to 0.5 or lower, then the above example will work. Specifically, the threshold for the layer depth before the sprite disappears seems to be 1 / scale.

Also note that it doesn't matter what the SpriteSort

[2015-05-18 07:40] Izikio opened #3859 "MonoGame.Framework.iOS reference for ModelReader optimized away."
When creating a Xamarin iOS app, if you set the assembly linker to link all assemblies, The ModelReader gets optimized away.

I've noticed that to prevent this, you have created instances like so
<code>
var hStringReader = new StringReader();
</code>

ModelReader is missing a reference, so it gets optimized away.

Additionally, is there any reason that you are not using the Preserve attribute inst

[2015-05-18 07:54] KakCAT commented on #3858
Hi,

this is the behaviour in XNA too. You should use Matrix.CreateScale (2,2,1); to magnify the view without affecting the Z.

[2015-05-18 08:03] tomspilman commented on #3859
Yes... ModelReader` needs to be added to this block of code:

https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Content/ContentTypeReaderManager.cs#L117

Should be a simple PR for someone.

[2015-05-18 08:04] MichaelDePiazzi commented on #3858
@KakCAT Ahhhh.... Yes, that works! Thank you very much! :)

So while this is not really obvious that this needs to be done for 2D stuff, I assume that this is not really an issue since it matches XNA behaviour and I should close this?

[2015-05-18 08:06] tomspilman commented on #3858
Yeah...  I don't see anything we can do here to improve things.  This is just a simple math mistake.

[2015-05-18 08:06] #3858 closed

[2015-05-18 08:16] KonajuGames commented on #3859
The `Preserve` only exists in iOS and Android, and it's in different namespaces on those platforms.  And it appears with the addition of `Xamarin.iOS.Foundation` it still won't be consistent across platforms.

If we were to try to use the `Preserve` attribute, it would a mess of #if conditionals and then we would need the alternative for the other platforms anyway.  So we have remained with the on

[2015-05-18 08:18] MichaelDePiazzi commented on #3858
No probs, sorry about the false alarm.

[2015-05-18 12:24] Frassle commented on #3831
Had a look, I think we can drop the NO_SYSDRAWING define and just use MINIMAL everywhere? There's a few changes in your pull request that just comment code out, that needs to be changed to #if and do something sensible when System.Drawing isn't available.

[2015-05-18 14:57] cra0zy opened #3862 "Problem with compiling 3d models"
http://community.monogame.net/t/wont-load-non-content-fbx-in-monogame-3-4-0-455-on-linux/2455

I've looked into that and it turns out models compiled from Linux can't be loaded, while those compiled from Windows can.

No errors occur during the build of the model.

[2015-05-18 15:02] tomspilman commented on #3862
First thing to do is convert the same FBX on Linux and Windows and do a binary comparison of the XNB files.   Those files should be basically identical.

[2015-05-18 15:09] cra0zy commented on #3862
squarew is windows produced and squarel is linux produced, https://mega.co.nz/#!2QZjwSKK!KXtV7ytgVbD3tuDt3RQ6_7fx5vdw96O4HgHA9ZnJ5sk

I forgot to check the version of Pipeline on Win(which I will do right now), on Linux it's newest Pipeline.

[2015-05-18 15:40] cra0zy commented on #3862
I have found something interesting, setting compiling platform to Windows created xnb that can be loaded.. I know where to look now.

[2015-05-18 16:10] cra0zy commented on #3862
I am more confused than I was... it now produces correct xnb files... and I have no idea why it produced those unreadable xnb for that short time.

[2015-05-18 16:36] tomspilman commented on #3862
Could it be the Linux/Windows/DesktopGL change in the `TargetPlatform` enum?

[2015-05-18 16:42] cra0zy commented on #3862
found what was causing the problem, submitting a PR in 2 mins..
1 thing I don't understand is why did it load the Linux files at all...

[2015-05-18 16:46] cra0zy commented on #3862
#3863 fixes it

[2015-05-18 16:46] #3862 closed

[2015-05-18 17:40] Vodacek opened #3864 "Content unloading"
In my game I am using huge amount of assets and I need to manage them. I have multiple content managers, each for one level. When I unload all loaded assets:

       Content.Unload();
       Content.Dispose();

and after that try to load Effect I get old disposed instance. Models and textures are loaded correctly. I am using Windows OpenGL version with current source. Any ideas?

[2015-05-18 23:20] danzel commented on #3856
We use List<T>.Sort to sort the sprites to draw
https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Graphics/SpriteBatcher.cs#L212-L223

This is an unstable sort
https://msdn.microsoft.com/en-us/library/b0zbh7b6%28v=vs.110%29.aspx

If this is really needed then we could use a stable sort, but it'll be slower, quite a bit by the looks:
http://www.codeproject.com/Articles/26048/Fastest-

[2015-05-19 00:26] KonajuGames commented on #3856
If you are asking it to sort back to front and then not giving it anything
sensible to sort with, it is not guaranteed to be in the same order as you
called Draw().​  If you want sorted rendering, then you must give it
something to sort with.

[2015-05-19 09:36] #3864 closed

[2015-05-19 09:36] Vodacek commented on #3864
It was my fault sorry about that.

[2015-05-19 19:15] dellis1972 commented on #3831
@Frassle I've updated the PR and fixed the commented out code.

[2015-05-19 21:51] teryror commented on #3772
As for utility functions, in addition to the already mentioned NextFloat(min, max) and Shuffle(IEnumerable), there's a couple useful things I can think of:

* Sampling from non-uniform distributions, especially the normal distribution. I'd imagine that poisson distributions would come in handy with particle effects and the like as well.
* Sampling from arbitrary, discrete distributions is a pretty

[2015-05-19 22:47] WardBenjamin commented on #3772
I would be completely fine as long as you kept the API/documentation and such as it is, or similar. Actually, something that could save a lot of effort is if @teryror just pulled my branch in my fork down and used the API that is already there, just integrating his PCG implementation. I am having a bit of trouble coming up with an extensive test since it sometimes takes millions of iterations to g

[2015-05-20 10:37] teryror commented on #3772
I already forked your branch and am currently cloning it. Still new to github and VCS in general, so no need to risk messing up your branch.

As for unit tests, the ones I have are based on Microsoft.VisualStudio.TestTools.UnitTesting, rather than NUnit, so I'll have to do some work porting them over. Also, it's not like I was particularly thorough testing the generator itself (private project and

[2015-05-20 10:54] WardBenjamin commented on #3772
Honestly whatever works for you is fine. We ended up deciding on this so that the Seed actually represented the initial value of the RNG, while maintaining a separate state internally so that we could use it in the xorshift calculation.

[2015-05-20 11:50] teryror commented on #3772
Makes sense. No point in touching that then.

[2015-05-20 20:32] seanzer opened #3867 "TouchPanelCapabilities.IsConnected is always false in Universal Windows 10 apps"
IsConnected is always false since WINDOWS_STOREAPP is undefined

[2015-05-20 20:46] MathieuJack opened #3868 "Nuget MonoGame.Framework.iOS can't be installed"
It's my first attempt to use Monogame, so maybe I do something wrong!
Here is what I have done:

1) Create new Xamarin.iOS blank app Iphone (NOT classic API) using VS2013 and a Xamarin.iOS business edition.
2) In "Manage Nuget Packages...", install "MonoGame.Framework.iOS" (v3.4.459)

Then I get this :
Installing 'MonoGame.Framework.iOS 3.4.0.459'.
Successfully installed 'MonoGame.Framework.iOS 3.

[2015-05-22 08:53] teryror commented on #3772
Okay, so I just synced a couple of commits to https://github.com/teryror/MonoGame/blob/Random/MonoGame.Framework/Random.cs, which is pretty much done in my point of view (Your mileage may vary, especially concerning https://github.com/teryror/MonoGame/commit/a2d59f2b04033ac7bcc425507e4e88cd894ae303 (the NextInt32() "alias" for Next() which is just plain old code duplication, imo) and https://githu

[2015-05-22 17:20] WardBenjamin commented on #3772
@teryror I have updated my branch with your changes as well as updating the pull request. We'll have to find out @tomspilman 's opinion about the Nextint32() alias removal as he is the one who wanted that in place IIRC. Other than that, it looks very good. Nice job.

I think the unit tests are the only thing left to complete, again you'd have to check with Tom about the ClsCompliant thing, I pulle

[2015-05-22 18:00] SirMartin opened #3870 "Content.mgcb build fail when code is from a GIT repository."
Hi to all,

I started a little project, and I started in one computer, and I made a GIT repository and I commited all the project in the GIT, when I downloaded the repository (in other/same computer) I can't build it, and monogame gives me this fail.

###### The command ""C:\Program Files (x86)\MSBuild\MonoGame\v3.0\Tools\MGCB.exe" /@:"C:\Users\Eduardo.Izquierdo\Documents\Piribisoft%20Airlines%20G

[2015-05-22 23:55] teryror commented on #3772
Unit tests are up and running, though [this](http://i.imgur.com/uvnj7Pn.png) just doesn't look right. Then again, that's 127 *errors*, it's not like these tests *failed* per se. I didn't muck with any code outside Random.cs and [RandomTest.cs](https://github.com/teryror/MonoGame/blob/Random/Test/Framework/RandomTest.cs), so those must have been broken before?

I still have to figure out how to sen

[2015-05-23 00:06] WardBenjamin commented on #3772
@teryror Yeah, I tried brute forcing it and it took a really long time, especially for the functions that can return a larger domain (the NextInt64 methods especially). I don't think that's the best option here, but I don't really have any better ideas. I can definitely write NextBytes right now, I need a short break from working on my game anyhow.

It's not a bad idea to wait for a response, I ha

[2015-05-23 10:44] templarvii commented on #3180
I had the same Problem. But now the bug seams to be fixed.

MonoGame 3.0 --> the sound is well played
MonoGame 3.2 --> the sound is played very crackling after it has been played hundreds of times
MonoGame 3.3 --> i think it's better, but not as good as in version 3.0
MonoGame 3.4 --> i think the sound is well played again (still testing)

Many thanks for your great work!

[2015-05-23 11:21] KonajuGames commented on #3870
My thinking is that it could be one of two things:
- the spaces in the paths are appearing as %20 in the error message.  Is that only in the error report or are those repalcements for the spaces happening earlier somewhere?
- line endings in the mgsb file.  Git does line ending conversion depending on settings in your gitconfig, which can be global or local.

[2015-05-24 15:34] ollipekka opened #3872 "Content pipeline implementation isn't exposed"
As a user who is trying to implement Content Pipeline Extension that deals with graphics, I'm unable to reproduce things like Texture2DReader, because ContentReader.GraphicsDevice is internal.

In my use case, I'm trying to implement TextureAtlas content pipeline extension. It reads TextureAtlas which contains dictionary of regions and an image. I'm not able to initiate new Texture2D, because I ca

[2015-05-24 19:08] mgarstenauer commented on #3872
To get the GraphicsDevice call

[code]

in your ContentTypeReader.

[2015-05-24 21:02] tomspilman commented on #3872
@mgarstenauer @KonajuGames @dellis1972

Is there are good reason we shouldn't just make `ContentReader.GraphicsDevice` public?  Other than backwards compatibility with XNA?

[2015-05-24 23:31] tomspilman opened #3873 "Exception Processing ReadOnly WAV"
The code here...

https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework.Content.Pipeline/Audio/AudioContent.cs#L301

Needs to be fixed to open that stream in read only mode.

[2015-05-24 23:42] KonajuGames commented on #3872
It's the same two non-obvious lines of code that have to repeated in any ContentTypeReader, so I don't see why not expose it.

[2015-05-25 06:58] kjpou1 opened #3875 "Crash in Mac OSX - GamePad"
Current Development branch as of May 25 When overriding the update method in the Game:

        protected override void Update(GameTime gameTime)
        {
            base.Update(gameTime);

            // Allows the game to exit
            #if (WINDOWS && !NETFX_CORE) || WINDOWSGL || WINDOWSDX || MACOS
            if (GamePad.GetState(PlayerIndex.One).Buttons.Back == ButtonState.Pressed)

[2015-05-25 07:40] cra0zy commented on #3875
This is a duplicate of #3790

[2015-05-25 08:13] mgarstenauer commented on #3872
We could expose `ContentReader.GraphicsDevice` in MonoGame for convenience. ... Or, why not remove the internal `ContentReader.GraphicsDevice`!

Here is my reasoning: I personally prefer XNA's architecture, which has a clean separation: The `ContentManager` stuff is in Microsoft.Xna.Framework.dll which does not have a dependency on Microsoft.Xna.Framework.Graphics.dll. So, in theory, the content p

[2015-05-25 08:25] dekroll opened #3876 "Memory leak in Windows store universal app"
I have a problem with unmanaged memory leak in Windows Store Universal App.
Here are steps to reproduce the problem:
1) Create Universal project from MonoGame template
2) Add blank page for Windows 8.1 project and button to it
[code]
[code]
3) Modify app.xaml.cs
[code]
4) Add a button to game page
[code]
[code]
Here what I can see in profiler:
![image](https://cloud.githubusercontent.com/assets/45

[2015-05-25 09:35] faisalr commented on #3876
I think you should use SwapChainPanel instead of SwapChainBackgroundPanel

[2015-05-25 09:44] dekroll commented on #3876
Thanks for the answer. Do you have a working example?
XamlGame Create method requires SwapChainBackgroundPanel (third argument).

[code]

[2015-05-25 09:59] faisalr commented on #3876
I am using Windows 10 universal project with MonoGame 3.5

    public static T Create(string launchParameters, CoreWindow window, SwapChainPanel swapChainPanel);

Try this

        XamlGame<Game1>.Create(string.Empty, Window.Current.CoreWindow, this);

[2015-05-25 10:27] SirMartin commented on #3870
Yes thank you, this was the fail number 1 you quoted.

The problem was at in the Git Origin was created the name with white spaces, so when I cloned the repository in my machine, git set up the path with "%20" instead of white spaces, so the mono game failed. I renamed my local path in my computer, changing the "%20" for white spaces, and build perfect.

Thank you so much for your help.

[2015-05-25 10:27] #3870 closed

[2015-05-25 11:22] dekroll commented on #3876
I have no plans to upgrade to Win10 at the moment (I'm using 8.1).

But there should be a way to release resources.

Exit is marked as obsolete in windows store apps.

[2015-05-25 11:35] faisalr commented on #3876
Why do you need to release resources?

With your way of using Window.Current.Content you don't need to dispose anything.

[2015-05-25 12:07] dekroll commented on #3876
Please check the [image](https://cloud.githubusercontent.com/assets/4506967/7794076/42bd76da-02cf-11e5-9f62-8d3ad27fbc82.png) from issue description. This is profiler screenshot . If I do not release resources of the Game instance amount of allocated memory will continue increasing.

[2015-05-25 12:39] faisalr commented on #3876
I am bad at memory management I am C# only... :smile:

[2015-05-25 13:15] kjpou1 commented on #3875
Thanks @cra0zy will close as duplicate

[2015-05-25 13:15] #3875 closed

[2015-05-25 16:50] ollipekka commented on #3872
Similarly GraphicsDevice.GraphicsCapabilities seem to be hidden. Even if i'm able to extract GraphicsDevice, I'm not able to implement IOS support for textures ala Texture2DReader because third party pipeline extension assemblies are second-class citizens.
(talking about this class) https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Graphics/GraphicsCapabilities.cs

Another option wo

[2015-05-25 17:54] zephyrthenoble opened #3882 "[Content Pipeline] Opening a content pipeline file opens previously opened file"
When I double click on a content pipeline file, the content pipeline tool opens up with the previous file.  I then have to manually go to file -> open and select the file for the new content pipeline file to be loaded.

I believe this is not deliberate, but I could be wrong.

OS: Windows 8.1
Pipeline: 3.4.0.211

[2015-05-25 18:20] cra0zy commented on #2859
If you have a branch somewhere I'll help out

[2015-05-25 18:21] cra0zy commented on #3882
Duplicate of #3230

[2015-05-25 21:52] zephyrthenoble commented on #3882
Thanks, didn't see that one when I searched.

[2015-05-25 21:52] #3882 closed

[2015-05-25 22:55] #3873 closed

[2015-05-25 23:59] BenMakesGames opened #3884 "three isses with SharpDX/MediaPlayer (MonoGame 3.4.0.456)"
[edit] after playing around more, I discovered that the problems I was having locally are due to inconsistent application of Volume settings. This is a DIFFERENT sort of bug, and I uncovered an additional bug after further testing. I have edited the post accordingly.

---

I installed CrashReporter.NET into my project recently, and have been getting several reports related to MediaPlayer. I'm unab

[2015-05-26 07:29] faisalr opened #3886 "Merge all platforms in one solution"
I was thinking it would be better if we had MonoGame.sln which contains everything in it?

[2015-05-26 11:11] nkast commented on #3230
I tried NSIS 3.0b1 and 2.46 with the MonoGame.nsi and in both cases I got "!include: could not find: "header.nsh"". I am only guessing here, it's not clear from the teamcity build logs what type of installer the *.nsi is for.

I could add the "%1" and push a branch, wait for teamcity to build and then test the installer, but in case it fails it means more garbage PR. I don't know how .NSI handle q

[2015-05-26 11:50] Nezz commented on #3886
MonoGame contains projects for a dozen of platforms. The average developer does not use more than a bunch of those platforms and might not have the required tools annd licenses to develop for some platforms (think Xamarin).

[2015-05-26 12:54] #3886 closed

[2015-05-26 18:12] dellis1972 commented on #3872
@ollipekka I've been looking at my own "Atlas" processor. And in keeping with the way the Model processor works you should be able to create your own "atlas" xnb but have it reference the textures via external references. That way the built in Texture Processor can do its job an optimise of the target platforms (and it does allot of stuff you don't want to replicate yourself PVRTC/DXT texture comp

[2015-05-27 13:47] WardBenjamin opened #3889 "Content loading capitalization policy different on Windows and Linux"
I don't know about OSX, but I know that the capitalization policy is different on Windows and Linux as far as content loading goes. On Windows, `Content.Load<Texture2D>(@"Tiles/Null")` will load `Tiles/null.xnb` even though capitalization is different, however this is not true for Linux. On Linux, it will throw a "Cannot load as non-content file" error unless the image is renamed to `Null.xnb` or

[2015-05-27 13:50] KonajuGames commented on #3889
It depends on the file system of the OS.  Windows is case-insensitive, but almost every other platform is case-sensitive.  We cannot change how the file system of the host platform works.

It is best practice to use the correct case when loading your content.  This will allow the same code and data to be used on all platforms.  We just cannot enforce it on Windows.

[2015-05-27 14:28] cra0zy commented on #3889
As @KonajuGames said, different file systems, different rules.

On FAT and NTFS creating file called "Abc.txt" is same as creating a file called "abc.txt" or "ABC.txt", it's not case sensitive.

On EXT it is case sensitive, so you can have all 3 files in the same folder.

[2015-05-27 16:01] KonajuGames commented on #3769
I've got a bunch of it working now.  I've done a lot of cleaning up of the various BitmapContent types.

Device: Google Nexus 7 (1280x800)
From left to right: Color, Bgr565, ETC1, DXT1
![dxt](https://cloud.githubusercontent.com/assets/694943/7840897/b372102a-04dc-11e5-94f7-f505237fb9cd.png)

Device: Google Nexus 5 (1920x1080)
From left to right: Color, Bgr565, ETC1, ATC
![atc](https://cloud.github

[2015-05-27 16:17] #3889 closed

[2015-05-27 16:48] kvenkateshan commented on #3769
I see. Any chance you can share your DxtBitmap.cs file that I can locally use until the changes are submitted in the near future? I am building content for the PS4.

[2015-05-27 18:16] flibitijibibo commented on #2602
Some work regarding vertex textures in OpenGL (because MojoShader or not it's going to be really fun for the author):

The way vertex textures are done in XNA4 is that is basically just takes the last 4 sampler slots available for the D3D9 graphics device, and calls those "vertex" textures. Those samplers then get sent to the vertex shader's sampler registers with modified indices (so if you use r

[2015-05-27 21:22] KonajuGames commented on #3769
The changes can't really be separated out by cherry picking a single file.
I have the changes available in a `etc1` branch in my fork
http://github.com/KonajuGames/MonoGame

[2015-05-27 22:10] Frassle commented on #3836
Spent a while on and off looking into this. Rewrote the system to mostly use virtual keys reported by Windows, with some special case handling so we get a better mapping to physical keys (numpad keys change their vkey based on numlock, we don't want that). If you could try it out on your keyboard layout and let me know if there's any keys that are translating incorrectly (or not at all!) that woul

[2015-05-27 22:10] kvenkateshan commented on #3769
I am getting a StackOverflowException when my custom processor uses it. Looking further into it.

![image](https://cloud.githubusercontent.com/assets/11383753/7848634/61975a94-0482-11e5-940b-2167d1fda8ab.png)

[2015-05-28 00:07] KonajuGames commented on #3769
What are the types of bitmaps you are passing to it?  Dimensions and
regions as well if possible.​

[2015-05-28 00:14] kvenkateshan commented on #3769
PixelBitmapContent<Color>.. The regions are w=107, h=104 and the actual w=128,h=128. I did the following to get past it, although not completely sure if this fixed it as I am yet to test the results after building the asset.

if (!(sourceBitmap is PixelBitmapContent<Vector4> || sourceBitmap is PixelBitmapContent<Color>)
I think this prevented it from being an infinite recursion

Added the below fo

[2015-05-28 00:19] KonajuGames commented on #3769
Are the source and destination regions the same?  In your original post you
mentioned converting to a Dxt5BitmapContent.  Is that the line that this
stack overflow is coming from?

[2015-05-28 00:35] kvenkateshan commented on #3769
Just double checked.. The DxtBitmap part CopyFrom/To works just fine. So, I guess this is a different issue. PixelBitmapContent, Line 143, where by the source bitmap is a PixelBitmapContent<Color>, so it recursively goes into the BitmapContent.Copy, which redirects it back to the same function. SourceRegion and Destination regions are same.

if (!(sourceBitmap is PixelBitmapContent<Vector4>) ||

[2015-05-28 00:54] KonajuGames commented on #3769
If you could let me know

Type of source bitmap
Type of destination bitmap
Source region x, y, width, height
Destination region x, y, width, height

then I will be able to work out what is going wrong and I'll fix it tonight.
​

[2015-05-28 09:16] BaseCrosser commented on #3836
@Frassle I tried to build opentk from source from the link i your post but when I added the resulting binary to my application where I encountered the problem with the keyboard my application wouldn't even start. Something with Wgl.cs. Sorry that I can not help you. If you know what I've done wrong please tell me :smile:

[2015-05-28 09:42] Frassle commented on #3836
Can you build and run the examples? One of the examples is GameWindowStates and it prints a load of debug info to the screen including key presses, if you can run that it's probably good enough to test the keyboard layout for now and then I'll worry about wgl.cs issues.

[2015-05-28 11:18] BaseCrosser commented on #3836
@Frassle The GameWindowStates example does not exist on your tree. The files opentk-develop\Source\Examples\OpenTK\GameWindow\GameWindowStates.rtf  And  opentk-develop\Source\Examples\OpenTK\GameWindow\GameWindowStates.cs are missing.

[2015-05-28 11:45] Frassle commented on #3836
Did you checkout the keyboard branch? Also your not building OpenTK correctly, the rewrite code hasn't run to inject the natives calls we need. How are you building? With Visual Studio?

[2015-05-28 12:15] KonajuGames commented on #3769
I've pushed an update to that branch that tightens the conditions for that
shortcut and makes it simpler.​

[2015-05-28 13:07] tomspilman opened #3890 "Drawing With Disposed Resources"
So I did this test tonight on an XNA desktop game:

[code]

I did this test fully expecting XNA to throw some helpful exceptions saying the VB and IB were disposed.  I was then going to write this issue saying we need to implement the same checks and exceptions in MonoGame.

BUT

XNA does not throw any exceptions or errors in this case.  In fact it happily draws nothing to the screen... doesn't ma

[2015-05-28 13:13] tomspilman commented on #3890
So if I change the code above to do this:
[code]
I get an exception:

[code]
I suspect for sure MonoGame isn't checking for this case.

[2015-05-28 13:43] tomspilman commented on #3890
@tgjones @dellis1972 @Nezz - Thoughts?

[2015-05-28 14:18] BaseCrosser commented on #3836
I did accidentally checkout the develop branch. I am building with Visual Studio. Can you give me some instructions on how to build then?

[2015-05-28 14:43] Frassle commented on #3836
That's odd Visual Studio should be doing the build correctly. At least for me on VS2012 the rewrite is called automatically. If it isn't you can call it manually:
Binaries\Tools\Release\Rewrite.exe Binaries\OpenTK\Release\OpenTK.dll OpenTK.snk

[2015-05-28 14:55] KonajuGames commented on #3769
It would appear that PowerVR chipsets require ETC1 textures to be POT as well as PVRTC.  Other chipsets such as Mali, Tegra, etc have no such requirement on ETC1.  I also got 16-bit working.
![pvr2](https://cloud.githubusercontent.com/assets/694943/7863054/59e16a9e-059d-11e5-86ed-66796c67451c.png)

[2015-05-28 14:57] dellis1972 commented on #3769
nice :)

On 28 May 2015 at 15:55, KonajuGames <notifications@github.com> wrote:

[2015-05-28 15:00] dellis1972 commented on #3890
personally, I think it you dispose something it should be gone... the fact that this worked in XNA seems like a bug in XNA :P

[2015-05-28 15:02] KonajuGames commented on #3890
Systems such as consoles use command buffers that hold references to resources.  These command buffers may exists for one or two frames after being submitted.  If you release the resource while a command buffer has a reference to it, you run the risk of crashing the GPU.

[2015-05-28 15:04] tomspilman commented on #3890
Right...  this is true and is valid for us to do at the platform layer.

Still at the user code level...  they shouldn't be allowed to call any Draw method with a disposed resource.

[2015-05-28 15:45] BaseCrosser commented on #3836
Okay, I got it to work. I was using VS2015 Release Candidate for building but I changed to VS2013 Community now. I got it working but did not test my keyboard layout yet. I've got no time left today so I will test it tommorrow.

[2015-05-28 15:50] KonajuGames commented on #3769
I've still got the MonoGame.Dependencies additions to finalize and test on Mac and Linux.

[2015-05-28 16:42] cra0zy commented on #3831
What should I do with MGCB, MonoGame.Framework.Content.Pipeline and Pipeline Tool projects?

[2015-05-28 17:02] dellis1972 commented on #3831
I think the tooling projects will need to stay platform specific.

On 28 May 2015 at 17:42, Harry <notifications@github.com> wrote:

[2015-05-28 17:05] cra0zy commented on #3831
I didn't mean it like that, what I meant is where should I put them since Linux and WindowsGL solutions will be removed, should we maybe setup tool solution generation under Tools folder?

[2015-05-28 17:16] tomspilman commented on #3831
We don't want another solution specific to tools.  We want to keep platform specific solutions for tools.

That said...  WindowsGL never needed its own tools.  The regular Windows tools is good enough for GL.

Also could the Linux and Mac tools be merged since they will eventually be using the same DesktopGL assemblies.

[2015-05-28 17:24] cra0zy commented on #3831
For the Pipeline Tool it needs #3849 done
For the rest I would have to look, but I don't think there is anything major that would need changing.

[2015-05-28 17:34] dellis1972 commented on #3831
DesktopGL runtime *should* work on mac. I'd like to give it a test first before we drop the mac runtime completely.

-----Original Message-----
From: "Harry" <notifications@github.com>
Sent: ‎28/‎05/‎2015 18:25
To: "mono/MonoGame" <MonoGame@noreply.github.com>
Cc: "Dean Ellis" <dellis1972@googlemail.com>
Subject: Re: [MonoGame] Merge WinGL and Linux MonoGame assemblies into one(#3831)

Also could

[2015-05-28 17:36] tomspilman commented on #3831
Great...  the sooner we can do that the better things will be for everyone.

[2015-05-28 18:34] kvenkateshan commented on #3769
Test Case 1: Works
Type of source bitmap - PixelBitmapContent (Vector4) - 107x104
Type of destination bitmap - PixelBitmapContent (Color) - 107x104
Source region x, y, width, height - 0  0  107  104
Destination region x, y, width, height - 0  0  107  104

Test Case 2: Fails
Type of source bitmap - PixelBitmapContent (Vector4) - 107x104
Type of destination bitmap - PixelBitmapContent (Color) - 128x

[2015-05-28 20:48] KonajuGames commented on #3769
Ahh yes. Should have been

Parallel.For(0, source region.Height, (y) =>

[2015-05-29 06:48] #3057 closed

[2015-05-29 06:58] #3664 closed

[2015-05-29 07:08] tomspilman commented on #3876
@dekroll

It seems like you are trying to create a `Game` when a page loads, free it when you leave the page, then create it again later.

This pattern is not one we've designed MonoGame for... so likely the leaks you are seeing are caused by that issue.

We have been working on removing a lot of the 'static` globals we use in places which should help, but not much else has been done to make this

[2015-05-29 07:26] Ravendarke8 opened #3892 "Content pipeline VS integration"
What´s the actual plan, road map, general idea? I´ve noticed you removed inbuilt content compiler one version ago and since then I must say shader development became bit difficult because of slowed down iteration. Is there any chance to be able build whole project including all content in near future? At least shaders, images are not so important as they do not change so often.

[2015-05-29 07:29] KonajuGames commented on #3892
If you create a project from the current templates, they contain the necessary MSBuild steps to build the content project when the project is built.  It also copies the output files into the correct place in the build output.

[2015-05-29 08:22] BaseCrosser commented on #3836
@Frassle I tested and a few keys were not correct.
Here is a drawing of what it should be: http://imgur.com/a/jSLKv
Here is my results (Note: the correct keys are removed): http://imgur.com/a/jSLKv

On the keypad there were two keys wrong but I don't have a drawing of them.
The wrong keys are numlock and keypad enter.
Numlock gets registered as pause.
Keypad enter as numlock.

I hope this helps!

[2015-05-29 08:55] Frassle commented on #3836
Cool thanks that does help, I'll keep looking into it.

[2015-05-29 13:01] Ravendarke8 commented on #3892
Ah, and I was wondering, definitely my bad, thank you for answer.

[2015-05-29 14:03] dekroll commented on #3876
Hi! Thanks for the response, this is what I finally decided to do, but I thought that there is a better way :).

Again, thanks for the answer.

[2015-05-29 14:03] #3876 closed

[2015-05-30 14:25] cra0zy commented on #3656
This can be closed since sdl was replaced with OpenTK/NVorbis

[2015-05-30 14:30] cra0zy opened #3895 "MonoGame on Web"
I've been thinking on doing some work on this, even tho there is base for JSIL I would like to think of other options as well. Current options on getting C# on Web are:
 - JSIL  (may translate C# badly in some cases, but it does produce files runnable even from android)
 - NaCl  (requires browser plugin, but will be more precise in running C# than JSIL)
 - PNaCl  (Chrome only, no plugin required)

[2015-05-30 15:50] WardBenjamin commented on #3895
I've done a little research into JSIL, and found something that I think you guys will find very interesting.

http://hildr.luminance.org/MonoGame/Platformer2D/

It looks like somebody (looks like a contributer to JSIL, actually) decided to do this already. His code can be found at https://github.com/kg/MonoGame/tree/JSIL. The fact that this produces something that we can run on android is also rea

[2015-05-30 15:58] cra0zy commented on #3895
@kg is the creator of JSIL....

Also in the main JSIL repo there is some code dedicated to porting MonoGame to web(https://github.com/sq/JSIL/tree/master/Libraries/MonoGame), but the way MonoGame planned to do it is a bit different(create a solution for MonoGame).

Also @WardBenjamin do Protobuild.exe --generate Web I think, it will generate JSIL web stuff MonoGame already has.

[2015-05-30 16:00] WardBenjamin commented on #3895
I didn't know that :)

I'm going to check that out, thanks!

[2015-05-30 16:10] kg commented on #3895
A client sponsored some recent work on MonoGame & SDL2 (via p/invoke and emscripten) integration for JSIL that is almost ready to merge. I'll try to remember to mention that here when it's available.

On May 30, 2015 8:59:01 AM PDT, Harry <notifications@github.com> wrote:

- kg (mobile)

[2015-05-30 17:38] WardBenjamin commented on #3772
An update for anyone who has not seen the PR: at the moment there is a set of unit tests and the PR is ready to be merged on @tomspilman's approval. The tests could be improved but they are usable as-is.

[2015-05-30 18:19] #3656 closed

[2015-05-30 20:21] cra0zy commented on #3895
@kg Sweet!!!

[2015-05-30 22:41] Frassle commented on #3836
Ok, I think I fixed the numlock and keypad issues. AltGr is still problematic (but it's always been problematic).

Sadly there doesn't seem to be any good way of mapping some of the punctuation keys (e.g. ;'#/\`[]) as windows just returns an OEM virtual key code that doesn't always correspond the same character. I've slightly changed the OpenTK keycodes exposed to mark the current codes for those

[2015-05-30 22:44] Frassle commented on #3831
OpenTK has now fixed the Linux window resize bug in master (https://github.com/opentk/opentk/commit/e6e8b7a357ddaf4e1e79e83e1ac232f5afe7fa5b) once you update you can probably clean up the workaround you have for that your side.

[2015-05-30 23:48] tomspilman commented on #3895
I don't think either of these are good solutions as they are specific to just one or two browsers.  The only path I see that works on all browsers and will be fairly fast on most of them is cross-compiling to JavaScript.

This is why we decided on JSIL in the first place.

[2015-05-30 23:54] tomspilman commented on #3836
Fantastic to hear!  Thanks for you help on this @Frassle !

Done!

[2015-05-30 23:57] tomspilman commented on #3831
Thanks @Frassle !

[2015-05-31 00:03] tomspilman commented on #3233
We don't plan to use NuGet within the MonoGame build process.

[2015-05-31 00:03] #3233 closed

[2015-05-31 00:09] tomspilman commented on #2433
Looks like we have around 100 warnings that have built back up in the build.  If someone gets the time to clean these up it would be good to get it solved then enable the build failure on warnings.

[2015-05-31 00:12] tomspilman commented on #1419
Cross referencing this to https://github.com/mono/MonoGame/issues/3895.

[2015-05-31 00:15] tomspilman commented on #1091
So more than a year later...  what is the state of the merge between mono/opentk and opentk/opentk ?

When can we unify our OpenTK code paths on mobile and desktop?

@dellis1972 @thefiddler @Frassle @KonajuGames ?

[2015-05-31 11:11] cra0zy commented on #3895
Ok, I'm going to wait up to a month to see what's going to happen with what @kg talked about. After that I'll start working on this using JSIL.

[2015-06-01 09:20] kjpou1 opened #3897 "Windows OpenGL: NRE Crash when exiting application"
There is a NRE being generated when exiting a Windows OpenGL application.

NRE happening here: https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Audio/OpenALSoundController.cs#L310

The lines causing the NRE are here : https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Audio/OpenALSoundController.cs#L96-L104

What is happening is that when _device = Alc.OpenDevice(stri

[2015-06-01 12:39] arthur-peka commented on #3233
@tomspilman Motivation?

[2015-06-01 12:54] dellis1972 opened #3899 "Need to build Android openal-soft for new 64bit Architectures"
Android now has a few of new architectures. x86_64, arm64-v8a to name two.
We need to recompile the Native libraries for these new platforms.
It might also be handy to document how to do this, so that perhaps we can integrate it somehow into the build system so it doesn't have to be done manually in the future.

[2015-06-01 12:54] dellis1972 commented on #3899
@KonajuGames thoughts? :)

[2015-06-01 13:16] KonajuGames commented on #3899
The two .mk files here
https://github.com/Mono-Game/openal-soft/tree/master/build/android/jni
control which architectures are built and how.  It might also be worth dropping `armeabi` as it will no longer be used.  Maybe updating the NDK_TOOLCHAIN_VERSION in `Application.mk` as well.  Then it is simply a case of running ndkbuild.

As for 64-bit compatibility, I cannot guarantee this version of ope

[2015-06-01 13:16] KonajuGames commented on #3899
And we have no way of testing these architectures yet.

[2015-06-01 13:25] KonajuGames commented on #3899
It would also be nice to update to the latest openal-soft to get the Android fix for suspending the mixer thread while the app is in the background.  The fix is only in the official repo, which has no Android make files.  The forks of openal-soft for Android that I know of are way out of date.

[2015-06-01 14:42] #3897 closed

[2015-06-01 15:09] cra0zy commented on #2433
This seems... FUN?!? I'm on it.

[2015-06-01 21:36] cra0zy opened #3902 "Spritefont Editor"
I have the tool I wrote few years back that I am still using for editing spritefonts. Would it be of any use to add it here?

[2015-06-01 22:00] ala53 opened #3903 "Off thread game.Run() calls in Direct X result in broken keyboard input"
If you create a window on the UI thread on Direct X and then create another window on a different thread, keyboard input does not work. On Windows GL, the `game.Run()` call crashes because it isn't called on the UI thread.

I think a guard should be added to the game.Run() for Windows DirectX that throws an exception when that happens.

[2015-06-01 23:26] tomspilman commented on #3233
We need to have reliable copies of all the dependencies we use in the build.  We currently store these in the https://github.com/Mono-Game/MonoGame.Dependencies repo.

[2015-06-02 01:21] tomspilman commented on #3902
What specifically does it do?

[2015-06-02 01:23] KonajuGames commented on #3902
I had occasionally entertained the thought of an editor, perhaps just a
property grid, to edit .spritefont files rather than hand editing the XML.

[2015-06-02 01:30] tomspilman commented on #3902
When we originally planned the Pipeline tool we had the idea that eventually we could add some sort of plug-in API for viewers/editors.  Starting with built in editors/viewers for stock types seems like a reasonable place to begin to develop such an API.

[2015-06-02 01:40] ala53 commented on #3233
But, isn't NuGet also reliable and doesn't it have versioning too?
And if need be, can't you have MonoGame.Dependencies as a backup, but have the references be nuget by default?

[2015-06-02 01:42] tomspilman commented on #3233
We already depend on GitHub to provide code and dependencies... we don't need another service.

[2015-06-02 02:12] hach-que commented on #3233
Not to mention NuGet does not properly distinguish between actual
platforms, which makes it unsuitable for projects that need to P/Invoke.
See the warning on
https://protobuild.readthedocs.org/en/latest/package_management_nuget.html
for an explaination as to why NuGet is not suitable for cross-platform
projects.

On Tue, Jun 2, 2015, 11:43 Tom Spilman <notifications@github.com> wrote:

[2015-06-02 05:36] kjpou1 opened #3904 "[MacOS]: GraphicsDevice.Metrics are not being reset."
It looks like the Metrics values are not being reset between rendering presentation.  The only place I see the metrics being reset is here: https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Graphics/GraphicsDevice.cs#L490 which MacOSX is not calling.

All other platforms seem to be ok so far.

[2015-06-02 07:32] tomspilman commented on #3904
@Shqrdx - Got time to fix this.  Seems like MacOS should be fixed to call `Present()` even if it does nothing on that platform.  Like if you look at the Windows8 implementation:

https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Windows8/MetroGamePlatform.cs#L185

Looks like `MacGamePlatform` doesn't override this and call the graphics device present.  Looking at the implementation:

[2015-06-02 08:35] Shqrdx commented on #3904
I maded simple PR to fix this. I am not sure its good or not(I dont have Mac).

[2015-06-02 09:35] cra0zy commented on #3902
I've written such a thing before, but last time I did it, the main application was only Gtk which made me allowed to use Gtk Widgets as editors. This time since there are 2 backends I'm either gonna have to make plugin integrate with propertygrid or require for the addin to provoide both backends.

[2015-06-02 19:59] tomspilman commented on #3902
Well first off note that if we are going to do this... it will eventually be more than just the property grid we will expose to the plugin.  I would like to see a "view" area be exposed as well... probably to be tabbable with the output window or something.

To make plugins easy to write we have to abstract the property grid or any "widget" with our own API.  Vastly simplified of course and aimed

[2015-06-02 20:03] WardBenjamin commented on #3808
I don't know what the issue is then. I'm closing since I don't really need this, but it's still an issue that should be considered in the future.

[2015-06-02 20:31] cra0zy commented on #3902
Yea, had the same idea :), actually I've already done some starting work on this.

I don't think that's a good idea, what purpose would it serve if we allowed modifying treeview/propertyview?

For tabbed widgets/controls, it would be much better if we allowed them to use Gtk/WinForms than writing our own API for GUI backend for few reason:
1) People wouldn't need to learn a new GUI api in order to

[2015-06-02 20:38] tomspilman commented on #3902
Actually they would have to learn two, or one, or none if they are lucky and know both GTK and WinForms.  It also requires testing on both, bug fixing on both, etc.

Every plugin system for cross platform tools that I've seen abstracts the GUI.  We need to as well.

[2015-06-02 20:58] cra0zy commented on #3902
Can you give me an example, preferably something that is open source so I can see how it works.

[2015-06-02 20:59] cra0zy commented on #3902
Side note, the way I am thinking of is Monodevelop Addin api, it allows using Gtk widgets in a lot of places.

[2015-06-02 22:10] tomspilman commented on #3902
For open source I would say Blender... can't think of another right now.  But I would point at the tools that I have extended in the past: 3dsmax, Maya, Softimage.

[2015-06-03 01:21] tomspilman commented on #3853
@tgjones - Did you finish that fix?

Also for "Problem 3" we *need* to find a fix for that ASAP.  If there is something i hate the most it is getting bad line numbers in error messages.

[2015-06-03 10:37] cra0zy commented on #3902
All of them have their own gui systems... We have 2 gui systems and that's what I find so problematic.

[2015-06-03 15:35] KonajuGames commented on #3769
I've fixed the region copy, and added a bunch of unit tests that cover all the cases I can think of at the moment.  The only things left are:
- test on Mac
- build PVRTexLib wrapper on Linux (getting a "LTO 2.2 found, expected 3.0" error when trying to link to PVRTexLib library).
- test on Linux.

[2015-06-03 20:59] WardBenjamin opened #3911 "Unclear how to build a spritefont when referencing documentation"
Now that the Pipeline tool has been fully released, someone should add directions for compiling SpriteFonts, etc to the documentation, as it is very unclear. I tried selecting "new spritefont" then building, but it's missing what I assume to be a TTF file. Could this happen, or at a minimum instructions be posted here?

[2015-06-03 21:03] WardBenjamin commented on #3911
Referencing https://github.com/mono/MonoGame/issues/1717, I found that I was correct. This should still be added to the documentation, with any updates.

[2015-06-03 21:05] cra0zy commented on #3911
I don't see how the directions are unclear... it's the exact same process as it is on Windows... exact same font types... exact same everything...

[2015-06-03 21:06] cra0zy commented on #3911
Also, the default font is Arial, which is a Windows font, so unless you have mscorefonts installed, or you have arial in the same folder as the sprite font, it's gonna throw up an error...

[2015-06-03 21:08] WardBenjamin commented on #3911
I've revised this to the case of when referencing documentation instead of on Linux specifically.

[2015-06-03 21:13] cra0zy commented on #3911
You do realize that the ttf file required is specified in the .spritefont file, just open it in gedit/notepad and change it... you may want to read up on how XNA works/ed

[2015-06-03 21:16] cra0zy commented on #3911
Side note, if you want to add stuff to documentation, toy can add it here: https://github.com/mono/MonoGame/tree/develop/Documentation

[2015-06-03 21:48] WardBenjamin commented on #3911
Yeah, I know how to build spritefont's, I've been using XNA and now Monogame for a while. I'll definitely do some mods to the docs though.

[2015-06-03 23:35] KonajuGames commented on #3911
One of the reasons Arial was defined as the default on Windows was because it is a standard font that is always available.  A license agreement between Microsoft and Apple makes Arial (and other MS standard fonts) available on Mac OS X as well.  This brings me to the question of what is a standard font on Linux?  From some research, it appears that the mscorefonts package is quite common, so could

[2015-06-03 23:49] tomspilman commented on #3911
@WardBenjamin - What is the error message you get on Linux when building a spritefont with Arial?

Maybe our first step here is making that error message clear, so the user understands what is happening and where to begin fixing it.

[2015-06-03 23:51] WardBenjamin commented on #3911
The only error message is that it cannot find the Arial font. Screenshot in a sec, got to boot up my other PC (I'm using my laptop right now).

[2015-06-04 02:54] KonajuGames commented on #3769
Got the PVRTexLib wrapper to link on Linux.  Found the GCC options to disable Link Time Optimisation.  Testing on Linux, the PVRTexLib appears to work fine for DXT and ETC1, but it crashes in the native code during PVR compression.

[2015-06-04 10:15] cra0zy commented on #3849
Found the Gtk 3 repo for OS X:

https://wiki.gnome.org/action/show/Projects/GTK+/OSX?action=show&redirect=GTK%2B%2FOSX
https://git.gnome.org/browse/gtk-osx/

@dellis1972 Can you try and compile it?

[2015-06-04 10:38] pablopenna commented on #1112
Sorry for my unacknowledged but how do I edit OpenTKGameWindow.cs of Mono Develop? I cant find that file in linux.

[2015-06-04 12:26] cra0zy commented on #3911
The error message can't be more specific than it already is.

Different Linux use different fonts so there really isn't a font that's gonna be there 100%, I would just keep Arial as default.

[2015-06-04 20:40] WardBenjamin commented on #3772
Are there any updates on the approval status of this PR?

CC @KonajuGames @tomspilman

[2015-06-04 21:13] ryanisaacg opened #3915 "README.md Roadmap implies Monogame is not at version 3 yet"
"MonoGame 3.0 will mark the start of full support for the entire XNA API."

MonoGame is currently at 3.4, so shouldn't that read: "MonoGame 3.0 **marked** the start of full support for the entire XNA API"?

[2015-06-04 22:16] tomspilman commented on #3915
That is correct, but i'm going to close this one in favor of the existing issue we have on improving the readme file.  See https://github.com/mono/MonoGame/issues/3846.

[2015-06-04 22:16] #3915 closed

[2015-06-05 14:35] minpav opened #3917 "Unable to create Content Project"
![screenshot 2015-06-05 16 31 07](https://cloud.githubusercontent.com/assets/12015515/8008120/6e27d548-0ba0-11e5-8ab7-f7d262f79893.png)

Always when I try to create content project it only shows error (you can see it on the picture). I tried it with monogame 3.3, 3.4 and a development version after 3.4 (3.5.0.242).

[2015-06-05 15:20] KonajuGames commented on #3917
That content project will be the XNA content project which is not supported in VS2013.  MonoGame no longer has a dependency on the XNA content project.  If you create a new project using the current project templates, it will create a .mgcb file in the project which is used to manage content.  This file is opened in the MonoGame Pipeline Tool.  The content will be automatically built and included

[2015-06-05 15:49] kjpou1 commented on #3904
Verified change works in commit https://github.com/mono/MonoGame/issues/3905

Thanks guys.  Ready to be merged

[2015-06-05 17:13] minpav commented on #3917
Great. But it would be better to remove the not-working template then.

[2015-06-05 17:18] cra0zy commented on #3917
The template doesn't exist in the newest monogame... if you have it it's probably from an older MonoGame installation(Installer doesn't check if the previous version is installed #1372, so it just installs over it).

[2015-06-06 20:36] cra0zy commented on #3902
I thought about this a bit and came to the conclusion, do we really even need API for the pipeline tool at all? What would that API offer that people couldn't get by building an application in WinForms?

Also I should have posted an image of the spritefont editor:
![sfe](https://cloud.githubusercontent.com/assets/6773302/8021354/62f47b34-0c9c-11e5-8a6c-fa522983d8c1.png)

[2015-06-06 22:12] KonajuGames commented on #3902
`Kerring` -> `Kerning`  :)

The only issue I see with this is that the SpriteFont XML can be extended.  The XNA localization sample does this by changing the typename at the top of the spritefont file to make it use a different font processor.

[2015-06-06 23:01] cra0zy commented on #3902
You know... I made this app few years ago, and I haven't noticed that...

That's easy to implement.

Btw I was gonna change the layout and add xml view as well.