[2015-12-01 12:03] Nezz commented on #4281
This call used to return all devices:
https://github.com/mono/MonoGame/blob/0b25f56e861fb602db884c40267b99ea947bae15/MonoGame.Framework/Input/Touch/TouchPanelCapabilities.cs#L40
But as of build 10586 on mobile it only returns the mouse on emulator. Couldn't check the actual device because I cannot debug there (must be some driver issue). That results in TouchPanelCapabilities.IsConnected being fal

[2015-12-01 18:15] tomspilman commented on #4276
Looks like how we're stepping thru the height.

https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Graphics/Texture2D.DirectX.cs#L168

My guess is that we should be incrementing the `row` more than we are for DXT surfaces.

[2015-12-01 19:48] BrianPeek commented on #4281
I'll see if I can get an answer as to why behavior changed, but have you tried using the TouchCapabilities class:

https://msdn.microsoft.com/en-us/library/windows/apps/mt414179.aspx#retrieve_touch_properties
https://msdn.microsoft.com/en-us/library/windows/apps/windows.devices.input.touchcapabilities.aspx

That should tell you if there are touch devices and the number of contacts, which I think i

[2015-12-01 22:51] KonajuGames commented on #4276
I had started looking at this. We will need to revise the process for
compressed textures.

[2015-12-02 04:37] hach-que commented on #4275
So I am working on this, but I'm running into a pretty annoying issue. According to the Xamarin Mac documentation:

[code]

I'm assuming the old legacy API did provide OpenTK's Input namespace?  As I don't have MonoMac installed I can't do this myself, but can someone confirm that's the case?

[2015-12-02 06:33] hach-que commented on #4275
So the branch I'm working on I've just not implemented GamePad / Joystick platform backends for MacOS (when using the new Xamarin APIs, MonoMac will continue to work).  I'm going to try and implement them at some point; I'm guessing I'll need to make use of the new game pad stuff that tvOS is using?

[2015-12-02 07:16] hach-que commented on #2402
fyi and not sure this issue is relevant any more, but as of Jan 9th (this commit: https://github.com/mono/MonoGame/commit/189692435f4c7aba06abccca5111440d16e60d09#diff-6042cd1dd58f23b7cb0d594563c07f5fR10) the MonoGame source code is at least using 4.5 features

This kind of caught me off guard since I thought the base framework version was still 4.0 (obv using later frameworks for platforms that r

[2015-12-02 07:45] DDReaper commented on #2402
I think it's still an issue and thinking on it, I believe the 8.0 game template is no longer valid as it forces you to migrate to 8.1 when you create a new project that being said most new projects target win10 now so it could be left alone.

As to the binaries, possibly we could look to a level of separation with SharpDX and use NuGer / protobuild dep. Using an external package rather than shippi

[2015-12-02 07:50] KonajuGames commented on #2402
All platforms we target now support .NET 4.5 at least. I wouldn't feel bad
about dropping Windows 8 and supporting only 8.1, to get back to the now
old original post.

[2015-12-02 07:56] hach-que commented on #2402
I know @tomspilman is pretty against NuGet / Protobuild packages in general because he doesn't want to introduce external dependencies into MonoGame.

If you do want to add a NuGet reference (likely because the package you're referring to won't be in the Protobuild index), please do it via https://protobuild.readthedocs.org/en/latest/package_management_nuget.html and not `packages.config`, because

[2015-12-02 08:11] LinusNeuman commented on #4262
Rebuilding with only support for x86 architectures did not work.

[2015-12-02 09:23] hach-que commented on #2402
Actually I stand corrected, the Windows Universal platform is using NuGet dependencies (it depends on Microsoft.NETCore.UniversalWindowsPlatform).  This is in the `*.project.json` files inside the MonoGame.Framework folder.

cc @tomspilman

[2015-12-02 09:30] hach-que commented on #4263
In the shipped versions of MonoGame, those dependencies should already be shipped with the Pipeline tool.  There should be no need to clone repositories and copy files.

What mechanism was used to install MonoGame 3.4?

[2015-12-02 10:43] Skeatwin commented on #4276
I would like to help you but I don't think I am at the level... (off topic but great works for the 3.5 !)

[2015-12-02 11:29] shovonnn commented on #4263
I just downloaded it installer from official website. Tried with both 3.3
and 3.4. 3.3 works but 3.4 doesn't.

On Wed, Dec 2, 2015, 3:30 PM J Rhodes <notifications@github.com> wrote:

[2015-12-02 15:20] tomspilman commented on #2402
Unfortunately that is required behavior for Win10 support under VS2015... so we have to live with it.

[2015-12-02 15:34] tomspilman commented on #4263
All I can think of here is that for some reason `libmojoshader_64.dll` isn't in the current path when it tries to use it.  I've seen this happen some time back when the Pipeline tool is launched from double clicking a .mgcb file.

So how are you launching the pipeline tool in this case?

Also go look at where we install the MonoGame tools....  typically under `C:\Program Files (x86)\MSBuild\MonoGa

[2015-12-02 16:04] shovonnn commented on #4263
Yes libmojoshader_64.dll is there in the tool directory.  I tried both
pipeline tool and 2mgfx.exe from tool directory. But error is same.

On Wed, Dec 2, 2015, 9:34 PM Tom Spilman <notifications@github.com> wrote:

[2015-12-02 16:10] shovonnn commented on #4263
@tomspilman

[2015-12-02 16:14] shovonnn commented on #4263
@tomspilman i tried with fresh installed windows 10 machine. but no luck. Is it anything with windows 10?

[2015-12-02 18:21] tomspilman commented on #4263
I can't say for sure...  but likely not.  Someone else will have to chime in with their experience on Win10 with MonoGame 3.4.

[2015-12-02 18:46] nkast opened #4283 "[MGCB] Audio Quality ignored"
SoundEffect always output 44100Hz audio, Quality setting is ignored.
Windows platform.

[2015-12-02 19:05] tomspilman commented on #4283
We used to try to generate ADPCM for Windows in low/medium quality settings, but that wasn't working for us at one point...

https://github.com/mono/MonoGame/blob/0b25f56e861fb602db884c40267b99ea947bae15/MonoGame.Framework.Content.Pipeline/Processors/SoundEffectProcessor.cs#L54

So now it should be handled here...

https://github.com/mono/MonoGame/blob/0b25f56e861fb602db884c40267b99ea947bae15/Mono

[2015-12-02 19:16] nkast commented on #4283
I did some test with latest ffmeg and you have to set sample rate (-r:a or -at), otherwise it defaults to 44100.
But I could move that to MonoGame, somehow the two values -bitrate&samplerate- have to match .
And I have no idea what that change will do to the other output formats/platforms.

[2015-12-02 21:54] KonajuGames commented on #4263
You're using 64-bit Windows 10?

[2015-12-02 22:08] hach-que commented on #2402
If you wanted to avoid it, you could always put the packages folder (after restoring) into the dependencies repository. This would mean that it doesn't need to restore from the internet because the libraries would already exist in the dependencies folder (like they do for every other platform).

[2015-12-03 00:11] jakepoz opened #4284 "Bounty: Update audio system not to drain CPU on Android"
The audio system stays active on Android devices and continues to drain battery when Monogame apps are in inactive in the background. This has been documented here:

http://community.monogame.net/t/mg-android-game-keeps-draining-battery-life-in-background/2664

and here:

Monogame Issue https://github.com/mono/MonoGame/issues/3899

We wanted to post a $1,000 USD bounty for the successful resolutio

[2015-12-03 00:13] jakepoz commented on #4284
Here is the bounty information: https://www.bountysource.com/issues/28801418-bounty-update-audio-system-not-to-drain-cpu-on-android

[2015-12-03 00:24] totallyeviljake commented on #4284
Someone reported this problem to use a long time ago (about 18 months ago). I found that it was only present in certain android devices and limited OS versions. Did you find the same @jakepoz ?? I ignored it as being a nuance of bad OS driver implementations. Seems to have gotten worse..

[2015-12-03 00:27] jakepoz commented on #4284
We are seeing it on all sorts of devices now, definitely repros on the Nexus 5x, and basically every other device we have tried. We also get a TON of emails from users complaining.

[2015-12-03 00:31] KonajuGames commented on #4284
The managed mixer, while working for the main part, isn't ready yet. So
I'll get back to the rebuilding of openal-soft with the latest source which
I had underway.

[2015-12-03 00:37] prime31 commented on #4277
Confirmed that the changes linked by @flibitijibibo do indeed fix the issue. It seems a bit odd to me that no one has ever called GraphicsManager.ApplyChanges on Mac. Anyway, simple commenting out the lines making the window invisible fix the issue.

[2015-12-03 04:19] hach-que commented on #3793
Do you mind if I prototype something for this?  Having this would have been helpful for testing all of the platforms during #4282.

[2015-12-03 04:25] tomspilman commented on #3793
Sure... as long as it is a stand alone test framework and not a Protobuild feature.

I have some code I wrote for tests we use on PS4/Vita that might have some good stating points.

Well... the most this app should do is starting up a Game instance and doing some basic rendering to display test info and results.  It shouldn't be used to duplicate the existing unit tests.

[2015-12-03 04:26] hach-que commented on #3793
Yeah, of course? o_o?

[2015-12-03 04:43] tomspilman commented on #3793
I quickly packed up what I had here:

https://app.box.com/s/43936r5d3fd8xh1jxidvujd13xfkfp16

Had to delete a bunch of source and content that was PS4/Vita specific and couldn't share, so it might not build out of the gate.  Still could have some useful ideas as to how to structure a test app like I outlined above.

[2015-12-03 06:07] hach-que commented on #3793
I mighhhtt hold off until #4282 because the platform names are changing, and this will necessitate creation of a new project definition.

[2015-12-03 08:39] mrhelmut opened #4287 "Media Foundation (Song playback on DirectX) not working on Vista"
Hello,

It appears that `Song` playback doesn't work on Windows Vista. We have several reports of this exception:

[code]

Since we can't debug on users' machines, I don't have a more precise stack trace with the native debug messages.

According to this [SharpDX discussion](http://sharpdx.org/forum/4-general/3278-mediafoundation-and-windows-vista), Windows Vista runs a different Media Foundation

[2015-12-03 09:49] shovonnn commented on #4263
Yes it is 64bit. If it wasn't, I would not even reached that error.

On Thu, Dec 3, 2015, 3:55 AM KonajuGames <notifications@github.com> wrote:

[2015-12-03 12:42] hach-que opened #4288 "[Maintenance] Generate Visual Studio and Xamarin Studio templates from a common source"
Right now MonoGame has the following project templates for various different IDEs:
- ProjectTemplates\VisualStudio2010\Android
- ProjectTemplates\VisualStudio2010\Linux
- ProjectTemplates\VisualStudio2010\OUYA
- ProjectTemplates\VisualStudio2010\Windows
- ProjectTemplates\VisualStudio2010\WindowsGL
- ProjectTemplates\VisualStudio2012\WindowsPhone
- ProjectTemplates\VisualStudio2012\WindowsStore
-

[2015-12-03 12:53] cra0zy commented on #3895
While setting up content manager with JSIL I found that: https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Content/ContentManager.cs#L200 causes a crash.

It's not that big of a deal since I was not gonna use that part of the code anyway, but I thought it would be useful to mention it.

@kg For Xna/Fna are you loading xnb or raw(png, ogg, etc)? I started setting up raw loading of st

[2015-12-03 12:56] kg commented on #3895
Fna loads raw xnbs and we kept that intact, with the exception of streaming music - I used the browser's audio decoder for that. You could call out to libvorbis I suppose but you'd need to do the emscripten port of that thing yourself.

My hand-written xna stubs used the browser's image decoders (jpeg/png etc) but that's a really bad idea as browsers tend to have really buggy/inconsistent ones.

F

[2015-12-03 13:04] cra0zy commented on #3895
Wow you are fast.

I will, first I need to figure out a small code that can reproduce it.

[2015-12-03 15:02] cra0zy commented on #4288
I had a similar idea about this with #3954 a while back.

[2015-12-03 18:18] tomspilman commented on #4288
Yeah...  I think ideally we want what @cra0zy suggested in #3954.

The template generation systems in VS and XS both stink in different ways.  Neither is doing us any favors or solve any of the hard issues.

So IMO the idea of sidestepping them entirely and have it just launch our own project creation is fine.  The key still is still providing some basic hook so that you can launch our project cre

[2015-12-03 18:23] tomspilman commented on #4186
Looks like the issue is the new files/folders created when 8.3 file support is enabled.  Once the file/folder is created it is stuck in that crappy 8.3 format.

I think this can be closed now... since it is clearly not a MonoGame issue.

[2015-12-03 20:15] dellis1972 opened #4289 "Can no longer enter $(Platform) in Output Directory in GTK# Pipeline GUI"
Since the change over to use a Directory browser to set the Output and Intermediate Directories in the Pipeline tool I can no longer manually type in

bin\$(Platform)
obj\$(Platform)

via the UI, the file has to edited manually.. This is useful when separating out build output per platform

I suspect this is a conflicting requirement..
What might be possible is a "browse" button e.g [...] in the e

[2015-12-03 20:18] dellis1972 opened #4290 "Crash in Pipeline tool on MacOS"
System.IO.IOException: kqueue() FileSystemWatcher has reached the maximum number of files to watch.
  at System.IO.KqueueMonitor.Start () <0x83e2640 + 0x001cb> in <filename unknown>:0
  at System.IO.KeventWatcher.StartDispatching (System.IO.FileSystemWatcher fsw) <0x83e21b0 + 0x000ab> in <filename unknown>:0
  at System.IO.FileSystemWatcher.Start () <0x83e2188 + 0x0001f> in <filename unknown>:0

[2015-12-03 20:21] dellis1972 commented on #4290
We should be ignoring the Output and Intermediate Directories

[2015-12-03 20:29] cra0zy commented on #4289
Linux also doesn't have it, I kind of forgot about it, will setup a PR to either implement it or make a dialog that's able to select it

[2015-12-03 20:45] tomspilman commented on #4290
What is the maximum?  Just worried that on big content projects this could hit even if you filter out obj/bin folders.

[2015-12-03 20:49] dellis1972 commented on #4290
No idea atm.. its platform dependent I suppose.

[2015-12-03 20:52] dellis1972 commented on #4290
Mono bug :( https://bugzilla.xamarin.com/show_bug.cgi?id=28693

[2015-12-03 20:58] dellis1972 commented on #4290
setting

export MONO_MANAGED_WATCHER=false

before running the app fixes the issue. Don't know if we can do that from a MonoMac app though :/

[2015-12-03 21:27] cra0zy commented on #4289
Is there somewhere a list of things that can go like "$(Platform)"? I want to add a help message to the dialog.

[2015-12-03 21:31] dellis1972 commented on #4290
Adding the LSEnvironment key to the info.plist does not work. the only way to get this to work is to
run the export on the terminal before running

open /Applications/Pipeline.app

:( We might have to wait for a mono fix.. I have implemented a work around for now to at least let the app start..

[2015-12-03 21:43] cra0zy commented on #4290
So.... maybe we should switch to a different type of file watcher.... there are also 2 more problems:
1) If I place .mgcb file in home directory the tool will fail to open it because there are files/folders that require root permissions to access them
2) If there are too many files in the folder it will take forever to go over them, just place the .mgcb in "C:/file.mgcb".

Also the template scanni

[2015-12-03 23:54] totallyeviljake opened #4293 "StackOverflow in Guide.cs"
Check this code out:

public static IAsyncResult BeginShowKeyboardInput (
         PlayerIndex player,
         string title,
         string description,
         string defaultText,
         AsyncCallback callback,
         Object state,
         bool usePasswordMode)
		{
            return BeginShowKeyboardInput(player, title, description, defaultText, callback, state, false );
		}

That's Guid

[2015-12-04 00:20] cra0zy commented on #4293
The error comes from: https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Windows/GamerServices/Guide.cs#L153 that file was used when forming DesktopGL one since it hosted WindowsGL.

[2015-12-04 08:54] hach-que commented on #4288
This task was far more focused on just unifying the VS / XS templates into some common source and generating the real templates with a shell script and some text replacements so that there isn't effectively two slightly different copies of the same thing in the repo. (i.e. not user facing at all)

There is plans for a more user facing project creation wizard tool that utilizes Protobuild to do new

[2015-12-05 16:00] hach-que commented on #4288
So I've done some work on the project creation tool I was talking about; it doesn't do the project creation yet, but I'm getting the basis down for having it work on all platforms (Windows, Linux, Mac) natively.

A few important points:

  * **It can be branded:** You ship or embed an XML file that switches out all of the Protobuild logos and names for MonoGame, so your users don't see that stuff

[2015-12-05 17:37] cra0zy commented on #4288
Just few things I want to say:
 - wow it looks nice
 - my original idea was more of a tool that looks and works like: https://github.com/libgdx/libgdx/wiki/Project-Setup-Gradle I don't see a point in adding recent project/open project functions since MonoDevelop/Visual Studio already have those
 - one more thing about my original idea, which you can use very easily, is to split the tool into a dll

[2015-12-05 20:25] jakepoz commented on #4284
Sweet, please let us know if you want us to test any builds.

[2015-12-05 21:35] KonajuGames commented on #4284
I built new binaries, dropped them in and it plays the occasional sound
instead of every sound. Still trying to work out why.

[2015-12-05 22:46] hach-que commented on #4288
For non-MonoGame stuff, I intend for this to be like "open the Protobuild module for your game and then you can switch platforms".  You can see a video of this working here: https://www.youtube.com/watch?v=v7j505P5AkM  Obviously this is significantly easier than instructing people to run Protobuild.

My plan here was just to have a VS project template like those "Install Some Extra Functionality"

[2015-12-05 22:56] cra0zy commented on #4288
When I said "using mono xwt really makes this part easy" I meant it as it would be good to use it in my case with the split dll and exe because it would allow you to get a different widget depending on what is specified as starting toolkit, for you it wouldn't be useful because you are just running an exe from the project wizard.

[2015-12-05 22:57] hach-que commented on #4288
Oh, right of course.

[2015-12-05 22:58] tomspilman commented on #4288
What am I seeing there?  Why is the VS project view updating automatically like that?

[2015-12-05 23:11] hach-que commented on #4288
That is the functionality that re-generates projects for new platforms.  It only applies if your template is a Protobuild-based template (and not just like a "here's a template for one-off creation" which I presume is what you want to ship).  This functionality will be able to be disabled via the `Branding.xml` file.

It is using the Visual Studio DTE system to tell Visual Studio to save all files

[2015-12-05 23:15] tomspilman commented on #4288
That is neat...  but getting back into the realm of things we do not need.  That has to be something we can turn off in the end.

[2015-12-05 23:18] hach-que commented on #4288
Yeah, I intend for every aspect of this to be brandable / customizable.

So there's a `Branding.xml` file here which has the default settings: https://github.com/hach-que/Protobuild.Manager/blob/master/Protobuild.Manager/Branding.xml.  This is an embedded resource inside the app.

There are two ways to brand it, you can either modify the embedded resources if you want to ship a single application,

[2015-12-06 04:43] #3635 closed

[2015-12-06 13:54] cra0zy commented on #4288
Just wireframes: https://youtu.be/ZEGUW6R18No

[2015-12-06 20:50] cra0zy commented on #4288
GUI and GUI Logic done: https://youtu.be/IvwRahT1HTY

[2015-12-06 21:00] hach-que commented on #4288
@cra0zy If you are going to implement that, please make sure you include Protobuild as a project type.

[2015-12-06 21:07] cra0zy commented on #4288
Added

[2015-12-06 21:18] hach-que commented on #4288
Also if you use the following template values:

`{PROJECT_NAME}` the name as typed in by the user.
`{PROJECT_SAFE_NAME}` the name as a valid C# identifier.
`{PROJECT_XML_NAME}` the name as typed in by the user, escaped with XML encoding.
`{PROJECT_SAFE_XML_NAME}` the name as a valid C# identifier, escaped with XML encoding.

then you can use Protobuild to generate all of those templates for all of

[2015-12-06 21:20] hach-que commented on #4288
(At this point we're both trying to build the same thing, so I'm not sure what the end of goal of duplicating our work is here?)

[2015-12-06 21:40] cra0zy commented on #4288
Similar, yes, same, no.

In simple words, your tool is meant to be used with Protobuild, mine is meant to be used with MonoGame.

[2015-12-06 21:42] hach-que commented on #4288
Mine is also meant to be used with MonoGame (as explained above).  Primarily the reason it's being built the way it is is so that it can be used by MonoGame upstream.

[2015-12-06 21:53] tomspilman commented on #4288
I see it as two different paths:

  1. A cross-platform tool that mimics VS's template system and with more flexibility.
  2. A cross-platform tool that generates a Protobuild project.

1 is what we asked for and need.  2 could work as well but I am concerned that Protobuild's priorities will conflict with MonoGame priorities.

One thing I think @cra0zy seems to be addressing that I don't see in P

[2015-12-06 21:56] hach-que commented on #4288
The solution I'm working on does generate multiple solutions at once; it does that for project templates that aren't using Protobuild (where you obviously can't switch out later).

[2015-12-06 22:19] hach-que commented on #4288
Project creation actually working: https://youtu.be/uxnvCNX95ts

This still has some rough edges (like it doesn't yet pull the template from a local source, it goes online just because that's the only working template I have at the moment).  I will address these issues soon.

[2015-12-06 22:22] hach-que commented on #4288
(for some reason that video cut off right before the demo of playing the game, but the template does work out-of-the-box)

[2015-12-06 22:34] tomspilman commented on #4288
Seems like it depends on git clones to get the template... is that required?  We plan to ship the templates with the rest of the SDK.

Also it seemed that the generated project includes MonoGame projects.... is that required?  We would simply have the project linking against the shipped binaries and/or nuget.

[2015-12-06 22:36] hach-que commented on #4288
No, that's just a consequence of me using the existing template I have in Git.  I 100% intend to pull templates from disk (that's what I'm working on now).

The user will also be able to pick what type of reference to MonoGame they want to make (Git submodule, NuGet, etc.)

[2015-12-06 22:46] cra0zy commented on #4288
Yey, a build off, this is gonna be fun :D

[2015-12-06 22:53] hach-que commented on #4288
Actually I hate racing implementations; it tends to lead to multiple worse solutions rather than one good one because the only thing that matters is being first :/

[2015-12-06 23:00] cra0zy commented on #4288
I didn't mean it in a racing context, even if one of us finishes their PR probably isn't gonna get merged until the other person finishes as well.

[2015-12-06 23:56] Tzenchor opened #4296 "TextureImporter fails while importing .bmp files"
TextureImporter is raising a NullReferenceException on line 236, when trying to import bitmaps with less than 8 bits per pixel.
This is happening in the develop branch. In version 3.4 it worked perfectly.

The reason is that the code is hardcoded to transform files with 8, 16, 24, or 32 bits per pixel, but does nothing with smaller sizes.

I have a fix for this ready that seems to work, at least f

[2015-12-07 00:00] tomspilman commented on #4296
Just something that wasn't accounted for.

@KonajuGames ?

[2015-12-07 00:45] KonajuGames commented on #4296
Correct. Didn't account for anything less than 8-bits per pixel in BMP form.

If you have a fix, we'll be happy to have a look at it if you submit it as
a PR.

[2015-12-07 02:01] hach-que commented on #4288
Quick update on what the project creation form is looking like now:

![image](https://cloud.githubusercontent.com/assets/504826/11617383/3b2ab60a-9ce2-11e5-8190-01164e4ca9a0.png)

![image](https://cloud.githubusercontent.com/assets/504826/11617386/4a53b276-9ce2-11e5-8166-14d563b6caeb.png)

![image](https://cloud.githubusercontent.com/assets/504826/11617389/57deab08-9ce2-11e5-8c43-68e980ba861f.png)

[2015-12-07 02:09] Tzenchor commented on #4296
I have found another problem while refactoring.
I have created a pair of bitmaps with 16 bits per pixel to test the other cases, and created the corresponding tests.
Well, the tests are failing because the test expects to receive data with SurfaceFormat Color, but it is getting bgra5551 and bgra565 respectively. And i'll get similar results with images having the RGBF and RGBAF format (floats inst

[2015-12-07 02:59] KonajuGames commented on #4296
I don't have the tests available to me right now, but they should do what
is needed to test the functionality without losing accuracy or precision.

[2015-12-07 03:56] MichaelDePiazzi commented on #4287
I've also been wondering the same thing... Personally, I've been toying with the idea of using NVorbis in my game for song playback (like the OpenGL platforms are currently doing).

[2015-12-07 04:31] tomspilman commented on #4287
The only downside is loosing the ability to work with existing XNA content for songs.

That said there is something attractive about a single path for Song decoding across lots of platforms.  It could all go thru the same streaming support for SoundEffect.

The performance is the only real big concern.  This would have to be threaded and perform excellent.

[2015-12-07 04:32] tomspilman commented on #4287
Another thought.

Some platforms (aka consoles) have proprietary formats that are decoded on the hardware.  It is to our benefit not to use Vorbis on those platforms.  So while it could work on all platforms... we likely don't want to use it on some of them.

[2015-12-07 04:36] ala53 opened #4297 "Mouse input on MonoGame OpenTK with multiple windows"
The issue only occurs on OpenGL (DirectX works fine).

Steps to reproduce:
- Start the game
- Create a second instance of the game in separate AppDomain (`AppDomain.ExecuteAssemblyByName` on the same MonoGame project/executable).
- Close the newly created instance
- Mouse clicks will no longer be registered on the open window (`Mouse.GetState().LeftButton` always returns `ButtonState.Released`).

[2015-12-07 04:38] ala53 commented on #4279
To be fixed in #4280

[2015-12-07 04:38] #4279 closed

[2015-12-07 04:39] ala53 commented on #4269
Doesn't the content pipeline automatically convert the shaders from DirectX to OpenGL for you? Why do you need 2 separate shaders?

[2015-12-07 04:43] tomspilman commented on #4297
Off the bat I would say app domain support is very low priority for MonoGame.  That said if a fix isn't too complex it would be fine to include it.

Likely you are right that this is an upstream OpenTK issue... but I couldn't exactly say what.

[2015-12-07 04:47] ala53 commented on #4297
AppDomains were just the fastest way for me to explain the issue. If you create 2 `Game`s and run them in tandem via RunOneFrame(), the same issue occurs. Game "B" takes control of the mouse and never lets game "A" see it again.

[2015-12-07 06:51] tanis2000 commented on #4269
I didn't even know the pipeline tool could convert shaders from directx to opengl. I had to rewrite it by hand to make it work on non windows platforms. It looks like the generated xnb is just a binary with the original source code of the shader so I doubt it would ever do anything to it.

[2015-12-07 07:10] ala53 commented on #4269
Yeah, it's quite easy.

`mgcb /platform:DesktopGL /incremental /build:<path to .fx shader (HLSL)>` will output a `.xnb` with glsl translated shader code.

[2015-12-07 08:49] KonajuGames commented on #4288
Is this a Windows only UI?

[2015-12-07 09:30] hach-que commented on #4288
No, the Protobuild Manager is cross-platform.  It's based off a cross-platform game launcher I wrote a while back, which shipped as a single executable.

I haven't updated the platform-specific code in the Protobuild Manager for Linux / Mac yet, but this is just because I haven't gone into the coworking space this week where my Linux desktop + Mac is.

[2015-12-07 09:36] tomspilman commented on #3515
@hach-que

So I tried your branch...

  https://github.com/hach-que/Protobuild/tree/nda

First problem...  how to I add a new platform to it?  I tried this in the definition for the PS4 platform:

[code]

[2015-12-07 09:40] tomspilman commented on #4297
This comes back to the case that MonoGame wasn't really design to run 2 Game instances at once.  Still if we fixed this it probably would make the MonoGame code more robust...  less statics and globals and stuff.

[2015-12-07 09:40] hach-que commented on #4288
Here's a video of the MonoGame-branded version from a few hours ago, just showing the options select: https://youtu.be/bf4qq0t3z6A.  This is what you'll get if you ran the binary executable in the `ProjectCreationTool` folder in https://github.com/mono/MonoGame/pull/4295.

[2015-12-07 10:20] hach-que commented on #3515
If that's in a submodule (or even just next to `MonoGame.Framework.definition` for testing purposes), and you generate for the main MonoGame repository, you should end up with `Graphics\GraphicsDevice.PlayStation4.cs` in the project.  That is, `Protobuild.exe --generate PlayStation4` should work.

I haven't implementing merging the properties in yet, so the `Properties` and `ProjectGuids` won't ge

[2015-12-07 10:21] cra0zy commented on #4288
That really reminds me of Unity now.

Can Protobuild generate F# solutions?

[2015-12-07 10:23] hach-que commented on #4288
There's a branch here with experimental F# support: https://github.com/hach-que/Protobuild/tree/fsharp.  No-one really expressed an interest in using F#, so I never merged it in, but we should be able to rebase and test it if there's interest.

[2015-12-07 10:27] tomspilman commented on #3515
It is not a git submodule if that is what you mean.

I simply placed a folder within the MonoGame folder.  That folder includes a Protobuild.exe and a Build folder.  The Build folder has a module.xml that looks like this:

[code]

Then there is a Projects folder within that with the `MonoGame.Framework.definition` that I posted above.

When I run `Protobuild -generate Playstation4` it acts like it

[2015-12-07 10:40] cra0zy commented on #4288
Do you want to join forces?

My wizard is good for integration with MonoDevelop / Visual Studio, while your wizard is good for actually being in start menu and as a standalone application. With these 2 GUIs combined we could RULE THE WORLD... I mean, I mean create a good user experience.

[2015-12-07 11:58] mrhelmut opened #4298 "MediaPlayer.SetChannelVolume may fail despite null check (WinDX)"
Hello,

Despite [the null check](https://github.com/mono/MonoGame/blob/083d88ce8385cf6a454a372e1d5bbafbe83243cb/MonoGame.Framework/Media/MediaPlayer.WMS.cs#L150), it may happen that `MediaPlayer.SetChannelVolumes()` raise an exception because of the async nature of Media Foundation (Windows DirectX projects).

Two different (but related to the same problem) exceptions can occur.

1) [On this line]

[2015-12-07 12:11] tanis2000 commented on #4269
I didn't know about that! Thanks for the hint! BTW I managed to fix the shader by hand in the meanwhile :-P

[2015-12-07 12:11] #4269 closed

[2015-12-07 13:31] hach-que commented on #4288
Yeah that sounds good.

My plan for Visual Studio / Xamarin Studio integration was just to launch the standalone application like VS does for "Install Tools" entries in the new project creation wizard.  Did you have any other plans for doing this?

[2015-12-07 13:44] cra0zy commented on #4288
I have a Xwt Widget Wizard dll file.

I can get Gtk 2 widget so it can be embedded within MonoDevelop's creation wizard.

As for VS I am not sure how it handles stuff, I was thinking on either using WPF Widget(if it needs embedding) or just creating the window with it.

At the end of both path I would just have to call the Protobuild Generation tool from command line with specific parameters  to a

[2015-12-07 13:50] cra0zy commented on #4288
Side note Xwt addin for MonoDevelop offers a very nice project wizard (can't post any more screenshsts now, it got broken because of the latest MD update changing project template locations):
![ref](https://cloud.githubusercontent.com/assets/6773302/10087570/ec50c9fe-6314-11e5-943c-fe24217ad7c2.png)

https://github.com/sevoku/MonoDevelop.Xwt

[2015-12-07 13:53] hach-que commented on #4288
To be honest, I'm not sure how much benefit there is to embedding the tool inside MonoDevelop - at the end of the day, it's still a separate window on-screen.  That said, on Linux this tool uses GTK#, so we can embed it inside MonoDevelop just like we would an Xwt-based tool.

One thing we do need to figure out is how to control Xamarin Studio so that it opens and closes solutions as we need (I li

[2015-12-07 13:57] cra0zy commented on #4288
While using Unity3D with Wine I had to write an addin that would allow me reloading of solution manually from context menu... I think I still have the code somewhere on my hard drive so leave that part to me.

[2015-12-07 14:02] hach-que commented on #4288
Also if we want to embed this process inside MonoDevelop, we can use GtkPlug / GtkSocket.  Basically it involves creating a GtkSocket inside MonoDevelop, which gives us an integer.  We then pass that integer to the new process, which creates a GtkPlug with it.  So making the GtkSocket and then running `Protobuild.Manager.exe --intent XamarinNewProject --gtk-socket-id 123` (where `123` is the numbe

[2015-12-07 14:09] hach-que commented on #4288
Actually an alternative idea is to wire up the MonoDevelop / Visual Studio side of things to these two projects:

https://github.com/hach-que/Protobuild.IDE.MonoDevelop
https://github.com/hach-que/Protobuild.IDE.VisualStudio

The MonoDevelop one is much farther along, but some of the features are waiting on upstream changes to get merged into MonoDevelop in time for MD 6.  One option here is just

[2015-12-07 14:18] cra0zy commented on #4288
Protobuild isn't generating the solution for ProtobuildManager correctly on Linux:

[code]

[2015-12-07 14:20] hach-que commented on #4288
Yeah I temporarily set the Platforms attribute on Protobuild.Manager to "Windows" so that the build would pass for #4295.  You'll need to modify the definition so that attribute is "Windows,Linux" instead.

[2015-12-07 14:27] hach-que commented on #4288
Here's another video of almost everything working: https://www.youtube.com/watch?v=-jEqdZHXeII

Importantly the "open project" screen that lets you switch platforms now also works for C# full projects (not just Protobuild projects).

[2015-12-07 14:45] cra0zy commented on #4288
Can Protobuild specify the version of references?

Would it be ok if I ported the tool to Gtk 3?

[2015-12-07 15:17] hach-que commented on #4288
It needs to work with whatever Mono provides out-of-the-box; we can't depend on external DLLs.  We also depend on Webkit# on Linux to provide the embedded browser, so that also needs to be compatible.

I believe with GtkPlug/GtkSocket it shouldn't matter if you have separate versions.  If you wanted to build it directly into https://github.com/hach-que/Protobuild.IDE.MonoDevelop (for modifying the

[2015-12-07 15:36] mrhelmut commented on #4148
I'm not into DXGI, but based on [the documentation](https://msdn.microsoft.com/en-us/library/windows/desktop/bb174579(v=vs.85).aspx) "when this error is returned, an application can continue to run in windowed mode and try to switch to full-screen mode later".
[This documentation](https://msdn.microsoft.com/en-us/library/windows/desktop/ee417025(v=vs.85).aspx) may also provide answers to this prob

[2015-12-07 16:08] hach-que commented on #3515
I actually just ran into an issue I think with "AppliesTo" not applying to projects, so I'm investigating now.

[2015-12-07 16:10] hach-que commented on #3515
Oh of course I ran into that issue, I don't have the experimental version of Protobuild.

[2015-12-07 16:41] hach-que commented on #3515
Okay, so AppliesTo is working for me in the project creator.

You'll probably need to add PlayStation4 to the whitelist of supported platforms in MonoGame, otherwise you'll get the standard "this platform isn't supported error".

[2015-12-07 16:46] hach-que commented on #3515
FYI I've merged the `nda` branch into `master` because I need the `AppliesTo` feature in the project creator.  I'll be deleting the `nda` branch, and adding support for references and properties on the `master` branch for IncludeProjects instead.

[2015-12-07 16:55] hach-que commented on #4288
The new version I just pushed now applies the overlays, so if you select normal C# projects and reference MonoGame as a NuGet package, it adds all the correct `packages.config` files.  It doesn't yet add the references themselves, but this is because `IncludeProject` doesn't support including references (only files).  So once I get that functionality added into Protobuild, I can update the templat

[2015-12-07 17:27] tomspilman commented on #3515
That is ok for now...  i'll try that and report back.  Eventually it would be good if even that was private.  This would allow us to more easily work on non-announced platforms.

Ok...  i'll work from there moving forward.

[2015-12-07 17:29] tomspilman commented on #4288
So what do the templates look like?  What is the syntax used for them?

[2015-12-07 19:05] tomspilman commented on #3515
Ok... adding PS4 to the main MonoGame module under `<SupportedPlatforms>` helped.  It is now generating the project/solution.

But for some reason it is also generating the Windows projects/solutions too.  My command line is `Protobuild -generate Playstation4` ....   any idea why it is generating for Windows as well?

[2015-12-07 19:12] tomspilman commented on #3515
Yeah... this is all messed up.  The PS4 solution contains references to all the Windows versions of things too...  like MonoGame.Framework.Windows and MonoGame.Framework.Net.Windows.

So still i'm doing something really wrong.

How the hell do you figure out what is causing it to drag in these other projects?

[2015-12-07 23:34] jakepoz commented on #4284
Hey Konaju,

 Any ideas? We have a bunch of users saying that they see the battery drain issue. Is there anything you could use from us to help?

[2015-12-08 00:07] hach-que commented on #3515
That is expected as of the latest version of Protobuild. We include the
host platform's projects in all solutions that don't target the host
platform.

On Tue, Dec 8, 2015, 06:12 Tom Spilman <notifications@github.com> wrote:

[2015-12-08 00:10] hach-que commented on #3515
(it doesn't reference the Windows projects though, they're just included in
the solution. PS4 projects will still only reference other PS4 projects)

On Tue, Dec 8, 2015, 11:06 June Rhodes <jrhodes@redpointgames.com.au> wrote:

[2015-12-08 00:21] hach-que commented on #4288
The syntax for the templates is the standard Protobuild template format. A
template is a normal Protobuild module / project, except that upon
instantiation from the template:

* All instances of {PROJECT_NAME} get replaced with the project name. This
applies both in the naming of files (so a file with that in the name will
have the actual project name substituted in), and to the contents of files.

[2015-12-08 01:05] tomspilman commented on #3515
platform.

Can you add a way to turn that off?  I don't need 5 or 6 projects to a platform i'm not targeting open in the PS4 solution.

[2015-12-08 01:07] tomspilman commented on #4288
Seems reasonable... especially if it is more reliable than the VS template system which sometimes would ignore replacements or format them weird depending on where they were put.

[2015-12-08 01:08] tomspilman commented on #4288
Can we look to remove the Protobuild.exe inclusion?  It is getting ridiculous with a half dozen Protobuild.exe files spread thru out a project.

[2015-12-08 01:17] MichaelDePiazzi commented on #4298
Ouch... :/

Well... I can think of 2 ways of potentially resolving this... the easy way, or the hard way.

The easy way is to simply put an exception handler around the code in question like so:

[code]

It's not pretty, but it should work.

The hard way is to change `PlatformPlaySong` to be a blocking call (at the moment it's technically async when playing a new song). That way there wouldn't be

[2015-12-08 01:48] MichaelDePiazzi commented on #4287
@tomspilman
Really I think the main platform we need to consider an alternative to is Windows DirectX, as the Media Foundation library has proven to be quite difficult to work with.

Yes, we'd lose the ability to work with existing XNA song content. But DirectX is the only platform this can work with anyway. No other platform (to my knowledge) can use Windows Media (WMA/WMV) formats.

I appreciate

[2015-12-08 01:51] hach-que commented on #4288
It does remove it? There's only one Protobuild in the MonoGame repo.

On Tue, Dec 8, 2015, 12:09 Tom Spilman <notifications@github.com> wrote:

[2015-12-08 01:57] tomspilman commented on #4288
If we have 4 or 5 templates in the MonoGame repo.  How many copies of Protobuild.exe would be required?

[2015-12-08 02:00] tomspilman commented on #4288
FYI... currently in VS when i close the generated solution/projects it asks me to save the projects.  This is usually a sign that Protobuild is generating projects/solutions with incorrect whitespace.

[2015-12-08 02:01] hach-que commented on #4288
Zero, it uses the latest version of Protobuild, or whatever is in the
project manager's cache (which you can pre-seed by making the Windows
Installer copy MonoGame's version of Protobuild that exists in the project
root).

On Tue, Dec 8, 2015, 12:57 Tom Spilman <notifications@github.com> wrote:

[2015-12-08 02:02] hach-que commented on #4288
I've noticed that happening for the Pipeline project (the save prompt), but
I never knew what was causing it. I'll look into the whitespace thing later
(actually if you file an issue that would be even better).

On Tue, Dec 8, 2015, 13:01 June Rhodes <jrhodes@redpointgames.com.au> wrote:

[2015-12-08 02:03] tomspilman commented on #4288
Great... was worried we would have a rash of Protobuild.exes littered thru the MonoGame repo.  It would only occur on generated projects if they selected the Protobuild option and not plain C# projects.

[2015-12-08 02:10] hach-que commented on #4288
Yeah, but that's expected and intentional behavior - every module in
Protobuild ships it's own version so that we have 100% backwards and
forwards compatibility across modules.

On Tue, Dec 8, 2015, 13:03 Tom Spilman <notifications@github.com> wrote:

[2015-12-08 02:24] KonajuGames commented on #4284
I was working on it again last night. It works fine in the emulator, but on
hardware it misses playback on  many sounds. I don't have a solution yet,
but will be back on it tonight.

[2015-12-08 02:28] tomspilman commented on #3515
Starting to get some results...  but still ugly stuff happening.

Like currently it generates two solutions... one the main MonoGame folder called `MonoGame.Framework.PS4.sln` and another in the PS4 submodule called `MonoGame.PS4.PS4.sln` which is empty referencing no projects.

How to I tell it not to generate that extra empty solution?

[2015-12-08 03:02] tomspilman commented on #3515
So I am starting to get some reasonable results with this.  I have a subfolder within the `MonoGame` folder which is called 'PS4' and has the content of the PS4 repo.  I was able to include some PS4 specific C# files from this other folder as links which was the first goal.

Still need to see if external project references work.

What is missing/sucks so far:

  - No support for `<ProjectGuids>` o

[2015-12-08 04:13] stonstad commented on #4205
Thanks richxbox -- that was a quick solution.

[2015-12-08 04:29] hach-que commented on #3515
This is now done in upstream.

So you should have just one Protobuild.exe in the submodule (in the root of the repo), alongside the Build folder.  Inside that build folder there should be Module.xml, and the Projects folder.  Inside that Projects folder, there should be just an include project.  If the PS4 submodule doesn't have Protobuild inside it, then the include project won't be read.

If you

[2015-12-08 04:32] hach-que commented on #3515
Not sure we'll end up with a way around this.  I don't really want to do a recursive scan of submodules just to check if the platform is valid (we already traverse recursively during generation, so adding another check here would approximately double the IO operations searching for submodules).

[2015-12-08 05:17] tomspilman commented on #3515
That isn't what i'm seeing.  I just have one Protobuild.exe in the MonoGame folder.  The child PS4 folder has only a Build folder and no Protobuild.exe.

[code]

[2015-12-08 05:19] tomspilman commented on #3515
Right...  that does suck.

How about instead you assume the platform is correct... proceeding to read modules.... until you determine the platform doesn't exist.   It just means it takes a little longer to fail...  if you got the platform right it is just as fast as it has been.

[2015-12-08 05:19] hach-que commented on #3515
I'm assuming the version of Protobuild in the MonoGame folder is the
latest?

On Tue, Dec 8, 2015, 16:17 Tom Spilman <notifications@github.com> wrote:

[2015-12-08 05:22] tomspilman commented on #3515
I updated last from the nda branch version.  I'll try the latest now.

[2015-12-08 05:25] tomspilman commented on #3515
I see no difference with the latest Protobuild.exe:

[code]

[2015-12-08 05:26] tomspilman commented on #3515
Note the `Platform="PS4"` bit doesn't seem to work.  If definition looks like this:

[code]
It still includes `GraphicsDevice.PS4.cs` into the Windows csproj too.

[2015-12-08 05:59] hach-que commented on #3515
That's the default behaviour if you omit the `<SupportedPlatforms>` tag from a module.

[2015-12-08 09:54] tomspilman commented on #3515
Interesting...  i'll experiment with that.  Again that is sort of low priority.

At some point we will have platforms we're developing for that we cannot mention publicly.  The ability to not include *any* reference to that platform from the main MonoGame repo is a desirable feature.

[2015-12-08 10:24] tomspilman commented on #3515
Another issue that is becoming more apparent is we need to setup the XSLTs to use features rather than platforms to decide how to generate the project.  We can then put some other configuration settings in possibly the Module.xml if not the actual .definition that controls how projects/solutions are generated for each platform.

This again is to make it easier to add platforms without a whole XSLT

[2015-12-08 10:26] hach-que commented on #3515
I don't quite understand the request - you need the XSLT to do the generation.

There's `AdditionalProjectTransforms.xslt` which is a file that gets inserted into the XSLT.  This is usually used for additional build configuration for certain platforms under certain projects; it is documented here: https://protobuild.readthedocs.org/en/latest/customizing_protobuild.html#specifying-additional-transf

[2015-12-08 10:33] tomspilman commented on #3515
That might work.

The issue is all about platform hiding...  we can't put into the public repo NDA platform information.  So being able to inject that stuff from the include/applyto project is what I am needing.

[2015-12-08 10:37] hach-que commented on #3515
For the PS4 XSLT you should be placing it in `%appdata%\.protobuild-xslt\GenerateProject.CSharp.PlayStation4.xslt`.  Then when you generate for PlayStation4 it will use that XSLT template, regardless of where or which Protobuild project you are generating.

[2015-12-08 10:38] tomspilman commented on #3515
We can't do that.  It has to be in the repo.

[2015-12-08 10:39] hach-que commented on #3515
You can't place it in the repo; the repo is public (and the generation needs to work across submodules).

[2015-12-08 10:39] tomspilman commented on #3515
The PS4 repo is not public.  We need to be able to place it there.

[2015-12-08 10:40] hach-que commented on #3515
We can't place it there, it will not work for other dependencies the game has.

[2015-12-08 10:40] tomspilman commented on #3515
That isn't a concern...  the XSLT is exclusively for the PS4 MonoGame project.  Not for any other game or library.

[2015-12-08 10:41] hach-que commented on #3515
Games being made with MonoGame for PS4 need to be able to use it?

[2015-12-08 10:41] tomspilman commented on #3515
They don't.

[2015-12-08 10:42] hach-que commented on #3515
How will they have the correct project format and reference the assembly?  If you're just shipping binaries  (for MonoGame PS4) you can just configure your build server to copy the XSLT into the public repo's Build folder before you run the build?

[2015-12-08 10:43] tomspilman commented on #3515
We already have a solution for that.  All I need is for the MonoGame PS4 project to be able to generate its XSLTs.  Nothing more.

[2015-12-08 10:44] hach-que commented on #3515
Okay, in that case just configure your build server to copy the XSLT into the public repo's Build folder after it's been cloned (and for debugging just copy it in on your local computer, just don't commit it).

[2015-12-08 10:47] tomspilman commented on #3515
This has nothing to do with the build server.

We need the XSLTs to be in the PS4 repo and for Protobuild to pick them up.  I don't need a solution that copies them anywhere on my PC.

I need this feature. This isn't an impossible task.

[2015-12-08 10:53] tomspilman commented on #3515
Here is what could happen maybe.  When Protobuild scans the modules it identifies these addon XSLTs and Protobuild itself installs them to `%appdata%`.  The only issue there is Protobuild being smart enough to update them when the XSLT changes or dealing with conflicts.

[2015-12-08 11:01] tomspilman commented on #3515
This really all sidesteps the issues.  The XSLTs are a brute force tool.  Yes you can do anything with them, but often there are few things you actually need to do...  set compiler options, add properties, set the VS version, set the tool version, etc.

Worse when Protobuild adds a new feature we need to figure out how to merge the custom XSLTs with the local changes...  that is when we remember t

[2015-12-08 11:09] hach-que commented on #3515
Yes, the issue is conflicts, and dealing with how to resolve them.

Protobuild already has a mechanism for dealing with such conflicts, and as much as you don't like the idea/concept/etc of it, it is the officially supported way of de-duplicating multiple references to the same artifact (whether that artifact is a third-party library, a Git repository, etc.)  This mechanism already works and is we

[2015-12-08 11:17] tomspilman commented on #3515
Could Protobuild then not pull the XSLT from the existing MonoGame.PS4 repo?

This is as long as all it uses this for is pulling the XSLT.  I don't need Protobuild managing my Git repositories for any reason.

[2015-12-08 11:18] hach-que commented on #3515
Protobuild **isn't** managing your Git repositories.  It's using the repository URL as an identifier to de-duplicate the content of the repository, so that when multiple projects reference the same URL, it knows they're the same thing and that there isn't a conflict.

[2015-12-08 11:19] tomspilman commented on #3515
So it isn't going to clone that repo and place a copy on my PC?

[2015-12-08 11:19] hach-que commented on #3515
Not if it's already there (or has already been cloned by Git).

[2015-12-08 11:23] tomspilman commented on #3515
So it will try to clone and manage repos if I don't beat it to the punch.

I just need a way for the XSLT for PS4 and other platforms I cannot talk about to exist in their respective repos.  I don't need additional repos for XSLTs.

Can we get...
[code]

[2015-12-08 11:24] BaronKiko opened #4301 "Window Events"
Would it be possible to implement move and resize events for the main game as currently there is no way of identifying the position or size of the window. I have seen you push this away before putting the user at fault due to design issues however I can't see how I would get it to work without.
Basically I am trying to make a border-less desktop window that you can resize and position to your liki

[2015-12-08 11:29] hach-que commented on #3515
I don't understand what you mean by this - the XSLT is in that repository, what do you expect to happen if the folder that the XSLT is in hasn't already been cloned by Git? (i.e. the user hasn't initialized Git submodules)  The file literally doesn't exist on your computer otherwise, so what is it meant to do?

We could add a package type that pulls a single file from a web server (you could then

[2015-12-08 11:36] tomspilman commented on #3515
I confused the `<Package>` in this context with the thing in here:

https://github.com/mono/MonoGame/blob/develop/Build/Module.xml#L12

... which I really dislike.

It is the same story with me... whenever Protobuild steps beyond project generation I will be unhappy.

That sounds like it could work...  but a final question.  Where would that `<Package>` line go?  It has to be in the module in the

[2015-12-08 11:42] hach-que commented on #3515
A part of project generation is knowing what dependencies you have - in this case we depend on an external XSLT file.  The `<Package>` reference is the way of specifying things you depend on, regardless of what they are.

Yes it would be in the private PS4 repo.

[2015-12-08 11:48] tomspilman commented on #3515
What we disagree on here is if Protobuild should be doing git operations.  IMO it should not.  It limits Protobuild to being a tool that only works with Git.  What if a project uses Mercurial?  Or SVN?  Or is uses Perforce?  Or something else we've never heard of?

Project generation should have nothing to do with what source control system you choose to support.

Perfect...  then it sounds like m

[2015-12-08 12:15] tomspilman commented on #3515
Ok here is a tricky case.  In the public MonoGame repo we have this defined:

https://github.com/mono/MonoGame/blob/develop/Build/Projects/MonoGame.Framework.definition#L509
[code]
How would an include/applyto project add itself to the platform list for that file?

I tried simply adding this to the include project:
[code]
But it seems Protobuild skips including it.  Also tried this:
[code]
Maybe b

[2015-12-08 12:16] BaronKiko opened #4302 "SwapChainRenderTarget for OpenGL"
Pretty self explanatory, I figured that while it's not going to be easy one of the issues where you can't get window info from just a handle may be avoidable by using a winforms window created by mono as support for winforms is slowly getting better and this basic functionality of an empty window for render targeting is supported pretty much universally.
Hopefully it's not as hard as I'm thinking

[2015-12-08 12:24] hach-que commented on #3515
Protobuild's package management isn't limited to Git; we could quite easily support `https-hg://` or `https-svn://`.  But no-one has expressed an interested in this.  That's also only necessary if the target project you're consuming is in one of those source control types, you can use this functionality from your project regardless of what source control system it's using.

Of course, you can also

[2015-12-08 12:32] tomspilman commented on #3515
Right...  it doesn't show up in the project in VS.  However!

If I open the project in notepad I find this:

[code]
So it seems like Protobuild assumed it was a linked file and generated this weird link and not just a regular reference to the source.

[2015-12-08 12:52] hach-que commented on #3515
The link is intentional because it's referencing a file outside the project
folder; while we're at it we nest it under an "Included Code\<project
name>" so it's easier to see where included files are coming from. However,
I did notice this being a bit weird when I was working on the project
creator stuff.

Can you try adding an empty `<Link />` tag underneath the Compile node in
the include projec

[2015-12-08 13:05] mrhelmut commented on #4287
I also think that the problem is only related to desktop platforms. The major problem is Media Foundation being bound to the presence of a specific version of Windows Media Player. And since the WMP EULA doesn't allow us to ship the missing dll's, it raises a lot of scenario not quite funny to deal with.

Speaking of alternatives to play WMA & WMV files, I believe NAudio handles WMA but I wouldn't

[2015-12-08 13:14] DDReaper commented on #3515
On my two pence thought. If it does link to external repos, then it could be hosted on a private repo with restricted access, which solves any security access issue.

[2015-12-08 13:15] cra0zy commented on #4288
Mono itself doesn't provide and gtk-sharp by default, I think.

MonoDevelop has a reference to gtk-sharp 2 by default.

Linux systems have 2 packages which you can install for gtk sharp, "gtk-sharp2" and "gtk-sharp3", I have both installed on my system.

Protobuild doesn't specify which gtk-sharp to use so MonoDevelop chooses gtk sharp 3 stuff for most of the references, except gdk sharp, don't kn

[2015-12-08 13:21] mrhelmut commented on #4298
That could be a quick workaround. Not quite clean, but I really don't see what to do besides reworking ```PlatformPlaySong``` like you said. There is also a chance that the ```SharpDXException``` is thrown for other kind of reasons we shouldn't silently catch, but I don't have the exact error code of the error we are looking for... (and also never seen any other kind of errors being raised here, w

[2015-12-08 13:24] hach-que commented on #3515
Yeah that's basically the plan; we'll use the security of the repo to
prevent unauthorized access

On Wed, Dec 9, 2015, 00:15 Simon (Darkside) Jackson <
notifications@github.com> wrote:

[2015-12-08 14:06] hach-que commented on #4288
Yeah, what I mean is we can't ship additional DLLs ourselves; all the
things we reference have to be in the GAC.

On Wed, Dec 9, 2015, 00:16 Harry <notifications@github.com> wrote:

[2015-12-08 15:49] KonajuGames commented on #4284
If you can, check out the PR I just submitted (#4303).  Supports suspending the audio mixer thread and adds 64-bit support.

[2015-12-08 20:30] jakepoz commented on #4284
Sweet, testing it out now.

[2015-12-08 21:05] Tzenchor opened #4305 "Blurry Fonts from the pipeline, works right with the XNA pipeline"
Hi, I have a project i did for school with XNA and now i have converted it to Monogame.
But the weird thing is that if I run the game with what the Monogame pipeline generates i get blurry texts, both with 3.4 and 3.5, but if I just copy the Content folder from the XNA version it shows right.
XNA:
![xna](https://cloud.githubusercontent.com/assets/11319966/11668345/f6917c3e-9df6-11e5-89d3-94a60786d

[2015-12-08 21:30] KonajuGames commented on #4305
Try expanding the Font Processor properties and setting the Texture Format
to Color. Font textures are compressed by default, which loses some quality.

[2015-12-08 21:48] jakepoz commented on #4284
Nice, it is working and the battery issue appears fixed. @danzel Can you give it a try just to verify please?

[2015-12-08 21:56] Tzenchor commented on #4305
Made the change but no difference

[2015-12-08 22:25] danzel commented on #4284
Yep works for me, CPU in background seems fixed.

[2015-12-08 23:05] tomspilman commented on #4305
That looks to be more than just blurry...  that looks to be completely messed up text.

Can you share the font XNB here for people to test?

[2015-12-08 23:32] Tzenchor commented on #4305
Here they are in this zip. It's contents are the xnb from monogame, the one from xna and the spritefont file used for its generation
https://onedrive.live.com/redir?resid=7C0DE47C61522229!5889&authkey=!APDQX-r56qxONho&ithint=file%2czip
By the way, if I try to attach the file directly it fails, but says that zip files are supported

[2015-12-09 00:45] KonajuGames commented on #4305
That's fine. Thanks for those. I can take a look tonight my time if no one
else grabs it before then.

[2015-12-09 00:56] tomspilman commented on #4305
@KonajuGames  great!

[2015-12-09 01:02] #3899 closed

[2015-12-09 01:02] #4161 closed

[2015-12-09 01:02] #4284 closed

[2015-12-09 01:46] MichaelDePiazzi commented on #4298
I had a similar problem with the clock service previously ([see here](https://github.com/mono/MonoGame/blob/083d88ce8385cf6a454a372e1d5bbafbe83243cb/MonoGame.Framework/Media/MediaPlayer.WMS.cs#L125)). From what I remember, SharpDX didn't really provide any further details about the exception and this was the best I could do to handle the situation of the service not being ready yet.

I agree. I've

[2015-12-09 01:56] MichaelDePiazzi commented on #4148
Ahhh... that makes some sense. I have basically zero experience with DXGI, but I'd be willing to take a look into it. Only problem is that I'm going to be too busy to look at it for at least another month...

[2015-12-09 02:36] jakepoz commented on #4284
Hi Konaju, please be sure to claim the bounty on bountysource: https://www.bountysource.com/issues/28801418-bounty-update-audio-system-not-to-drain-cpu-on-android

Looks like some other community members also added on to this one :)

[2015-12-09 04:16] craftworkgames commented on #4018
I've run into this again recently and it's pretty annoying.

@tomspilman You tried this on XNA back in July and it was clearing different. Did you ever figure out what XNA does?

[2015-12-09 06:03] cra0zy commented on #4018
Xna does the same thing as WindowsGL... I literally posted a video above...

[2015-12-09 06:06] craftworkgames commented on #4018
Thanks @cra0zy. It's confirmed then. So it needs to be fixed in the DX version?

I heard a rumor that the DX version was going to be dropped in favor of doing everything in GL?

[2015-12-09 06:08] tomspilman commented on #4018
That isn't possible.  There are platforms we support that are DX only.

There is work on a unified Desktop OpenGL platform targeting Windows/Mac/Linux on one set of binaries.  But the Windows with DirectX path will still be there.

[2015-12-09 06:12] craftworkgames commented on #4018
Okay good to know. I'll take a closer look at fixing this bug later in the week then.

[2015-12-09 10:32] dellis1972 opened #4308 "Crash in Pipeline Tool on MacOS"
System.InvalidOperationException: Collection was modified; enumeration operation may not execute.
  at System.ThrowHelper.ThrowInvalidOperationException (ExceptionResource resource) <0x1950a40 + 0x00036> in <filename unknown>:0
  at System.Collections.Generic.List`1+Enumerator[T].MoveNextRare () <0x17b9ad0 + 0x00031> in <filename unknown>:0
  at System.Collections.Generic.List`1+Enumerator[T].Move

[2015-12-09 10:36] dellis1972 commented on #4308
my guess is the crash is at https://github.com/mono/MonoGame/blob/develop/Tools/Pipeline/Gtk/MainWindow.cs#L784

[2015-12-09 10:48] #3652 closed

[2015-12-09 11:14] tomspilman commented on #3515
Ok this worked...
[code]
Ideally we could fix the "Included Code" thing and the `<Link/>` wouldn't be necessary here.

[2015-12-09 12:06] tomspilman opened #4311 "Remove Storage Classes"
I am proposing the full removal of the existing storage classes:

 - [StorageContainer.cs](
https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Storage/StorageContainer.cs)
 - [StorageDevice.cs](https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Storage/StorageDevice.cs)
 - [StorageDeviceHelper.cs](
https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Storage

[2015-12-09 13:14] mrhelmut commented on #4311
I would agree.

I never used them because console SDKs / TRCs are so different and some of them don't even have a folder based storage paradigm, not to mention the difference between async and blocking calls to each SDK (hence, implementing these classes may be quite touchy on some platforms).

[2015-12-09 13:43] KonajuGames commented on #4311
The Storage namespace is very much targeted towards the Xbox 360, memory cards and the Guide.  And the whole Begin..End async model needs to be updated to async/await.

I have always used IsolatedStorage for PC and phones.

[2015-12-09 14:03] KonajuGames commented on #4284
Many thanks for that.  A very pleasant surprise.

[2015-12-09 14:52] jeroldhaas opened #4312 "Mac OS Permissions for ffmpeg and ffprobe"
By default, the installed Pipeline.app has permissions set as follows:
[code]
In order for sound effects to process properly, permissions need to be set by default with installer to:
[code]

[2015-12-09 14:52] hach-que commented on #3515
Oh yeah, the path for the include project items is relative to the include path, not the project that's having it included.  So having to do `..\..\` is totally expected there.  The `<Link/>` stuff is a bug though.

[2015-12-09 14:59] mgarstenauer commented on #4311
I agree - the storage classes are not needed anymore.

[2015-12-09 19:36] tomspilman commented on #3515
So my major remaining issues with Protobuild here are:

  - No support for `<ProjectGuids>` or `<Properties>` within the `<IncludeProject>`.
  - It generates unnecessary Windows projects in the PS4 solution.
  - The `<Package>` fix for pulling an XSLTs from an existing repo.
  - Fix the `<Link/>` required when doing relative paths to source files.

[2015-12-09 19:38] tomspilman commented on #4312
@dellis1972 @cra0zy

Haven't we been dealing with this lately?

[2015-12-09 20:06] dellis1972 commented on #4312
looks like its fixed in develop

https://github.com/mono/MonoGame/blob/develop/Installers/default.build#L117

@jeroldhaas are you using the latest unstable release?

[2015-12-09 20:12] jeroldhaas commented on #4312
No. Stable. If develop is fixed, then the issue is already resolved. Thanks. :)

[2015-12-09 20:13] #4312 closed

[2015-12-09 20:15] dellis1972 commented on #4312
@jeroldhaas try the latest unstable mac installer, it should hopefully fix the issue :)

[2015-12-09 21:19] jeroldhaas commented on #4312
I'd manually corrected on my end, but I appreciate all your time. :+1:

[2015-12-10 09:03] mrhelmut commented on #4287
Quick bump, 27% of our crash reports are related to Media Foundation issues.

If XNA content compatibility shall be preserved, we'll most probably switch to DesktopGL.

[2015-12-10 09:13] mrhelmut commented on #4298
After some more digging, I'm pretty confident that catching these two exceptions is safe. However, changing volume may have misses, but it's still better than crashing. It's a rare enough problem to tackle it that way, I think.

[2015-12-10 09:27] cra0zy commented on #4288
Where do you want MD addin placed?

[2015-12-10 10:55] hach-que commented on #4288
Do you want to submit a PR to https://github.com/hach-que/Protobuild.IDE.MonoDevelop?  Add a new branch like `monodevelop-5` or something because `master` right now is being written against the Roslyn version of MonoDevelop which isn't out yet.  My intention is to add it as a submodule of MonoGame, ship it as a binary, or copy the code across depending on what upstream wants.

[2015-12-10 11:02] cra0zy commented on #4288
I think it's better to split the addin in 2:
 - one for Protobuild stuff
 - one for Protobuild.Manager templates

This way people can fork the second one and setup their own templates. What do you think?

[2015-12-10 11:12] hach-que commented on #4288
The Protobuild Manager doesn't need forking to drive templates, it just uses the Branding.xml file + files on disk if people want to have their own stuff; no forking required.

The add-ins should basically be able to look at registered paths to the tool and run the version appropriate for different projects.  Or to give you an example, the Visual Studio add-in is entirely driven by the templates t

[2015-12-10 11:21] hach-que commented on #4288
I've published an early preview of the VSIX extension at https://visualstudiogallery.msdn.microsoft.com/fb8ac202-0059-485e-85c3-223875108407, but this is just some supporting wizard code for the templates the Protobuild Manager generates; over the weekend some time I'll make the Protobuild Manager automatically install this extension on first run (or via a command-line option).

[2015-12-10 11:52] cra0zy commented on #4288
That sounds ok.

So for MD we will need to generate templates inside "~/.local/shara/MonoDevelop/LocalInstall/Addins/ProtoBuild.Manager/" folder when the --one-time-setup is called.

As for what I have in mind, it's still to setup an embedded version (I don't mind writing more code for stuff that looks nicer), if you look at the open file in https://youtu.be/IvwRahT1HTY you'll notice that the wiza

[2015-12-10 12:02] hach-que commented on #4288
Yeah that all sounds good.  We'll need a --no-gui option in the future
anyway.

With regards to the MD drop-down in the UI; this is something that is
planned for MonoDevelop 6.  The MD add-in I've been working on supports
loading the Protobuild structure of projects directly into MonoDevelop,
showing the Protobuild definitions with cross-platform settings in the
Solution Explorer rather than the C

[2015-12-10 12:07] cra0zy commented on #4288
Where can I get MD 6? I know that MD source is at: https://github.com/mono/monodevelop

[2015-12-10 12:12] hach-que commented on #4288
You just need to check out the roslyn branch in that repo. There will be a
few APIs used by my add-in that aren't upstreamed yet, I'm still working on
getting those upstreamed (I have a few open PRs).

On Thu, Dec 10, 2015, 23:07 Harry <notifications@github.com> wrote:

[2015-12-10 12:27] cra0zy commented on #4288
Are you using https://github.com/hach-que/monodevelop/tree/roslyn-protobuild while developing the addin?

[2015-12-10 12:29] hach-que commented on #4288
Yes, that's my version with the extra APIs

On Thu, Dec 10, 2015, 23:27 Harry <notifications@github.com> wrote:

[2015-12-10 12:49] KonajuGames commented on #4305
It's strange.  At sizes of 12 or 14, it produces garbled results.  Anything at 15 or larger and it renders the glyphs correctly.  At first guess, it appears to be something with FreeType, but I'm still investigating.

[2015-12-10 13:38] KonajuGames commented on #4305
It is indeed a bug in FreeType.
https://github.com/Robmaister/SharpFont/issues/18
What they suggest in that port (making the dpi much larger) makes the glyphs bigger, and reducing the font size correspondingly doesn't always fix it, and the output size is not quite correct either.

[2015-12-10 18:16] Tzenchor commented on #4305
I don't think that is the problem.
I have downloaded the SharpFont project and modified the test project to show size 12 text and added the calibri font, and this is the result:
![shrapfontexample](https://cloud.githubusercontent.com/assets/11319966/11723958/60709cd6-9f71-11e5-8f21-916511bf8c1f.PNG)
Having a fast look at monogame code, it feels wrong or outdated. For example, when creating the fon

[2015-12-10 20:28] cra0zy commented on #4288
https://youtu.be/-jEqdZHXeII?t=11s

For standard templates you should not have "Windows" and "Linux" platforms, but you should have "WindowsDX" and "DesktopGL" platforms.

[2015-12-10 21:23] hach-que commented on #4288
Neither of those are platforms (WindowsDX is just Windows).  DesktopGL is just Linux with a different name.

To be honest, it might be better to have a drop-down for users when they're making the project to select what graphics API they want.  If they pick OpenGL, then this adds `--enable MonoGame.Framework/OpenGLGraphics` to the command line so that Windows uses OpenGL.  This also allows us to of

[2015-12-10 23:50] Tzenchor commented on #4305
I have been comparing both procedures and i have found that the SharpFont dll is outdated, the one in monogame is version 2.5.3.0 while the current one is 3.0.1.200.
So they are not equivalent, and i think the change will require the rewriting of  [SharpFontImporter.cs](https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework.Content.Pipeline/Graphics/Font/SharpFontImporter.cs) to make it

[2015-12-11 02:48] tomspilman commented on #4288
We don't want that or will ever support that.

You start with graphics, but then someone suggest doing the same with sounds... then with songs... then with video.  Now you have a testing nightmare where everything has to be tested in all combinations.

No thanks.

Not really.... because of course we still have 3 platforms and you still have to test 3 times.

It was more for end users that preferre

[2015-12-11 03:04] hach-que commented on #4288
To be honest I never understood the point of OpenGL on Windows.

Yeah but with Xamarin.Mac requiring different project types, at most you can only run Windows and Linux from the same MonoGame.Framework assembly.  And in practice you pretty much need different assemblies for these platforms to deal with Mono differences anyway (in your main game code or other third-party libraries).

If it was up t

[2015-12-11 03:10] tomspilman commented on #4288
I agree... but some people are religious about it.

But it also helps serve a purpose when generally you can develop OpenGL code on Windows and have it work on Linux/Mac.  In fact this was really the original reason why Windows OpenGL was setup.

Project types are irrelevant here.  People would be just using a MonoGame assembly.

That doesn't seem to be a problem so far.

That just won't happen...

[2015-12-11 03:17] hach-que commented on #4288
Yeah but it won't run on Mac any more, that's the point. AFAIK you need to be using the MacOS DLL to run the games on Mac.  So really it only lets you unify Windows/Linux.

In addition, it doesn't *really* let you do this because the OpenGL drivers are extremely different between Windows and Linux, and assuming that your shader code will work on one platform and port to another without issue isn't

[2015-12-11 07:22] h3ll5ur7er opened #4313 "Compile Shaders from Linux"
Would be nice to be able to compile shaders using a linux(ubuntu) os. By now compilation fails with the following message:

System.NotImplementedException: The method or operation is not implemented.
  at Microsoft.Xna.Framework.Content.Pipeline.Processors.EffectProcessor.Process (Microsoft.Xna.Framework.Content.Pipeline.Graphics.EffectContent input, Microsoft.Xna.Framework.Content.Pipeline.Conten

[2015-12-11 09:44] dellis1972 commented on #4288
@hach-que

This is incorrect. I regularly use the Linux dll to write stuff on MacOS. The other week I did a game jam which used the DesktopGL (aka Linux/WindowsGL) and it quite happily worked on Mac and Windows (and probably Linux too) with the same binary. All using the same code base. "DesktopGL" has a real world applications. Yes it might be nicer to user WindowsDX on Windows boxes, but for tho

[2015-12-11 09:46] dellis1972 commented on #4288
When DesktopGL is finally finished WindowsGL will die as well as Linux as they will be exactly the same at that point. In fact I think they are now.

[2015-12-11 11:42] hach-que commented on #4288
using to ship on Linux since asking people to install mono is usually a no
go for historical reasons (better to just not mention it :P)

I haven't looked at how mono Kickstarter works, but if you're
redistributing mono in any way that doesn't allow users to upgrade it (e.g.
You ship it in Steam), then you need to obtain a commercial license from
Xamarin

then neither is our Mac port at the moment

[2015-12-11 11:59] dellis1972 commented on #4288
It does always need to be a option (I wasn't saying otherwise), in the same way we don't want to force people to use DirectX on windows :) This is the hard part about this kind of project, we need to support allot of different use cases as everyone will want to work slightly differently :D

[2015-12-11 12:27] KonajuGames commented on #4305
The reason for the left shift of the values when passing them to SharpFont
is that FreeType expects the values in twips, of which there are 64 twips
to a point.  The left shift by 6 is multiplying the value by 64.
​
It's difficult to keep up to date with the several dependencies we have,
especially for the content pipeline.  If they changed it so the multiply by
64 is no longer required, it will c

[2015-12-11 12:37] cra0zy commented on #4288
Kickstarter is including mono libs in a folder so that people can upgrade them:
https://github.com/OutOfOrder/MonoKickstart/tree/master/precompiled/lib
https://github.com/OutOfOrder/MonoKickstart/tree/master/precompiled/lib64

And yes, that is allowed, you just must not bundle them inside something.

[2015-12-11 21:26] Tzenchor commented on #4296
Not sure if anyone is aware that i did the pull request a few days ago (i'm new to git and github) as #4304

[2015-12-12 01:03] lionelthomas opened #4314 "Windows GL gives Song not a wave file error."
This code works in Windows version:
 songs = new Dictionary<string, XSong>();
 for (int i = 0; i < soundManagerInit.songs.Count; i++)
 {
         XSong song = new XSong();
         song.InitXSong(soundManagerInit.songs[i]);
         song.Song = game.Content.Load<Song>(@"sounds\songs\" + song.FileName);
         songs.Add(soundManagerInit.songs[i].name, song);
  }
and song plays with
MediaPlayer.Pl

[2015-12-12 09:36] JustinKerbice opened #4315 "EffectParameter.Setvalue(int[]) not implemented"
The [method] (https://msdn.microsoft.com/en-us/library/bb198903%28v=xnagamestudio.40%29.aspx) from XNA 4.0 is not yet implemented in MonoGame.
(instead there  is thecommented block:
`/*
		public void SetValue (int[] value)
		{
			throw new NotImplementedException();
		}
        */` )

[2015-12-12 11:30] mrhelmut commented on #4314
Did you rebuilt your XNB content for WindowsGL ? GL projects use the OGG format (while WindowsDX use WMA), that may be why it fails.

[2015-12-12 15:14] lionelthomas commented on #4314
No, I tried Mp3 and WMA but not Ogg. What do I use to convert my files from Wma to Ogg?
Thanks.

[2015-12-12 16:33] lionelthomas commented on #4314
Found a program to convert wma to ogg. Tried 2 qualities and the pipeline hung on both with the following message:
startIndex cannot be larger than length of string
details:
See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.ArgumentOutOfRangeException: startIndex cannot be larger than le

[2015-12-12 18:13] cra0zy commented on #4288
So... @hach-que are you gonna add "DesktopGL" as platform?

[2015-12-13 00:55] mattleibow opened #4316 "[NuGet] Automatically adding the MonoGame project file elements"
Hi guys.

I was just wondering if a PR for adding the `<MonoGamePlatform>` and `<Import>` elements to the project files automatically is something that I could do? Each time I install MonoGame into a new project, I have to manually edit the files and add it. Not too hard, but very annoying. We can do this automatically without any strange scripts and things.

Basically, according to the [docs](htt

[2015-12-13 01:21] hach-que commented on #4288
I have the option in there for the Protobuild option, not for standard
projects yet.

I need some clarity from @tomspilman as to whether or not they want the
option included or not.

On Sun, Dec 13, 2015, 05:13 Harry <notifications@github.com> wrote:

[2015-12-13 06:01] hach-que commented on #4288
Actually, it turns out I did add the option to use OpenGL on Windows.  When you pick Standard Projects, you just choose the "As a NuGet Package (Use OpenGL on Windows)" option and it changes the reference from WindowsDX to DesktopGL.

[2015-12-13 06:03] hach-que commented on #4288
![image](https://cloud.githubusercontent.com/assets/504826/11765783/6ca462ca-a1bb-11e5-8bae-17b639e793d3.png)

[2015-12-13 17:24] halcyon1234 opened #4317 "Pipeline - UX - Add New Folder - Enter key"
Monogame 3.4
VS2010
MonoGame PipeLine

Click Edit -> Add -> New Folder
Type folder name
press ENTER

Expectation:  Same as clicking "OK" button

Actual result:  Enter key ignored

[2015-12-13 17:26] halcyon1234 opened #4318 "Pipeline - Deleting last item in folder deletes folder"
MonoGame 3.4
Visual Studio 2010
Windows 7

Go to pipeline
Add new folder
Add item to folder (any kind-- model, texture, whatever)
Later, delete the only item in that folder

Expectation:  Item deleted, with empty folder remaining

Actual:  Item is deleted, folder is deleted too.

(So now I have to recreate the folder to add another item to the folder)

[2015-12-13 17:34] cra0zy commented on #4288
I don't like that... DesktopGL should be a platform and if the user wants separate projects with DesktopGL they should just call the project creation wizard one more time.

MD addin is working: https://youtu.be/tDac48t-Uvc

[2015-12-13 21:59] cra0zy commented on #4288
And a few finishing touches: https://youtu.be/vMIixCxcGgQ

[2015-12-13 22:16] hach-que commented on #4288
I don't think getting people to run the wizard multiple times if they want
a Linux platform is the good idea. Like fine if you want desktopgl as a
platform entry (it only really affects Windows), but if you omit Linux
completely people will make the assessment that MonoGame doesn't support
Linux, because they won't make the connection DesktopGL == Linux (I know i
wouldn't, it's not obvious that th

[2015-12-13 23:04] cra0zy commented on #4288
I win :P https://youtu.be/WKBhWXWML-g

I'll make DesktopGL selected by default, that way people won't be able to miss it.

[2015-12-13 23:16] craftworkgames commented on #4018
I finally got around to taking a closer look at this and I've made some progress.

It turns out that [line 654](https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Game.cs#L654) of Game.cs is overwriting the Viewport property of the GraphicsDevice *after* the viewport has been set by the user.

I found this by creating 2 identical Game projects with one of them referencing the MonoGam

[2015-12-13 23:22] hach-que commented on #4288
This also does that, it's just more explicit about what platforms you want.

I still don't think it's good UX, but it's up to @tomspilman about what upstream wants to present to users the first time they go to create a MonoGame project.

I thought you were working on an MD addin that would launch the project creator executable.  If not, then I guess I'll have to implement my own addin (or just get

[2015-12-13 23:48] hach-que commented on #4288
I've started work on the MonoDevelop add-in for the project creator: https://github.com/hach-que/Protobuild.IDE.MonoDevelop/tree/monodevelop-5

[2015-12-14 14:28] cra0zy commented on #4288
Well yesterday I had finally had some free time and I decided that I wanted to work on my original idea for the addin, so I did.

As to will I work on your addin... duno... we have conflicts of interest and we both strive for our own perfections...

[2015-12-14 14:33] nkast commented on #4283
XNA Audio importer for reference
(tested by building an XNA content proj and loading with Monogame)

 | SampleRate | Chennels  | Compression
input | 48000Hz | 2Ch | .WAV
XNA/Best | 48000Hz | 2Ch | PCM
XNA/Medium | 44114Hz | 1Ch | MSADPCM
XNA/Low | 23891Hz | 2Ch | MSADPCM

 | SampleRate | Chennels  | Compression
input | 44100Hz | 1Ch
XNA/Best | 44100 | 1Ch | PCM
XNA/Medium | 44121Hz | 1Ch | MSADPCM

[2015-12-14 14:37] cra0zy commented on #3954
I have decided to work on this instead of trying to help with Protobuild.Manager project... to many conflicts of opinion.

What I have so far(mid video is MD addin): https://youtu.be/vMIixCxcGgQ

@dellis1972 Do you want to join me on this?

[2015-12-14 14:46] KonajuGames commented on #4283
Those are very odd results.  The number of channels should never change.  Standard sample rates are 48000, 44100, 22050, and 11025Hz.  It looks like it might be dropping the sample rate to the next lower level when dropping the Quality property.

[2015-12-14 15:57] #4221 closed

[2015-12-14 16:00] KonajuGames commented on #4315
PR #4268 is already present to implement that missing method.

[2015-12-14 16:00] #4315 closed

[2015-12-14 16:17] #4062 closed

[2015-12-14 16:27] #4289 closed

[2015-12-14 22:08] tomspilman commented on #4283
Yeah... from our tests from a few years ago it seemed all XNA did was drop the sample rate and change the format.

[2015-12-15 08:20] hach-que commented on #4288
So the MonoGame-branded Protobuild Manager is now wired up to MonoDevelop: https://youtu.be/CfbWwo4-uH8

[2015-12-15 08:30] cra0zy commented on #4288
Just FYI, check MonoDevelop TemplateWizard overrides for "ConfigureWizard" and "GetFinalPageControls", you may be able to override "Configure your new project" wizard.

[2015-12-15 09:20] hach-que commented on #4288
I tried that, but ConfigureWizard happens before project name entry, so you don't get a project name to prepopulate the real project configuration tool (and then MD asks you again for a project you already generated and does weird stuff afterwards).

[2015-12-15 10:49] KonajuGames commented on #4156
I think Dean's original issue might be a Mono on Linux codegen issue I discovered here.  Creating a new Rectangle with parameters from the calling function as the parameters to the Rectangle constructor resulted in the constructor's height parameter getting a garbage value.  Assigning the height parameter to a local variable and passing that local variable as the height to the Rectangle constructo

[2015-12-15 11:09] dellis1972 commented on #4156
@KonajuGames I'll re test this later this evening with the latest unstable and see if I can still replicate. if not i'll close this issue :)

[2015-12-15 11:15] dellis1972 commented on #4156
@KonajuGames still have the same issue :(

[2015-12-15 11:33] KonajuGames commented on #4156
In MonoGame.Framework.Content.Pipeline/Graphics/DxtBitmapContent.cs, try
changing line 60 from

    if (destinationRegion != new Rectangle(0, 0, Width, Height))

to

    var h = Height;    if (destinationRegion != new Rectangle(0, 0, Width, h))

​

[2015-12-15 11:36] #3164 closed

[2015-12-15 11:40] cra0zy commented on #4156
@KonajuGames Tested it on Linux, does not work :(

[2015-12-15 11:48] cra0zy commented on #4154
@dellis1972 @KonajuGames Can you add this to 3.5 milestone?

[2015-12-15 11:56] DDReaper commented on #3405
Looks like the Core split isn't going to make the 3.5 milestone as the Protobuild update has been removed from the 3.5 milestone.

[2015-12-15 12:00] DDReaper commented on #3944
Several plans have been made but keep getting delayed by other things happening.
The last plan was to get the Core split done first to reduce the bait and switch dependency (since a lot of the requirements for the PCL came from Frameworks just needing a subset of MG, which could be hosted in a true PCL)
Once it's ready, a fully automated PCL build can be generated and added to the project fully.

[2015-12-15 22:41] cra0zy opened #4322 "Some API for remapping Gamepad"
XNA never needed it since it only used Microsoft controllers, but it would make sense to setup a way for easy remapping of buttons/axes/dpad for Gamepad class.

@tomspilman @KonajuGames @dellis1972 What do you think?

[2015-12-16 01:38] tomspilman commented on #4322
IMO that is really something for your own engine or game code.

[2015-12-16 01:43] tomspilman commented on #4316
I assume this is just for when someone adds MonoGame to an existing project via NuGet correct?

@DDReaper @dellis1972 - You guys understand how this works?  Thoughts?

[2015-12-16 01:51] #4317 closed

[2015-12-16 02:13] tomspilman commented on #4318
@halcyon1234 - Do you mean the folder in the Pipeline tool tree view?  Or are you talking about a folder on disk?

@cra0zy - Thoughts?

[2015-12-16 09:46] DDReaper commented on #4316
I toyed with using .Targets and .Props early on with the NuGet development, however I dropped it as some platforms (you know which) didn't like them very much, so I dropped them.
Feel free to work up a new PR and add them to a test package but ensure you test them on all platforms.  Things have moved along so they work better now and it would be a good solution for blank projects.

Ideally though,

[2015-12-16 09:55] cra0zy commented on #4318
He is talking about treeview. Pipeline Tool doesn't have any actual deletion code.

I'll look into it a bit later today.

[2015-12-16 10:05] cra0zy commented on #4322
Since I didn't really explain what I meant, I am talking about something like: https://github.com/opentk/opentk/blob/develop/Source/OpenTK/Input/GamePadConfigurationDatabase.cs#L81, just making some way to load GamePad config that isn't platform specific.

[2015-12-16 10:10] tomspilman commented on #4322
I think i see.

This isn't a feature for remapping buttons on your Xbox gamepad because you like Jump on X and not Y or something.

This if for defining button mappings for uncommon controllers that otherwise would get some weird default mapping that make no sense.

While it can be abused to do gameplay remapping...  it still isn't meant for that.

[2015-12-16 10:51] dellis1972 commented on #4316
.targets should work now on Mac not sure about .props though.. The problem I have with .props is visibility. the current <MonoGamePlatform> settings are put in the first PropertyGroup and are quite visible to the user and easy to change. A .props file is hidden away in the nuget packages folder somewhere so its not quite as obvious..

A ps1 script would do the trick to insert the required stuff in

[2015-12-16 13:58] halcyon1234 commented on #4318
Yes, the Pipeline treeview.  In the screenshot, if I delete "robots.fbx", it will delete "Models" (or remove them from the treeview).

http://i.imgur.com/Wi8n7Sz.png

FYI: I just tested, and it is just from the treeview.  It doesn't remove it from the disk's file structure itself.

[2015-12-16 21:48] mattleibow opened #4325 "Support the MSBuild content pipeline .targets file on Mac"
I just want to check, is this supported yet? On Windows, the MonoGameSetup.exe adds all the bits into the Program Files. Including the .targets file. On Mac, the .pkg just has assemblies. Is there any reason for this? or am I going about it wrong?

[2015-12-16 22:17] mattleibow commented on #4325
Ah, I see this: #4152

[2015-12-16 22:22] mattleibow commented on #4316
I noticed in #4152 that there seems to be more stuff to add:
[code]

This is getting a bit much, as it is just the same. Technically, this isn't a real problem as we can always override the values in the .csproj. If the `<MonoGamePlatform>` element is in the .props, then it is overridable in the first section as well. This also prevents any breakages with updates and all.

[2015-12-16 22:36] #4325 closed

[2015-12-16 22:37] mattleibow commented on #4316
This works with #4152 and #3985

[2015-12-16 22:40] mattleibow commented on #3985
I would maybe create a separate package "MonoGame.Content.Pipeline.Build" or something. All the bits can go in there from the two installers

[2015-12-16 23:03] cra0zy commented on #4018
Isn't https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Windows/WinFormsGameWindow.cs#L391 causing the issue?

[2015-12-16 23:40] craftworkgames commented on #4018
@cra0zy That look promising. I can't see any reason why that `#if` should exist.

[2015-12-17 00:01] craftworkgames commented on #3985
@mattleibow Yeah I agree with you on that one.

I've been thinking about this a bit lately because we've experienced [a related issue with MonoGame.Extended](https://github.com/craftworkgames/Samples.Extended/issues/5).

The problem really boils down to using a different version of the Pipeline tool compared to the version of MonoGame referenced in your project. In this case referencing 3.4 and us

[2015-12-17 00:03] nkast commented on #4186
I can duplicate this on Win8.1. Just add some spaces (more than one or two) in the middle of any .mgcb file and double click on it. A "mycontent - Copy.mgcb" will do too.
 When opening from the menu there is no problem.

Then i changed the open commnand in the registry from
C:\Program Files (x86)\MSBuild\MonoGame\v3.0\Tools\Pipeline.exe %1
to:
C:\Program Files (x86)\MSBuild\MonoGame\v3.0\Tools\Pip

[2015-12-17 00:11] tomspilman commented on #4186
@nkast - That seems like a good additional fix to a sort of similar issue.

[2015-12-17 08:55] #4318 closed

[2015-12-17 10:03] trommlbomml commented on #3985
@mattleibow I agree with that. it also seems a windows (and linux?) only problem as I can install the pipeline tool or mac separately from the monogame on the website.

[2015-12-17 10:55] dellis1972 commented on #4316
@mattleibow the issue we have is this..

Nuget packages can add those properties via .props etc which is great.
Our templates in VS DONT use Nuget packages they use the locally installed assemblies, so we need to have those properties in the main .csproj or have multiple .props files for each platform installed along side the assemblies. If just feels kinda messy.

One solution would be to have th

[2015-12-17 10:55] cra0zy commented on #4314
That's partially correct, WindowsGL in develop version of MG uses OGG, while the stable version uses WAV.

Use Pipeline Tool, don't convert manually: http://www.monogame.net/documentation/?page=Using_The_Pipeline_Tool

Set platform to WindowsGL in pipeline tool, add your song(format does not matter, it will convert it to correct format for you), make sure that the song is added as "Song Processor"

[2015-12-17 10:59] cra0zy commented on #4313
2mgfx tool is not implemented for non Windows platforms yet.

This is a duplicate of: #2167 and #3270

[2015-12-17 13:27] DDReaper commented on #4316
Well, you know my feelings @dellis1972 , I'd prefer one delivery solution, which dramatically eases the adoption.  With WindowsUniversal and .NET going all in with NuGet it would make sense.
I also like ProtoBuild's packaging process, although that has wider implications within the project.

If we could cache the NuGet's with the templates, it would ease the offline process but alas that is agains

[2015-12-17 13:28] ChlorideCull opened #4329 ""OpenAL drivers could not be found" on Windows 10"
It seems the installer fails to run - any attempts to play sound gives the aforementioned exception. It got fixed after I ran the OpenAL installer from openal.org, so I believe the bundled version might fail to run.

[2015-12-17 16:08] energyuser commented on #4186
@nkast So has this been merged into master? Or you changed your own PC's registry? And if so which key exactly?

[2015-12-17 17:28] mattleibow commented on #3985
@craftworkgames If we add a .targets file to the build/ folder, then it will automatically be managed by NuGet and add it to the project file. No actual work is needed on our side. I am busy testing things here and will see if I can get a PR that does this all.

[2015-12-17 17:29] mattleibow commented on #3985
@trommlbomml We can let the user know that it is either or. If we use the NuGet, then it will use the NuGet. If they want to use the main install, then they will have to do the work manually. It should be no problem as the one is in the packages/ folder and the other is somewhere else.

[2015-12-17 19:42] nkast commented on #4186
I just posted the PR, we will see.
For now you can test the resulting executable and provide feedback if it works for you.
Run the MonoGameSetup.exe from buildserver http://teamcity.monogame.net/viewLog.html?buildId=12581&buildTypeId=MonoGame_DevelopWin&tab=artifacts#!ossgocr

If you wish to go back to official current release 3.4 or a more recent develop release from
http://www.monogame.net/downl

[2015-12-17 19:51] mattleibow commented on #3985
I created a PR to show the current working: #4332

[2015-12-17 20:05] #4186 closed

[2015-12-17 20:33] tomspilman commented on #4186
The fix is now merged.

[2015-12-17 20:40] nkast commented on #4186
@simoneddeland You will soon be able to find the updated \develop installer at  http://www.monogame.net/downloads/
Thanks Tom.

[2015-12-17 20:53] tomspilman opened #4333 "MaterialProcessor Unit Test"
It would be really good to get a unit test for `MaterialProcessor` place sort of like we have for the `TextureProcessor`:

https://github.com/mono/MonoGame/blob/develop/Test/ContentPipeline/TextureProcessorTests.cs

This could have caught a bug like https://github.com/mono/MonoGame/pull/4324 sooner.

[2015-12-17 21:17] simoneddeland commented on #4186
@nkast  I'll try that once it's available, thanks!

[2015-12-17 21:20] tomspilman opened #4335 "Adding A .gitattributes File"
Should we add a .gitattributes file to the project?

https://help.github.com/articles/dealing-with-line-endings/#per-repository-settings

Looks like it could help with line endings differences?

[2015-12-17 21:47] tanis2000 commented on #3947
This is happening to me as well. I tried with a fairly recent Pipeline Tool of the 3.5.xxx branch that I downloaded a few weeks ago but it shows the same error. Running as root doesn't help. I'd like to help debugging the issue but the latest develop branch is no longer compiling on my Mac as it requires a Xamarin.Mac license that I do not own. Any other way I can help you guys debug this problem?

[2015-12-18 03:22] lionelthomas commented on #4314
Thank you for the information.
I did as you said, but the pipeline created an xnb file and copied over the wma file. No ogg/wav file was created.
When it tried to load, it gave the error that this was not a wav file.
Don't know where to go from here. This all works in Windows version.

[2015-12-18 03:23] Ark-kun commented on #3944
I guess, you're talking about the *remove-external-types-usage* command.
There are many surprising ways a class can be tangled to some external type.
If you still have any repros, i'd like a bug report. I see a need to update the last commit date =)

BTW, you can look at the trace by redirecting it to console. (See http://stackoverflow.com/questions/198322/redirect-trace-output-to-console)

[2015-12-18 09:14] cra0zy commented on #4314
You did not set the platform of Pipeline Tool to WindowsGL...

[2015-12-18 11:02] #4275 closed

[2015-12-18 11:09] DDReaper commented on #3405
Right #4282 has been merged now, so the .Core project should now work.
Then I can get the PCL package done with the platform only bits.  Tick tock.

[2015-12-18 11:35] simoneddeland commented on #4186
@nkast @tomspilman The fix solved the problem I had as well, no more "CONTEN~1"

[2015-12-18 12:56] mrhelmut commented on #4148
I've tentatively submitted a PR (#4337). Since I'm not very confident in using DXGI, this PR is mainly there to open the discussion regarding how this should be fixed.

[2015-12-18 13:19] hach-que commented on #4278
If you build MonoGame from source using `master`, you should now be able to build for Xamarin.Mac.

[2015-12-18 13:20] lionelthomas commented on #4314
Here are the settings:
Build Action Build
Importer Wma Importer - MonoGame
Processor Song - MonoGame

Platform WindowsGL

Error message on load:
Additional information: Specified stream is not a wave file.

Pipeline copied over wma file and created an xnb file

What did I do wrong?
Regards.

[2015-12-18 16:27] cra0zy commented on #4314
You should have gotten either a wav or an ogg file, you didn't set the platform of the Pipeline Tool to WindowsGL.

When the Pipeline Tool is open, click on the first tree node, look at Properties you will find "Platform", and set it to "WindowsGL".

[2015-12-18 16:59] hach-que commented on #4316
This might be relevant, with #4295 you can just create an `AdditionalProjectTransforms.xslt` for the NuGet project overlay.  This XSLT file would contain the additional MSBuild XML that's required for each platform, and obviously because it's XSLT you can switch out what project XML gets written out based on the host platform.  This XSLT is used when generating the projects, but all of the Protobu

[2015-12-18 20:20] lionelthomas commented on #4314
I have checked several times and I have the Platform set to WindowsGL. I am using MonoGame Pipeline version 3.4.0.456. Is there a later version that might work?

[2015-12-18 20:21] tomspilman commented on #4278
Actually I think @hach-que means the `develop` branch here.  The `master` branch is the 3.4 release and doesn't have the latest development fixes yet.

[2015-12-18 20:25] hach-que commented on #4278
Yes my bad, I mean `develop`.

[2015-12-18 21:41] DDReaper commented on #3405
now that the Protobuild updates are merged, reverified new .Core project PCL configuration, separating non-platform specific code in to a separate PCL lib (except Linux).
PR #4339 submitted.
Although, I think I may have left my original PSM flags in, so will revist and check if needed to remove those (won't affect build since PSM was removed as a build target)

[2015-12-19 18:22] DDReaper opened #4340 "Concensus? Should we drop the WindowsPhone8 project?"
Supporting the old WindowsPhone8 project is such a pain with it's reliance on the old XNA libraries (as I'm reminded yet again when doing a global update)

As MS don't readily support the building of these now in favour of 8.1 projects only or Win 10, should we drop this platform for the next release?

I think the same has also been said about dropping Win8 in favour of updating that platform to W

[2015-12-19 23:30] KakCAT commented on #4340
I'm still using WP8 because I never moved to WP8.1  (I think it's been always broken and gives tons of problems compared to WP8), and I still have lots of users (actually most) on WP8.

However WP8 version, as it is now, imho is mature and needs no updates, so I see no reason why I couldn't keep using today's version during the next years.

[2015-12-20 00:53] nkast commented on #4340
Same here. Never moved to WP8.1 and I don't think anyone did because of the bugs and not much attention was given to iron out since Win10 was anounced. On the other hand WP8.0 is very stable I  still have projects on WP8.0. Actually I still wait for an important fix for it (#3725) and I hope to make it in 3.5.
In my opinion it's very soon to drop WP8, the update to win10 mobile is not even release

[2015-12-20 12:27] cra0zy commented on #4288
I looked into websharp with Gtk 3, turns out it would require manual compilation of it :(

[2015-12-20 13:21] hach-que commented on #4288
Yeah, just use GTK 2 because that's what Mono bundles out of the box.

On Sun, Dec 20, 2015, 23:27 Harry <notifications@github.com> wrote:

[2015-12-20 14:04] Tzenchor commented on #4305
Definitely there is something wrong with freetype. Updating Sharpfont and by extension freetype does not solve anything, and the "solution" of increasing the dpi works but generates oversized bitmaps.
The problem is that the bitmaps created have 1 bpp instead of 8 bpp

[2015-12-20 14:50] hach-que opened #4342 "Allow ContentImporters to accept streams in addition to filenames"
In Protogame, I have a custom asset management system which works differently to the way MonoGame models it's content.  However, I still use the internal content pipeline to process assets from their raw formats to the platform-specific binary data.

The issue I'm having is that the content importers accept a filename instead of a stream or byte array.  This means that I'm either forced to copy th

[2015-12-20 15:08] DDReaper commented on #4288
Must say it's fantastic reading the write up on this proposal, very similar to the Project Wizard for Marmalade.
Would also be good to use as an option outside of the code editor (similar to the fist screenshot, ala Unity). So you can manage your list of MonoGame projects outside of the editor and then launch the editor from the manager.
Having the in editor wizard option (similar to the new ASP.N

[2015-12-20 16:20] hach-que commented on #4288
@DDReaper I should have a test version in the next few days, I just need to get VSIX extension bundled correctly into the Windows installer and then you'll be able to download the setup from build artifacts of https://github.com/mono/MonoGame/pull/4295.

[2015-12-20 16:31] cra0zy commented on #4288
@hach-que I just remembered something, #3748, so could your tool be setup to maybe load a specific webpage(and preferably to have a local copy of it like MD/XS does it)?

[2015-12-20 16:47] cra0zy commented on #4288
@hach-que One more thing, what do you think on the following idea, offer platforms:
 - Windows
 - Linux
 - Mac
 - DesktopGL

This way:
1) You will be happy because there are Windows, Linux, Mac platforms that are separate
2) I will be happy because there is DesktopGL platform
3) Linux users can't get confused since there is a Linux platform
4) WindowsGL users may get confused for a moment to reali

[2015-12-20 17:29] DDReaper commented on #4288
Could even be more confusing as there are many types of "desktop" :P (Windows, Linux, Android and MacOS)
I'd simply prefer WindowsDX and WindowsGL as we have now.
So having:
* WindowsDX
* WindowsGL
* Windows 8/8.1
* Windows Phone 8/8.1
* Windows Universal
* Linux
* Mac
* iOS
* Android
* Ouya (does anyone still build on this?)
* TVOS

[2015-12-20 17:38] dellis1972 commented on #4288
This issue with WindowsGL is is doesn't reflect the cross platform nature of the "desktopgl" platform which will work on mac,Linux and windows with one binary.

-----Original Message-----
From: "Simon (Darkside) Jackson" <notifications@github.com>
Sent: ‎20/‎12/‎2015 17:29
To: "mono/MonoGame" <MonoGame@noreply.github.com>
Cc: "Dean Ellis" <dellis1972@googlemail.com>
Subject: Re: [MonoGame] [Mainte

[2015-12-20 17:59] cra0zy commented on #4288
@DDReaper Plans are to drop WindowsGL and Linux, and replace them with DesktopGL, which will work on all Desktop platforms.

Currently Linux and WindowsGL assemblies are the exact same.

Content Pipeline has already been updated and made WindowsGL and Linux obsolete:
https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework.Content.Pipeline/TargetPlatform.cs#L94

Templates will get updated

[2015-12-20 22:48] DDReaper commented on #4288
Ok, understand the reason behind the GL naming then and it does make sense.  I think with good education we can get the masses to accept that.
Given protobuild though, leaving Linux and DesktopGL separate as deployable will be fine.  We can just put training examples together to show best practice and possible just use DesktopGL if they are identical. (or offer a way for people to bridge their own

[2015-12-21 02:27] hach-que commented on #4288
@cra0zy I didn't have any opposition to making WindowsGL and Linux use the same set of code, I just didn't want `Protobuild.exe --generate Linux` to break.

[2015-12-21 02:30] hach-que commented on #4288
Originally I was going to put some sort of news feed into the launcher, but Recent Projects ended up taking all the space (and felt more correct for this kind of usage).  Right now I want to focus on getting this to meet the requirements of upstream, since I'm juggling this PR + the changes for NDA platforms + a whole bunch of other projects, so I need to get exactly the minimum done and then I ca

[2015-12-21 03:17] MichaelDePiazzi opened #4344 "Game.Window.ClientBounds returns incorrect location"
When using XNA, `Game.Window.ClientBounds` returns the desktop location of the upper-left corner of the client area (i.e. the internal area of a window which doesn't include window borders, title bar, etc).

But in the Windows and WindowsGL builds, MonoGame is currently always returning (0, 0). There are likely more builds also affected (very likely Linux, maybe others).

I have a fix for the Wind

[2015-12-21 04:06] cra0zy commented on #4288
@hach-que What do you think on the platforms thing I suggested above?

[2015-12-21 04:29] hach-que commented on #4288
Yeah, I'm just going to add DesktopGL to the list of platforms when using the MonoGame templates.

[2015-12-21 04:44] Danthekilla commented on #4340
Yes I think we should drop it. Very few phones are running windows phone 8 anymore. And it is a relative pain to support. I also agree with dropping windows 8.0 support for similar reasons, and the fact that we are forced to re-target on new projects now.

Anyone who is still working on windows 8.0 or phone 8.0 projects should have no issues using the current version for the future.

[2015-12-21 04:54] hach-que commented on #3515
My plan is to return to this in the near future, but for the moment I'm focused on getting #4295 finished and merged first.

[2015-12-21 12:15] tomspilman commented on #4340
I agree with @nkast suggests is a good idea.  We should wait for Win10 for phone to actually ship which should be early next year.

[2015-12-21 12:23] tomspilman commented on #4344
Are we 100% certain of this?  Was it tested under fullscreen and windowed modes?

[2015-12-21 12:27] tomspilman commented on #3515
It would help console development tremendously to get this done first.  I can't say when we'll be ready to merge #4295, but these features were needed months ago.

[2015-12-21 12:33] hach-que commented on #3515
Yes I know, but I can't put any more things on my plate at the moment because I'm so overloaded with project work, and since I'll be going back to full-time work on January 6th it puts even more pressure on things.  I need to get things done and cleared off my to do list before I start trying to do more things in parallel.

[2015-12-21 12:36] MichaelDePiazzi commented on #4344
Yes, I confirmed this behaviour in XNA for both fullscreen and windowed modes. It's only really windowed mode that is the problem in MonoGame. In fullscreen mode, the desktop location of the client area is typically (0, 0) anyway.

[2015-12-21 12:42] tomspilman commented on #4344
Not always...  multi-monitor systems are different in that regard which is why I asked.

[2015-12-21 12:53] tomspilman commented on #3515
I guess I will have to maintain a hacked together system for longer while we wait for Protobuild.

[2015-12-21 12:53] MichaelDePiazzi commented on #4344
Yes, true. So typically in fullscreen mode the desktop location is (0, 0) for the primary monitor is what I meant. In a multi-monitor setup, XNA returns the appropriate desktop location depending on the monitor it's on. e.g. (-1920, 0) for the monitor left of the primary. My PR for Windows DirectX replicates this same behaviour.

[2015-12-21 15:19] mrhelmut opened #4346 "[DesktopGL] Playing a Song fails upon second play on OSX"
Hello,

I'm trying to port our game to DesktopGL and so far it works well on Windows & Linux but crashes on OS X when ```MediaPlayer.Play()``` is called a second time (with a different ```Song```) with the following stack trace (and the exact same build / files):

[code]

[2015-12-21 15:54] mrhelmut commented on #4329
I can confirm that it also fails on Windows 8.1. Despite checking OpenAL in the installer (develop branch), everything seems normal but it isn't installed.

[2015-12-21 18:48] cra0zy commented on #4154
@nkast Do you by any chance have an idea on how we can fix this?

[2015-12-21 19:49] Tzenchor commented on #4335
If this comes from the problem i had in pull request #4334 , the culprit was Visual Studio. It seems that making a commit from inside Visual Studio 2015 ignores core.autocrlf at system and repository levels, once it is set to true at global level it works.

[2015-12-21 23:29] nkast commented on #4154
What's the story behind this? Do we keep WindowsGL & Linux for desirialization or something?

Do we want to hide the old values or to keep show them? I tried some attributes (Displayname, editorbrowsable,etc) but nothing works. This probably need a Typeconverter.

[2015-12-21 23:34] nkast commented on #4154
Wouldn't be better to remove the duplicate values and handle deserialization of older files or that would be extra work? Is this enum used on anything other than .mgcb files;

[2015-12-21 23:55] cra0zy commented on #4154
It doesn't matter if WindowsGL/Linux are visible there, the only thing that matters is that DesktopGL is visible.

They are just used for .mgcb from what I could tell. Also I am fine with what you have suggested.

PS. The best part about this bug is that it doesn't occur on Linux/Mono Windows Forms...

[2015-12-22 00:00] tomspilman commented on #4335
Oh... interesting.  Good to know that VS2015 is causing this sort of bug.

[2015-12-22 00:06] tomspilman commented on #4346
@dellis1972 @cra0zy  ?

[2015-12-22 00:32] craftworkgames commented on #3985
Looks great.

[2015-12-22 00:33] tomspilman commented on #4329
Could be we just need to update to a newer version of the OpenAL installer that deals with changes in the new OSs.  I don't think we've changed that installer for 4 or 5 years now.

[2015-12-22 02:00] nkast commented on #4154
The problem is with `SortedEnumTypeConverter`
https://github.com/mono/MonoGame/blob/0b25f56e861fb602db884c40267b99ea947bae15/Tools/Pipeline/Windows/PipelineProjectProxy.cs#L57

Apart from that, I think we should drop obsolete values from `TargetPlatform and add a `TargetPlatformTypeConverter` to deserialize older files.

[2015-12-22 03:22] nkast commented on #4154
I made the two obsolete platforms hidden and moved DesktopGL last.

Everybody seems to agree that `Enum.GetName()` always return the last Field name but officially the documentation says that we shouldn't expect consisted results. Officially this is unfixable!
It makes sense since they all have the same value, it's impossible to determine which is which at runtime.

I suggest to leave this open or

[2015-12-22 04:28] nkast commented on #4154
A better fix (#4350)

[2015-12-22 04:43] KonajuGames commented on #4329
I don't think there is a new version of the installer. Creative Labs
stopped distributing it several years back.  OpenAL Soft is a recommended
drop in replacement that doesn't need installation. It's just a DLL to use.

[2015-12-22 05:10] tomspilman commented on #4329
Yeah... There is really zero benifit to hardware accelerated sound on desktops.  I wouldn't have a problem with moving desktop builds towards a software OpenAL implementation.

[2015-12-22 05:20] hach-que opened #4351 "Figure out what to do about Xamarin.Mac on the build server"
Just creating an issue here based on discussion with @tomspilman in #4343.  Basically there was an issue where someone changed something and it broke the Xamarin.Mac implementation but not the MonoMac implementation.  Right now, the MonoGame build server doesn't have the latest version of Xamarin Mac installed.

I think the path forward looks something like this:
- Get an open source license of Xa

[2015-12-22 08:02] mrhelmut commented on #4329
Yes, the latest OpenAL Soft pre-compiled DLL works just great and its license allows to ship it with a game.

[2015-12-22 11:38] tomspilman commented on #4351
Idea... isn't this sort of similar to the issue of building solutions/projects for different versions of Visual Studio?

So maybe this is a general way to override what the target development tool?

This could allow someone to force generation of VS2010 projects if needed or force generation for Xamarin.Mac?

[2015-12-22 11:40] tomspilman commented on #4329
So could we maybe include the software OpenAL dll as part of the Desktop template projects?  This way it is just there and should work without any need to install any OpenAL stuff.

[2015-12-22 11:52] KonajuGames commented on #4329
That would work well, just like any other binary dependency we use.​

[2015-12-22 12:12] Tzenchor commented on #4335
Further testing has found that gitattributes will solve visual studio problem.
Also i have read that Jgit (eclipse plugin) is in works to add this functionality, and that the plugin for teamcity (egit?) does not support it. note that i don't know this firsthand and where i read this was very old

[2015-12-22 12:29] GrafSeismo opened #4353 "Microsoft.Xna.Framework.Content.Pipeline not working under Windows 10 UWP"
Just tried to install current (dev) package into a new universal windows 10 Update 1 project to get a custom content processor to work but do not find a pipeline dll ready for UWP. May the current Update 1 of Visual Studio did also scrumbled current UWP nuget package. When i create a new project i get a message that i have to update the project by creating a new project and copy source / assets  /

[2015-12-22 12:55] hach-que commented on #4351
Yeah there seems like a bunch of cross-over here, although it is slightly different (targeting different IDEs instead of different APIs) so I'll have to have a think about the best way to approach it.

[2015-12-22 15:26] mrhelmut opened #4354 "[DesktopGL] GraphicsDevice.Viewport not initialized before Game.Initialize()"
Hello,

I've noticed a discrepancy between Windows and DesktopGL platforms regarding ```GraphicsDevice.Viewport``` initialization.

On Windows, the ```GraphicsDevice.Viewport``` is initialized by ```GraphicsDeviceManager.ApplyChanges()```, but on DesktopGL, ```GraphicsDeviceManager.ApplyChanges()``` doesn't initialize it.
It seems to be only initialized upon ```Game.Initialize()``` (base class).

[2015-12-22 16:36] nkast commented on #4353
did you install the 10240 SDK?
VS2015.1 comes with 10586 SDK , 10240 is optional.

[2015-12-22 18:49] mcastrillo opened #4355 "iOS issue with texture parameters in pixel shader"
hello,

I'm trying to get working a pixel shader that works perfectly in windows phone, windows (directx), windows 8 and android, but on iOS seems to be some kind of mistake when I pass a texture as parameter on ios, does not throw any error at runtime, simply it don't get the texture. I also tried with the last sources of monogame from github.

my pixel shader:

[code]

on my Draw method...

[cod

[2015-12-22 23:01] Tzenchor commented on #4305
Eureka!!, i have found the problem.
For font sizes below 15 pixels the glyphs get rendered in 1bpp bitmaps instead of 8bpp ones as stated in sharpfont documentation.
I have a fix ready that gives this result
![update](https://cloud.githubusercontent.com/assets/11319966/11967682/1ee50700-a905-11e5-9101-fdb128dafa73.PNG)
I know that there are still wrong, but it is an easy fix

[2015-12-22 23:57] Tzenchor commented on #4305
Fixed, after commenting the code tomorrow i'll do the pull request. As proof:
![update2](https://cloud.githubusercontent.com/assets/11319966/11968736/bec4c04e-a90f-11e5-9e6c-24a2bdde66dd.PNG)

[2015-12-23 00:03] KonajuGames commented on #4305
Interesting. I'm keen to see the fix.

[2015-12-23 00:10] MichaelDePiazzi commented on #4344
@cra0zy Did you have any luck figuring out how to do this in WinGL/Linux?

[2015-12-23 00:46] cra0zy commented on #4344
I have it set up for window mode locally, I'll setup fullscreen tomorrow(it's 2 in the morning right now in my timezone).

[2015-12-23 01:15] mcastrillo commented on #4355
ups!... finally I found the problem, sorry for the inconvenience: seems that textures on iOS have to be power of two to work as parameters on shaders. Hope it may help and save time to someone trying to find the solution...

[2015-12-23 07:01] GrafSeismo commented on #4353
it is Windows SDK 10.0.10586.15 installed

[2015-12-23 08:12] nkast commented on #4353
What is the exact message? and what did you mean by you can't find a dll ready for UWP?
My guess is that the MG templates create a 10240 project and you have to either run VS2015.1 installer again to install 10240, or change the project to 10586.

[2015-12-23 09:20] GrafSeismo commented on #4353
10586 comes with Update 1, i do not downgrade a legal update. I tried to upgrade sources but dependend files are mostly do not support .NETcore which seems to be the standard for UWP apps now. So i tried the newest "Development" build and could install the pipeline now.

[2015-12-23 09:20] #4353 closed

[2015-12-23 10:25] GrafSeismo opened #4356 "New custom pipeline project failed after first build"
I test the current development build of MG 3.5.x use Windows 10 with VS 2015.1 and its current SDK 10.0.10586.15.

1>C:\Program Files (x86)\MSBuild\14.0\bin\Microsoft.Common.CurrentVersion.targets(1819,5): warning MSB3274: The primary reference "MonoGame.Framework" could not be resolved because it was built against the ".NETFramework,Version=v4.5" framework. This is a higher version than the curre

[2015-12-23 14:54] cra0zy commented on #4344
I had a PR that needed rebasing and was fixing some other stuff on OpenTK side so I added a commit there.

[2015-12-23 23:52] Tzenchor commented on #4356
I had a similar problem the first time i tried to upgrade a XNA project to MonoGame.
To create a library for MonoGame, use the game project and change its output type to library

[2015-12-24 00:58] MichaelDePiazzi commented on #4344
Thanks @cra0zy! I'm not sure how I missed that the INativeWindow interface also had a PointToScreen method... d'oh! :) I'll try give your change a test later.

[2015-12-24 07:15] GrafSeismo commented on #4356
Well a component pipeline is not a library at all...

[2015-12-24 08:40] tomspilman commented on #4356
When you say "New custom pipeline project" do you mean you created a MonoGame Content Pipeline Extension Project from a VS template?

The pipeline extension should just be a plan Windows C# library project.  It could be that the existing template doesn't work out of the box on VS 2015.

@mattiascibien - Do you have some time to investigate?

[2015-12-24 10:59] mrhelmut commented on #4346
I've narrowed this problem a bit more by adding ```ALHelper.Check()``` after every AL command, and the error seems to appear here:

[code]

Note that I load/unload ```Song``` on demand. Before loading & playing the next ```Song```, I call ```MediaPlayer.Stop()``` and ```Content.Unload()```. The error is occurring while clearing the previous queue (which has been stopped and disposed) on ```var sta

[2015-12-24 14:43] GrafSeismo commented on #4356
yes, exact that.

[2015-12-24 16:45] Vodacek opened #4360 "MonoGame Pipeline on windows 10 missing library"
I have latest MonoGame from source and also the latest Windows 10 (will all updates installed), I am getting this exception when I try to build FBX model:

C:/Users/admin/Desktop/programy/devkniha/zvb23/zvb2/Rabaty/RabatyContent/zvb2/sklepeni/sklepeni_chodba005p_Low.fbx: error: Importer 'FbxImporter' had unexpected failure!
Assimp.AssimpException: Error loading unmanaged library from path: Assimp6

[2015-12-24 17:47] KonajuGames commented on #4360
32-bit or 64-bit Windows 10? Our content pipeline is built for 64-bit
Windows.

[2015-12-24 18:32] Vodacek commented on #4360
I have 64 bit Windows 10 1511 build 10586.36

[2015-12-26 18:06] Vodacek commented on #4360
@KonajuGames I forget to mention that this issue occoured when I installed new Windows 10 build...

[2015-12-29 03:33] MichaelDePiazzi commented on #4344
FYI - This issue is resolved by PRs #4345 and #4216, and can be closed once they are both merged.

[2015-12-29 04:47] hach-que commented on #4288
#4295 is now ready for merging, with the installer wiring up the project creation tool for Windows.  I want to get this merged in before I remove the old templates or wire it up for Linux or Mac.

If you want to try out the new project creation tool, you can download the installer for Windows here: http://teamcity.monogame.net/repository/download/MonoGame_DevelopWin/12951:id/Windows/MonoGameSetup.

[2015-12-29 11:53] KakCAT opened #4365 "Version number on MonoGame installer ?"
Hi,

all MonoGame installers share the same name, MonoGameSetup.exe . I don't know if this is this way on purpose, or just very difficult to get/maintain, but It would be great if the installer (at least for development builds) would include some kind of version in its name.

[2015-12-29 13:09] cra0zy commented on #4365
Right click > Properties should give you the version of the installer.

Alternatively just running it will give you it's version on the first screen.

[2015-12-29 13:13] cra0zy commented on #4288
Whenever you are posting links from monogame teamcity server always add ?guest=1 at the end so that it doesn't ask you to login. ie. http://teamcity.monogame.net/repository/download/MonoGame_DevelopWin/12951:id/Windows/MonoGameSetup.exe?guest=1

[2015-12-29 14:24] KakCAT commented on #4365
Hi cra0zy

thanks, I'll rename the files accordingly when downloading them.

[2015-12-29 14:24] #4365 closed

[2015-12-29 14:53] tomspilman commented on #4365
I also would prefer if the installer would include the version number in the filename, but it is surprisingly difficult to do that.  The most complex issue being having the website download link update to point to the new file name on each build.

[2015-12-29 14:57] cra0zy commented on #4365
You know, on Linux I actually get to see the version of .dll and .exe files in the thumbnail :)

![mgversion](https://cloud.githubusercontent.com/assets/6773302/12036274/b3925d78-ae44-11e5-8b53-d335236aac38.png)

[2015-12-29 15:39] KakCAT commented on #4365
thanks @tomspilman , that's what I meant. If the process was easy it'd be a lot better having a version, but being difficult it's best for users like me to just rename it.

Another question... how can I access to old development build installers?

Right now I'm having a problem with an UWP project with VS2015 recently updated to update 1 which freezes, and I'd like to discard monogame checking an

[2015-12-29 15:57] cra0zy commented on #4365
Yes and No.

For Linux .exe isn"t a runable extension, to run Windows software on Linux you have to install Wine(or mono if it't .NET exe).

With wine you also get .exe thumbnailer by default on Ubuntu. Fedora doesn"t have this package.

[2015-12-29 16:14] tomspilman commented on #4365
You can get them from the TeamCity build history:

http://teamcity.monogame.net/viewType.html?buildTypeId=MonoGame_DevelopWin&tab=buildTypeHistoryList&branch_MonoGame=__all_branches__&guest=1

The oldest we currently have is from July of this year.

[2015-12-30 02:29] nkast commented on #4271
Actually MGCB outputs the filename.
The exception message has no newline and the the filename is appended at the end of the prev line.

[2015-12-30 06:28] tomspilman commented on #4271
Thanks @nkast !

[2015-12-30 06:28] #4271 closed

[2015-12-30 10:03] mattiascibien commented on #4356
@tomspilman At the moment I am away from my dev machine but I Will surely do that.

[2015-12-30 10:09] mattiascibien commented on #4356
As a quick fix you can try to change the MonoGame reference to the one targeting .NET 4.0. Unfortunately I do not have MonoGame installed in my tablet. As soon as I get some time (maybe this afternoon GMT+1) I will try to find the correct reference. @tomspilman did I add the wrong ref when doing the PR?

[2015-12-30 10:14] mattiascibien commented on #4356
@GrafSeismo are you doing a UWP project? As A quick fix you can try to upgrade your project to use .NET 4.5 instead of 4.0. I think that the ContentImporter project should not include the MonoGame UWP but the Windows dedkstop one as that project is a DLL that will be loaded from MGCB (which is built with MonoGame desktop).

[2015-12-30 14:01] GrafSeismo commented on #4356
i created a new MonoGame content pipeline extension project from a VS template using VS 2015 update 1 cummunity version.
It seems .NET 4.x is not an option anymore when using .NET Core as new standard since update 1 for universal windows applications. To include a custom pipeline you need to have the dll UWP/UAP/.NETCore ready. There are major differencies between .NET 4.x and .NET Core (For e.g.

[2015-12-30 16:27] mattiascibien commented on #4356
Are you adding the content pipeline extension project to your game project?

If this is your case you should not do this and instead add your compiled dll to the references of the monogame content file (the one you edit with Pipeline.exe).

[2015-12-30 16:36] mattiascibien commented on #4214
You should use the Windows 10 UWP settings if I recall well. You can set the minimum size from there. Do not remember where ATM.

[2015-12-30 20:16] GrafSeismo commented on #4356
yes indeed, i have a runtime and a pipeline dll. The runtime dll is the base of pipeline and offers the basic API. In the game project i need the runtime dll for the specific datatypes. I am not able to mix .NET 4.x with .NET Core. I can not reference a .NET 4.x Framwork dll to an UAP/.NET Core project.

[2015-12-30 20:26] mattiascibien commented on #4356
Unfortunately I think it is not possible to mix code between UAP and Desktop as Pipeline.exe is a Desktop app and therefore cannot load a .NET core dll @tomspilman am I right?

[2015-12-30 21:54] GrafSeismo commented on #4356
Maybe this enlighten a bit: http://blogs.msdn.com/b/dotnet/archive/2014/12/04/introducing-net-core.aspx

[2015-12-30 22:46] mattiascibien commented on #4356
@GrafSeismo let's hear from the devs what they think.

[2015-12-30 22:51] mattiascibien commented on #4356
@GrafSeismo as a quick fix can you make your base Runtime dll a Portable Class Libraries so it can be referenced by .NET 4.0 and .NET Core? I am not sure if this is possible as I cannot check it now but PCLs can be referenced by both .NET core and .NET framework. The main problem is actually that MonoGame.Framework is not a PCL and therefore cannot be referenced (in my experience) by a PCL.

You c

[2015-12-30 23:01] bsimser commented on #4037
Would like to re-open this. As of MonoGame 3.4 this isn't working with the RTM version of the UAP SDK on Windows 10. I just cleaned up my system (I had an old version kicking around) and re-installed the one from the MSDN site. It dropped files in C:\Program Files (x86)\Windows Kits\10\Platforms\UAP\10.0.10586.0 but the generated .csproj file references this version:

<TargetPlatformVersion>10.0.1

[2015-12-30 23:54] GrafSeismo commented on #4356
.Net Core is not a part of .Net Framework. You can use .Net Core not in any combination with .net framework. The only similarity is the similar api which might be a subset of net. framework but is not in detail. So currently there is no way out without compiling a pipeline dll unter .Net Core conditions. That means that some parts need to be re-developed. My suggestion is that you split universal

[2015-12-31 00:21] bsimser opened #4367 "MonoGame WindowsUAP install doesn't match source"
I think I've confirmed this on a clean machine now, the WindowsUAP.zip file that contains the universal files doesn't match what's in the repo. This is from the official 3.4 build available from the download page.

I checked a new copy of the WindowsUAP.zip file in \Documents\Visual Studio 2015\Templates\ProjectTemplates\Visual C#\MonoGame and found two problems:

1. The .csproj file template uses

[2015-12-31 00:54] mattiascibien commented on #4356
I am sorry but I do not get your last post. What I told you before was to clone tour project in two so one runtime will be used by the pipeline (.net 4.0) and one used by your game (.net core).

Building a pipeline plugin under .net core is not actually possible as the content pipeline builder is a .NET 4.0 desktop app to ensure compatibility with Mono and therefore providing a cross-platform solu

[2015-12-31 02:44] tomspilman commented on #4214
I don't know if we could do this on UWP or not.  @BrianPeek ?

[2015-12-31 02:56] GrafSeismo commented on #4356
The point is that you can not add any dll that is not based on .net core to an existing UAP project. So how do i extend the pipeline in a windows universal project then without beeing part of .net core?

XNA could do the separation of portable and framework (game<--->pipeline) because of portable was a subset of .net framework. So you can use ".net 4.x" in combination with ".net 4.x client". But t

[2015-12-31 03:17] tomspilman commented on #4356
This is just going to be a pain with UWP and .NET Core until all our platforms move to .NET Core.

If your pipeline extension requires a runtime data assembly with some data types you need to have both a .NET Core build and a regular .NET framework build.  The .NET Core version is used with the UWP game project at runtime and the .NET framework version is used from the pipeline extension assembly.

[2015-12-31 03:27] tomspilman commented on #4037
The fix was done to the current development build for MonoGame 3.5.  You can try the latest development build by downloading the installer from here:

http://www.monogame.net/downloads/

[2015-12-31 03:32] tomspilman commented on #4367
Well that is the first red flag...  that should be named `WindowsUniversal.zip` as of the latest MonoGame 3.5 development build.

Are you installing MonoGame 3.4 or the latest MonoGame 3.5 development build?

[2015-12-31 03:36] GrafSeismo commented on #4356
i thought Mono is working with Microsoft together on that .net core topic....

[2015-12-31 03:38] tomspilman commented on #4356
I believe they are... but I expect it will still take a year or more before every platform moves to .NET Core.

[2015-12-31 03:40] hach-que commented on #4356
This also won't impact old platforms as far as I know; things like MonoMac.  And no word on whether or not the Xamarin APIs will end up on .NET Core either, since they aren't standard .NET at all.

On the Protobuild side, we're only planning on switching the desktop platforms to .NET Core, with other platforms using what the target platform requires (since desktop is the only place where you can m

[2015-12-31 03:40] BrianPeek commented on #4214
No way to stop ALT-F4 that I'm aware of...

[2015-12-31 03:42] tomspilman commented on #4214
Yeah... that is what I figured.  Thanks @BrianPeek !

[2015-12-31 04:00] GrafSeismo commented on #4356
here some others having hit the same issue: http://weblogs.asp.net/fbouma/%E2%80%9C-net-core-is-the-future%E2%80%9D-but-who%E2%80%99s-future-is-that

to gain .net core compatibility seems to become a big challenge...

[2015-12-31 04:01] BrianPeek commented on #4214
...and to avoid the conversation on "What about [KeyboardDeliveryInterceptor](https://msdn.microsoft.com/library/windows/apps/windows.ui.input.keyboarddeliveryinterceptor.aspx) in Win10 10586?"  It works, but requires a restricted capability in the manifest which isn't allowed in "public" UWP apps in the Store.  It would work on sideload builds, partner/internal apps, Enterprise store, or other sc

[2015-12-31 04:10] tomspilman commented on #4214
Yeah...  I think there will just have to be some OS requirements we have to accept.  Disabling Alt+F4 or enforcing fixed window size is not the direction that platforms are heading in the future.

[2015-12-31 04:11] GrafSeismo commented on #4356
i would like to sell my game on microsofts store as an universal app, but i can not do so because of no one provides a proper .net core support and monogame will not provide a running monogame core ready within one year, right? Do you know any alternative solution for my challenge?

[2015-12-31 04:12] hach-que commented on #4356
As far as I know, MonoGame does support Windows Universal, and you can use the current platform support to deploy apps to the Windows Store.

[2015-12-31 04:14] GrafSeismo commented on #4356
But not a monogame with cutstom content pipeline!

[2015-12-31 04:14] hach-que commented on #4356
You can, you just need the implementation in two assemblies; one for .NET Core and one for .NET Full.

[2015-12-31 04:27] GrafSeismo commented on #4356
How do i call a .net framework dll from a .net core project?
As far as i know it is not possible...

at least one piece of both assemblies need to call pipeline internals which then try to deliver assets per .net framework into .net core game, right?

[2015-12-31 04:29] tomspilman commented on #4356
You don't.

As we've said there are two solutions:

 1. Create 2 different projects...  one for .NET Core and one for .NET Framework.
 2. Avoid needing a the runtime data assembly all together.

Both allow you to have a custom pipeline extension in a UWP application.

[2015-12-31 11:27] GrafSeismo commented on #4356
I will try this next year. I wish you all the best for the new Year 2016!

[2015-12-31 11:37] tomspilman commented on #4360
I'm really not sure what the issue is here.  We would have to have someone repro it and debug it.

My guess is that it just isn't finding the dll because of the working directory from which MGCB.exe is being launched.

Could you try manually building your content using the MGBC.exe from the command line instead of via the Pipeline tool.

[2015-12-31 13:39] stampergames opened #4368 "Monogame using.net4.5 is incompatible with visual studio 2010 express"
After running "Protobuild", the "TargetFrameworkVersion" property in the generated .csproj files reference "V4.5" which appears incompatible with visual studio 2010 express. On my branch, I changed them to "V4.0" on the ".Windows" projects and the solution now appears workable in visual studio 2010 express. I suspect referencing "V4.5" in the windows versions of the .csproj files was unintentional

[2015-12-31 15:50] hach-que commented on #4368
Does it not pick the latest version of Visual Studio by default?

On Fri, Jan 1, 2016, 00:39 stampergames <notifications@github.com> wrote:

[2015-12-31 16:23] bsimser commented on #4367
This is from the 3.4 build from the download page not the development build. Maybe the zip name and updated files didn't make it into that build? I thought they did as it was some time ago but I haven't looked at the histories. In any case, the "official" 3.4 release is broken so something to keep informed about for others having problems. Might be fixed in the dev build so not something that need

[2015-12-31 16:28] bsimser commented on #4037
Okay, confirmed that 3.5 has the right zip name, project.json file, and .csproj values are correct. Most people might not be downloading the development builds so anyone with problems on WIndows 10 and UAP should know about this.

[2015-12-31 16:30] bsimser commented on #4367
Just an update, this is fixed in the 3.5 development build (with the new .zip filename). As I mentioned in another defect, while it is fixed most regular users might only download the 3.4 build and not download the development build. Anyone having issues with the official release either needs to fix this manually or grab the 3.5 development build until it gets released if they're building on Windo

[2015-12-31 16:30] #4367 closed

[2015-12-31 16:48] bsimser opened #4369 "Development build and WindowsUniversal project version issues"
Creating an issue here and will be submitting a pull request against it shortly as the WindowsUniversal project template isn't quite right.

The problem is that it currently uses 10.0.10240.0 as the version number. This is fine if you have the old SDK installed but the current SDK is 10.0.10586.0. Without the old version installed you cannot create a new Windows 10 project. The dependency versioni

[2015-12-31 16:55] hach-que commented on #4369
If the SDK version is in the C# project file, you should submit a PR
against the Protobuild repo to change how the project generation works.

On Fri, Jan 1, 2016, 03:48 Bil Simser <notifications@github.com> wrote:

[2015-12-31 17:00] bsimser commented on #4369
The file is in the ProjectTemplates folder in this repo so I'm just modifying the Application.csproj file. What is this Protobuild repo you're talking about?

[2015-12-31 17:06] hach-que commented on #4369
Protobuild is the project generation system that MonoGame uses to generate
it's projects. Presumably the Windows 10 project format that MonoGame
itself uses also needs to be updated, but also in 4.6 and beyond it's
proposed that Protobuild will be used to generate new projects (see #4295 I
think).

You can find Protobuild at https://github.com/hach-que/Protobuild or
http://protobuild.org. It is th

[2015-12-31 17:21] bsimser commented on #4369
Gotcha, I'm just going to leave my PR to fix the current template and let @tomspilman and others decide on the whole project generation as #4295 has a long thread and is a big overhaul (that looks like it'll come after 3.5). Thanks.

[2015-12-31 18:25] stampergames commented on #4368
I only have visual studio 2010 on my machine so it is my only choice.  I suppose it will work with a newer ide that supports .net 4.5.  I guess the bigger question is do we want .net (4.0 or 4.5) to be the primary .net version on the windows platform for the next version of monogame.

[2015-12-31 19:05] DDReaper commented on #4368
The current default on most projects is either .Net 4.5 or 4.6.
I suppose it could still be opened in 2010 if the minimum franework level was lowered, but as 2010 has been out of support for some years now and 2012 is also finished. 2013 will be following quite soon as well.

In my opinion, we should support the latest and 1 previous version really.  Most vendors do the same as far as I'm aware.

[2015-12-31 19:06] DDReaper commented on #4037
Best to probably put a note on the downloads page not to use 3.4 for Windows 10 development since it's no longer functional.

[2015-12-31 22:27] tomspilman commented on #4369
I see what you mean... that seems to make sense to me.

[2015-12-31 22:29] tomspilman commented on #4367
We're working on getting the 3.5 release out soon which should address this.

I do worry however for the future when the VS team changes what SDK is installed by default and suddenly we stop working because of a dumb version number.

[2015-12-31 22:33] tomspilman commented on #4368
I feel for @stampergames because every once in a while I fire up things in VS2010 just because XNA supports it.

That said supporting 4 versions of Visual Studio is sort of crazy.  It might make sense to stop supporting VS2010 moving forward.  It isn't like there are not newer free versions of VS available to everyone now.

[2015-12-31 22:35] tomspilman commented on #4368
@hach-que - I guess picking .NET 4.0 for the framework version if only VS2010 is detected isn't a good solution moving forward.

[2015-12-31 22:39] tomspilman commented on #4369
@hach-que - After @BrianPeek verifies for us that the fix in #4370 is safe, do you think we should do the same thing from Protobuild generation?

[2015-12-31 22:40] hach-que commented on #4368
I feel like that would only create more support issues because .NET 4 support would go untested. You can of course change the target profile for platforms using Protobuild properties (it's like FrameworkVersions or something), but I don't want to do any magic for older versions since VS2015 is freely available and superior in every way to the old Express editions.

[2015-12-31 22:45] tomspilman commented on #4368
Yeah...  there really isn't a great reason to stick to VS2010 other than you just want to.

What is the minimum VS version that supports .NET 4.5?

@dellis1972 @KonajuGames - You guys think we should stop supporting VS2010?

[2015-12-31 22:47] hach-que commented on #4368
2012 I believe (2013 is 4.5.1 and 2015 is 4.5.2)

On Fri, Jan 1, 2016, 09:45 Tom Spilman <notifications@github.com> wrote:

[2015-12-31 23:17] BrianPeek commented on #4367
AFAIK, VS will always default to the latest Windows 10 SDK, but previous editions will (should?) also be available to install.  As it stands today, VS2015 (Update 1) will install the 10586 SDK by default, but there's an additional checkbox to install the 10240 SDK as well.

[2015-12-31 23:28] DDReaper commented on #4368
As a small note. In my latest tests for the basic Windows dx project, it wouldn't compile unless I changed the target framework to at least .Net 4.5

Its current default of .net 4 wouldn't compile

[2015-12-31 23:47] #4369 closed

[2015-12-31 23:51] tomspilman commented on #4367
Right... but people are leaving that unchecked.  So after the 30-40 minute install process and reboot you find out your MonoGame project isn't working.  Also I could be wrong...  but I think the error message that appears in these cases isn't very clear as to what the problem is.

We will just have to tightly chase the SDK versions to ensure new people don't get confused.

[2015-12-31 23:53] tomspilman commented on #4368
Great... so we're only talking about dropping VS2010 support which seems reasonable in 2016. ;)

[2016-01-01 00:07] BrianPeek commented on #4367
I don't have a clean machine handy to test....not sure if it asks you to upgrade the project or download the SDK.  Or some combination thereof...

[2016-01-01 00:33] bsimser commented on #4367
The PR I submitted makes it work so new projects created will either work with the RTM SDK or the current (November 2015) release. If a new version comes along, people would manually have to update their .csproj file to support new(er) versions of the SDK but as long as they have either of these versions installed they're fine. If a new version of the SDK came along and we added it to the TargetPl

[2016-01-01 00:46] BrianPeek commented on #4367
That's not entirely true (or at least it shouldn't be).  TargetPlatformMinVersion suggests what version of the OS the app will **run** on...it has nothing to do with compilation.  VS uses it as a hint, but doesn't actually enforce it. TargetPlatformVersion is the required SDK to compile.  If it's set to 10240, it requires 10240 to be installed.  If it's set to 10586, it requires 10586 to be instal

[2016-01-01 13:11] hach-que commented on #4367
Alright, that sounds like a scenario Protobuild should handle (for MonoGame and the project creation going forward).

For Windows Universal platform, we should detect the highest SDK installed and use that when generating C# projects, since it sounds like all the APIs are compatible anyway.

[2016-01-01 19:08] mrhelmut opened #4372 "OpenTK requirements for gamepad support?"
Hello :)

It appears that gamepads are not working out of the box on MacOS. While we didn't had problems with most Linux distro, our Mac users can't use their gamepads (being Xbox360, PS3 or PS4) and the mono console prints "Number of joysticks: 0" when a game is started.

Does this have something to do with some missing dependencies? SDL?

[2016-01-01 21:17] cra0zy opened #4373 "Generating installer for the game"
I recently remembered that XNA had an option to generate an installer for the game (https://msdn.microsoft.com/en-us/library/bb464156.aspx), thought it might be interesting to implement this.

[2016-01-01 22:32] #3607 closed

[2016-01-02 00:40] ArchaicOokami commented on #4302
As long as you have pointer data to the Window(intptr) it shouldnt be IMPOSSIBLE to gain the data(I meen cmon, DirectX has to do it somehow) the only issue is that OpenTK(At least from its current implementation) doesnt seem to have any functionality pre-build in for it so we just need to make our own method for it.

Im working on trying to take a single graphics device and SwapChainRenderTarget f

[2016-01-02 03:02] hach-que commented on #4372
Are you using the latest development version, and do you have Xamarin Mac? In the latest development version we had to drop gamepad support for the moment because Xamarin removed the input APIs from OpenTK, but this will only impact you if you're building MonoGame from source on Mac with Xamarin Mac installed.

[2016-01-02 03:51] nkast commented on #4368
Right now we get invalid VS10 solutions. VS Version Selection will open VS10 where none of the projects will load. People with no VS2010 will not see this, Version Selection will open the solution with the next VS version. I have 2013 and 2015 installed as well but it never bothered me that MG open in VS10.
![sln](https://cloud.githubusercontent.com/assets/3018589/12073043/15ba92be-b10f-11e5-96c5-

[2016-01-02 08:17] hach-que commented on #4368
I'm just going to bump up the default Visual Studio version to 2012 for desktop projects, since 4.5 is now the default as well.

[2016-01-02 09:13] nkast commented on #4368
Setting the framework back to 4.0 would be something like https://github.com/mono/MonoGame/blob/develop/Build/Projects/MonoGame.Framework.definition#L57-L61 , right?

It's not that I want MG to maintain VS210 templates and keep .NET4.0 forever, I am just worried if the move to 4.5  push the next MG release date with all the work and testing required. Why break it if it's not broken?
One idea which

[2016-01-02 10:36] mrhelmut commented on #4372
I'm using the latest DesktopGL (built from VS), not the Xamarin Mac version. Was the sdl driver removed in the vanilla OpenTK too?

[2016-01-02 10:49] hach-que commented on #4367
Protobuild as of 6dfc542 now detects the Windows 10 SDK version that's installed and uses that in the generated projects.

[2016-01-02 15:38] hach-que commented on #4372
No, that change only impacts people building the latest MonoGame from source on Mac, with Xamarin.Mac.  It does not impact any other scenario (but for that scenario it is the expected result at the moment).

[2016-01-02 16:38] bsimser commented on #4367
So protobuild runs when a user chooses File | New | Monogame or when they install Monogame? If its when they install Monogame not sure the value of having the detection other than getting it right at that moment in time but once they upgrade the SDK they're back to square one. They'll install the new version and not leverage it (unless they remember and manually update the .cspro file).

[2016-01-02 16:57] GrafSeismo opened #4376 "xap: error: Failed to create importer 'XactImporter'"
E:/Documents/Visual Studio 2015/Projects/MyProject/Content/Audio/XACT/Main.xap: error: Failed to create importer 'XactImporter'
What can i do?

[2016-01-02 17:32] hach-que commented on #4368
I believe MonoGame is already targeting 4.5 by default (there is some code that now requires 4.5 features as far as I am aware).

It's important to note that Mono is dropping support for anything older than 4.5, and that all previous runtime versions are forced onto 4.5 when running under Mono.  So from a practical standpoint, 4.0 can only ever actually work on Windows going forward because newer

[2016-01-02 17:33] hach-que commented on #4367
It runs when you create a new MonoGame project from the Visual Studio project creation dialog.

[2016-01-02 17:36] hach-que commented on #4367
To add:

* If you use the "Standard Projects" option when creating your MonoGame project, then yes the version number will be embedded in the C# project based on the SDK you have installed at the time.  This is how Standard C# Projects behave with the way Microsoft implements the SDK.
* If you use the "Protobuild" option to manage your projects, then the C# projects are generated when you open the

[2016-01-02 19:06] bsimser commented on #4367
Sounds good. Having it run as the wizard fixes the problem of what version of the SDK the user has installed and supports future ones (since I'm assuming it reads from some registry or the file system to determine the installed version). Thanks.

[2016-01-02 19:07] hach-que commented on #4367
Yup, the latest version of Protobuild reads the installed SDK version from the registry so that it always uses the version that the developer has installed.

[2016-01-02 19:52] tomspilman commented on #4373
We have no reason to get into the installer business in this project.  There are lots of installers out there which people can use....  InstallShield, NSIS, InnoSetup, InstallBuilder, BitRock, etc.

What is more important is making it easy for developers to include all the dependencies required for MonoGame on Mac/Linux/Windows.  We could start by including a `redist` folder in the installed SDK w

[2016-01-02 19:57] tomspilman commented on #4376
I'm not sure what specifically you were doing at the time this error came up...  but MonoGame has nothing to do with XAP files.  XAP files are an Xbox and Windows Phone packaging thing.

That said MonoGame hasn't implemented any of the XACT pipeline features:

https://github.com/mono/MonoGame/issues/2661

[2016-01-02 20:00] tomspilman commented on #4368
I'd prefer not to change this either, but we've already made the change to support .NET 4.5 by default.  Leaving VS2010 behind was just something we didn't anticipate.

Luckily this is something that the automated build already tests.  It will fail if the generated solutions/projects are not correct after defaulting to VS2012.

[2016-01-02 20:03] tomspilman commented on #4372
That looks to be coming from here:

https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Input/GamePad.OpenTK.cs#L31

Which means to me you are executing the right code path which includes GamePad support.

@cra0zy @dellis1972 ???

[2016-01-02 20:06] #4346 closed

[2016-01-02 20:09] #4354 closed

[2016-01-02 20:09] raistlinthewiz commented on #4373
@tomspilman :+1:
and i'm back guys :)

[2016-01-02 20:24] cra0zy commented on #4373
Well, I still think this might be interesting, my reasoning is that in order for end user to make an installer for the game, they would need to learn 3 tools, 1 for each platform(not counting the fact that Linux actually has different packagers).

My idea is just to make it easy for the end user to make several installers without having to learn about each OS.

Also I would still use something lik

[2016-01-02 20:53] tomspilman commented on #4302
We added this class originally to make it easier to support multiple `GameWindow` instances per game in PR https://github.com/mono/MonoGame/pull/1465.

Adding support for this under OpenTK/OpenGL for both Mac and Linux would be great!

[2016-01-02 21:18] BrianPeek commented on #4367
If the goal here is to just get the latest SDK into the csproj at project creation time, then there is likely an easier way.  If this is going into a project template (vstemplate), this is built into the project template system:

<TargetPlatformVersion>$targetplatformversion$</TargetPlatformVersion>
<TargetPlatformMinVersion>$targetplatformminversion$</TargetPlatformMinVersion>

The macros should

[2016-01-02 21:43] GrafSeismo commented on #4376
Xaudio files are xap files that is not exclusivly bound to Xbox and Windows Phone.

[2016-01-02 21:48] GrafSeismo commented on #4376
So i do have a XAP file and no way to use it?

[2016-01-02 22:26] nkast commented on #4368
Fact: Last week I was about to 'complain' about the lack of sync/async and proposing a move to .NET >=4.5! It's the [potentially] breaking changes before a release that makes me a bit worried.

[2016-01-02 22:32] mrhelmut commented on #4372
I can confirm that this is related to SDL. GamePad driver is not initialized when SDL is missing and returns no gamepad. Everything works as expected when SDL is present.

It is only related to the vanilla OpenTK / DesktopGL, not MacOS (Xamarin powered) projects.

I'm currently working on DesktopGL projects deployment, I'll try to document that as well as shipping projects with MonoKickstart and a

[2016-01-02 22:32] #4372 closed

[2016-01-02 22:40] dellis1972 commented on #4372
@mrhelmut I've messed with mac deployment for osx let me know if you need help with the docs

[2016-01-03 03:06] hach-que commented on #4367
The new project creation system uses the cross-platform Protobuild template format, which doesn't use the Visual Studio templating system at all.

[2016-01-03 09:15] hach-que commented on #4368
The latest version of Protobuild now generates VS2012 solutions by default.  I haven't submitted a PR here yet though (but updating Protobuild is enough to fix this issue).

[2016-01-03 13:46] bsimser commented on #4367
@BrianPeek where were you about 100 messages about on all this? :) Just tried this and it works correctly (I have two versions of the SDK installed and it picked up the latest version). This is the right way to fix this so I'll do a PR later incorporating it.

[2016-01-03 14:20] trommlbomml opened #4378 "Implement Separating Axis Theorem"
As I think it is relatively easy to solve for AABB and Sphere, this would really help to be in the main framework.

[2016-01-03 14:35] tomspilman commented on #4378
What new API are you specifically proposing?

We already have `BoundingBox` vs `BoundingSphere` test:

  https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/BoundingBox.cs#L110

We also have `BoundingSphere` vs `BoundingBox`:

https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/BoundingSphere.cs#L74

Both tell you if the primitive is fully contained, overlapping, or not t

[2016-01-03 14:35] WardBenjamin commented on #4378
If it's easy, why not do it yourself :stuck_out_tongue:

I'm sure that the Monogame maintainers would be much more inclined to do this if they were considering a pull request vs extra room for them. The github issues are not really a feature request.

[2016-01-03 14:38] tomspilman commented on #4378
Well not entirely true...  it is fine to make a feature request here.

However as @WardBenjamin says it is a million times better to have someone submit a PR with the feature.

More importaintly for this issue is understanding specifically what @trommlbomml is looking for.

[2016-01-03 14:40] tomspilman commented on #4368
Great...  we should get that updated soon.

[2016-01-03 14:41] nivan22 commented on #4378
As I think itimerne...?

[2016-01-03 14:43] nivan22 commented on #4368
the generated ,!

[2016-01-03 14:48] trommlbomml commented on #4378
I just created the issue of course I will provide a solution. I am interesting especially in the closest contact point for proper movements. This is not possible currently but very handy.

And yes, when my implementation is finished I will provide the solution for monogame for sure. But I started an issue to maybe there are reasons to not include this solution.

[2016-01-03 14:53] bousquetm commented on #4252
Up! I think I found the problem with OpenTK. In https://github.com/opentk/opentk/blob/develop/Source/OpenTK/Platform/Windows/WinRawJoystick.cs, the DeviceCollection contains 3 items, the first two being "ghost" devices that have no buttons, no axis, and are not XInput devices. The 3rd one is the "real" gamepad.

After looking into the WinRawJoystick.RefreshDevices method, the ghost devices are fla

[2016-01-03 14:55] tomspilman commented on #4378
So what you want is a closest point API in `BoundingBox` and `BoundingSphere`?

[2016-01-03 15:02] cra0zy commented on #4252
Do it.

Also I found: https://github.com/opentk/opentk/issues/286 , maybe related?

[2016-01-03 15:08] trommlbomml commented on #4378
Well I think more than a "what I have to track back so the boundings are not colliding any more". I found a term called MVT (Minimum Translation Vector), so the collision shapes get out of collision from each other.
The cool thing is, this value is part of finding the separating axis theorem and is fast in executing, espeically for axis aligned BoundingBoxes.

Furthermore, this axis can be project

[2016-01-03 16:32] hach-que opened #4379 "Missing public API to query maximum number of game pads"
Currently the GamePad API does this internally:

[code]

When you call GetState on an index outside the platform's maximum number of game pads, it throws an exception.  However, there's no public API for getting the value of `PlatformGetMaxNumberOfGamePads` (it is fully private), which means there's no way for a game to enumerate the list of supported gamepads without just cycling up to some numbe

[2016-01-03 17:33] tomspilman commented on #4379
We could add something like that specifically for the max gamepads supported by the platform.  This is all beyond XNA which only supported 4 via the `PlayerIndex` enum.

[2016-01-03 18:32] BrianPeek commented on #4367
With all of the ProtoBuild changes, project creation, etc. etc. etc. my brain got lost in the shuffle.  :)

[2016-01-03 19:42] #4379 closed

[2016-01-04 12:11] mrhelmut commented on #4252
I'm encountering issues with the Y axis, as well as opentk/opentk#286

@bousquetm definitely an OpenTK issue.

[2016-01-04 12:26] cra0zy commented on #4252
Again, it's probably due to database having wrong info.

I made Guid public, https://github.com/opentk/opentk/pull/319/files, so you should be able to find which config is wrong from here: https://github.com/opentk/opentk/blob/develop/Source/OpenTK/Input/GamePadConfigurationDatabase.cs

Also MG doesn't have the newest version of OpenTK(https://github.com/MonoGame/MonoGame.Dependencies/pull/65), so

[2016-01-04 12:33] #4215 closed

[2016-01-04 12:33] #4344 closed

[2016-01-04 12:41] mrhelmut commented on #4252
Ok, I'll check the Guid and update the database.

[2016-01-04 12:53] GrafSeismo commented on #4356
I got it to run by using .Net Framework and .Net core code in that combination you said. It did the job, but drop some funtionality i had under real XNA.

[2016-01-04 12:53] #4356 closed

[2016-01-04 12:57] GrafSeismo commented on #4376
Ok i can integrate the final XAudio2 .xgs files but hat to build them external due to missing support by monogame.

[2016-01-04 12:57] #4376 closed

[2016-01-04 14:21] mrhelmut commented on #4252
The mapping looks to be OK, but there is no syntax for the mapping to know that an axis is inverted.
I only have Xbox360 gamepads to test that, but all Y's are inverted on all platforms.

I'll try that with PS3 & PS4 controllers to check if this is only linked to XInput controllers.

[2016-01-04 14:39] cra0zy commented on #4252
Oh, now I see what's going on and why I didn't notice it...

[2016-01-04 14:50] bousquetm commented on #4252
@cra0zy Ok I'm doing it.

The Y axis is a OpenTK issue, but I found a strange behavior in the Dpad handling on the Monogame side. When pressing the Dpad button down,

[code]

returns Pressed, but

[code]

return false. Maybe the bug lies in GetVirtualButtons() ? I'm nor sure.

[2016-01-04 15:14] mrhelmut commented on #4252
You are right @bousquetm, DPad is not tested against in ```GetVirtualButtons()```. I'm going to submit a PR for that one.

[2016-01-04 16:14] mrhelmut commented on #4252
I found another error, in OpenTK: the default value for both of the Triggers is 0.5f instead of 0.0f, and it doesn't change until Triggers are pressed. Only affects the SDL driver.

Still trying to figure out if this also affects non-Xbox360 gamepads, then I'll open an issue.

[2016-01-04 16:17] cra0zy commented on #4252
Ha, unrelated, firefox has the same bug.... #4223, bow I am questioning is it a bug at all?

[2016-01-04 16:27] mrhelmut commented on #4252
Don't know if it is a bug, but it doesn't match the XInput / XNA behavior.
In our game, players fire automatically if the triggers haven't been touched since app launch. This only happens when the SDL driver is used.

[2016-01-04 17:25] xanto opened #4383 "Touch Controller does not work on Windows 10 using Windows.GL package"
Hi,
in my project based on Monogame 3.4.0.459 I use TouchPanel class.

For example:

[code]

If I use Windows.DX package version everything works correctly, while using Windows.GL version TouchLocation  does not work because it does not capture touch action.

My OS for this test is Windows 10.

[2016-01-04 18:43] mrhelmut commented on #4252
I have tested with a PS4 controller on Windows, the mapping is completely off and Y's are inverted. Still have to test with a PS3 controller, but it looks like the OpenTK mapping will require a lot a testing to get it right.

Before I take a look at this (inc. the Y axis), there are a couple of more important issues:
- opentk/opentk#286
- @bousquetm issues

I have encountered both of them, the lat

[2016-01-04 19:12] tomspilman commented on #4383
That is expected....  WindowsGL or the new DesktopGL doesn't currently support any touch APIs.

While I know we could add support for Windows...  I have no clue what the state of touch APIs are on MacOS and Linux.

@cra0zy @dellis1972 ?

[2016-01-04 19:24] dellis1972 commented on #4383
MacOS is non existent

[2016-01-04 19:24] cra0zy commented on #4383
Linux is non existent

OpenTK is no multitouch support

[2016-01-04 19:34] tomspilman commented on #4383
Since the goal of DesktopGL is to have one binary that works basically the same across Windows, Mac, and Linux desktops...  it sounds like we shouldn't support touch at all under DesktopGL.

@xanto - Note DesktopGL replaces WindowsGL in MonoGame 3.5.

[2016-01-04 19:44] cra0zy commented on #4383
It's already not supported by WindowsGL or Linux.... also stop adding Mac, Mac is Xamarin.Mac and a whole other platform...

[2016-01-04 19:51] tomspilman commented on #4383
What else should I call DesktopGL running on MacOS?

[2016-01-04 20:02] cra0zy commented on #4383
I misread something in you last comment, sorry about that :(

[2016-01-04 20:21] tomspilman commented on #4376
Ahh... I see what you mean.  Yes XAct has a .xap file which is the XAct project file...  different than the WP and Xbox .xap packaging file.

You can build your content using the XAct Tools yourself then simply include the output xgs and xwb files in your content.

Hopefully in the near future someone will get the XAct processing working via the content pipeline.

[2016-01-04 20:22] xanto commented on #4383
I got it. All clear. It was probably more understandable launch some exceptions during use. Something like "NotImplementedException" or "NotSupportedException"

[2016-01-04 22:45] tomspilman opened #4384 "Update Pipeline Docs"
We need to update the existing Pipeline tool docs:

https://github.com/mono/MonoGame/blob/develop/Documentation/pipeline.md
https://github.com/mono/MonoGame/blob/develop/Documentation/using_pipeline_tool.md

To reflect the current state of how the Pipeline tool works and is integrated into the VS templates.

For example the tool is no longer new...  it is available on more than just Windows... als

[2016-01-05 00:23] tomspilman commented on #3515
@hach-que - Another issue that came up....  I need to be able to extend the project references.  Like the stuff we include in...

https://github.com/mono/MonoGame/blob/develop/Build/Projects/FrameworkReferences.definition

Simply being able to add a  `<References>` section within the IncludeProject would work fine.

[2016-01-05 01:13] danzel commented on #4383
@xanto have you tried ```TouchPanel.GetCapabilities().IsConnected``` ?

Looks like it should return false
https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Input/Touch/TouchPanelCapabilities.cs#L75-L76

[2016-01-05 09:27] hach-que opened #4386 "OpenGL does not implicitly clear the depth buffer like DirectX does, causing random graphics corruption"
I had a game implemented which just immediately started blitting render targets (using a shader) to the primary back-buffer on each `Draw` run.  This worked absolutely fine under DirectX, but when running under OpenGL (on Mac, Linux or Android), I got seemingly random graphics corruption, like the following (but it could be much worse, with the back-buffer just containing random parts of the deskt

[2016-01-05 09:49] mrhelmut opened #4387 "[DesktopGL] Effects' MatrixTransform not set by SpriteBatch"
I have noticed a small discrepancy regarding how vertex shader are applied by ```SpriteBatch```.

The following pass-through effect...

[code]

... compiles on both WindowsDX and DesktopGL, but it doesn't render on DesktopGL through ```SpriteBatch.Begin(..., Effect, ...)```.

This can be worked around by removing the vertex shader...

[code]

I believe there is something wrong with how DesktopGL s

[2016-01-05 10:13] hach-que commented on #3515
Yeah this is on my list, but I start full-time work again tomorrow so my time will be limited.

[2016-01-05 10:17] KonajuGames commented on #4386
DirectX itself does not implicitly clear any buffers.  And MonoGame should not clear any buffers itself either.  It should always be up to the developer.

With graphics APIs, for efficiency purposes there is no guarantee what is in a buffer at the start of a frame.  Usually it is something from the previous frame or two, but that is simply what happens to be in that memory at that time.

If it is

[2016-01-05 10:23] hach-que commented on #4386
Yeah that's fine between frames.  What I'm talking about is before the first frame is even rendered.  It seems that when the back buffer is initialized under DirectX, it ensures the depth buffer is in a sane state (set to MaxDepth of the viewport or w/e), whereas under OpenGL it just contains random data.

[2016-01-05 10:26] xanto commented on #4383
In my case it returns true

[2016-01-05 11:17] cra0zy commented on #4386
I agree with what @hach-que is saying in this. Also I think it should be done on initialization of back buffer.

[2016-01-05 11:43] pzgulyas commented on #4386
Probably related, but not sure: When porting code from XNA, I had to change the clearing method (at drawing shadowmaps) from
`graphicsDevice.Clear(ClearOptions.DepthBuffer, Color.Transparent, 1, 0)`
to
`graphicsDevice.Clear(ClearOptions.DepthBuffer | ClearOptions.Target, Color.White, 1, 0)`
Seems like the clearing strategy is different in MonoGame to XNA

[2016-01-05 11:54] KonajuGames commented on #4386
If you're clearing the buffer at the start of each draw, why would you not clear it at the start of the first draw?  That's why the template projects have a call to Clear as the very first thing in the draw.  It is up to the developer to clear the buffer.  You cannot make any assumptions about the contents of the buffer after initialization.

@pzgulyas, what MonoGame platform are you targeting?  W

[2016-01-05 12:08] pzgulyas commented on #4386
@KonajuGames, it is a shadowmap. (Is not my code originally, but) Yes, it seems like it draws into rg channels, and such a clearing was enough. Platform Windows DirectX.

[2016-01-05 12:35] xanto commented on #1499
Hi,
I have similar issue with MonoGame.DX package on windows 10 PC. I tested it with 3.4 and 3.5.0.1108 (04 Jan 16 14:27). If I close the Window manually the event is raised, while if I call Exit() in Update method the event is not raised.

[code]

[2016-01-05 13:30] tomspilman commented on #3515
I understand that all too well.  I just urge you to prioritize these issues over another other new MonoGame feature.  It reflects very poorly to the console manufacturers that we have to manually hack at MonoGame/Protobuild to make things work.

[2016-01-05 13:46] tomspilman opened #4388 "Improve Contributing.md"
Let's improve the contributing guide to include some information for really new users:

  https://github.com/mono/MonoGame/blob/develop/CONTRIBUTING.md

 - Links to info on how to use Git.
 - Links to info on GitFlow and how we use GitHub.
 - Explain and link to the `Help Wanted` issue tag.

We might even want to see about linking the contributing guide into the documentation generation.

[2016-01-05 14:00] tomspilman commented on #4386
Right...  I think that is reasonable.  While DirectX seems to assure some sane buffer state on first creation I guess OpenGL does not.

First is there a way that is OpenGL specific to do this initialization?

[2016-01-05 14:03] tomspilman commented on #1499
@danzel - Have time to investigate this?

[2016-01-05 14:07] tomspilman commented on #4383
It possibly does under the old WindowsGL.  It shouldn't under the new DesktopGL.

Anyway the consensus here is that for now we're not adding touch support to the OpenGL desktop platforms as Mac and Linux have no support for it.  This could change in the future if those platforms support touch on the desktop.

For now @xanto if you want touch support on the Windows desktop you need to use the Windo

[2016-01-05 14:10] cra0zy commented on #4383
Just so there is no confusion for @xanto, on out side there is no support for touch events from DesktopGL WindowsGL, Linux or Mac. OpenTK(the backend which we are using for getting most of the stuff on these platforms) does support touch events on all 3 platforms, but it does not support multitouch last time I checked.

[2016-01-05 14:12] cra0zy commented on #4384
Can I use screenshots from Linux Pipeline?

[2016-01-05 14:15] tomspilman commented on #4387
So you found my dirty sprite batch secret.  :)

The problem is here:

https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Graphics/SpriteBatch.cs#L52

We only set the "MatrixTransform" parameter on the default sprite `Effect`.  We never query the custom `Effect` passed to `Begin()` for a transform parameter or set it appropriately.

At the time I wrote the code the reason was that I d

[2016-01-05 14:19] xanto commented on #4383
OK. Thank you.
I'm working on Directx platform now.

[2016-01-05 14:27] tomspilman commented on #4373
I guess i'm not totally opposed to this existing...  but it should likely be in a separate repo in the [MonoGame organization](https://github.com/MonoGame).

Let me know if you want me to create something like a `MonoGameInstaller` repo.

[2016-01-05 14:31] tomspilman commented on #4384
Well on this page...

https://github.com/mono/MonoGame/blob/develop/Documentation/pipeline.md

... I don't see a problem adding one screenshot of each platform to give people a look and reinforce that the tool is cross platform.

However on this page...

https://github.com/mono/MonoGame/blob/develop/Documentation/using_pipeline_tool.md

I would prefer we stick to Windows screenshots only as over 9

[2016-01-05 14:40] tomspilman commented on #4383
It does?  I totally must have misread what you said before.

All MonoGame needs to touch events from the platform with an id that is consistent when a finger is touching.  The platform code just needs to call this:

https://github.com/mono/MonoGame/blob/develop/MonoGame.Framework/Input/Touch/TouchPanelState.cs#L154

... and everything else will just work.

[2016-01-05 15:06] hach-que commented on #3515
Sony have been completely unresponsive in terms of applying for a license, which is not helping the situation at all. I applied for SDK access back at the end of November, the auto-reply said 5 working days and I never heard anything since.

While having access to the SDK isn't strictly required, it will make things go faster because I can just do the work rather than lots of back and forth with p

[2016-01-05 15:14] hach-que commented on #3515
To clarify, the main blocker is getting my other MonoGame work merged at the moment because I need to get things off my plate. That is blocked by 3.5 being released before those PRs can be merged.  Getting SDK access now won't help the situation, I'm just bringing it up because it's been frustratingly difficult to get access to, and it might have helped things a few months ago.

[2016-01-05 15:25] tomspilman commented on #3515
I can try to help you with that... but these features have nothing to do with Sony.  Read that again... it has nothing to do with Sony.  I can't say more than that.

Sure...   and there is some effort at that.  But #4295 is not higher priority.  If you are planning to hold out work on this until #4295 I merged let me know now.  I will have to find another solution for consoles than Protobuild.

Re

[2016-01-05 15:49] cra0zy commented on #4373
Do it.

[2016-01-05 16:03] tomspilman commented on #4373
Is that what we want to call this project?  MonoGameInstaller?  Any other suggestions?

@KonajuGames @dellis1972 - Any comments on this?

[2016-01-05 16:03] mrhelmut commented on #4387
Totally understandable.

So MatrixTransform was never set on custom effects... :)

I'll check what XNA does with the parameter name, but if I remember well, custom effects won't compile if no vertex shader is defined.

[2016-01-05 16:05] hach-que commented on #3515
I know and I'm trying to make time for this stuff. My intention was for #4295 to be ready and merged by mid-December.

But it also took way way long than I intended (like 2-3x longer), and there was some competitive pressure to get it all fully implemented now rather than just a first version, which pushed both this AND a lot of other unrelated non-MonoGame work back.

I want to emphasize that #42

[2016-01-05 16:19] tomspilman commented on #3515
I understand...  there are certainly optional projects I've taken on that have consume much more time and effort than expected.  We just have to hope the effort and problems we create for ourselves in the short term pays off in the end.

You'll know what I mean later once we make things public. ;)

That would be great.

Yes support for `<ProjectGuids>`, `<Properties>`, `<References>` within the in

[2016-01-05 16:23] tomspilman commented on #4387
Actually that isn't true.  You can totally have a custom effect with just a vertex shader or just a pixel shader in XNA.  This is the only reason we support that feature.

The reason it works is because XNA and MonoGame both internally first apply the default sprite effect then apply the custom effect.  This has the result of one effect overloading the missing vertex/pixel shader of the other effe

[2016-01-05 16:26] cra0zy commented on #4373
I would name it MonoGamePackager, it could also provide an option to just generate an archive with MonoKickstart bundled.

[2016-01-05 16:26] hach-que commented on #3515
Maybe this was previously mentioned, what's the need for ProjectGuids in this context? Protobuild will generate them for you if they aren't specified.

I only ask because I *think* that might be more complicated than the other two because of the way project GUIDs interact across modules, and if we can get away without doing it that'd be great.

[2016-01-05 16:27] KonajuGames commented on #4373
That wasn't an install builder that XNA shipped.  It was part of Visual Studio.  The MSDN documentation just describes how to use it with XNA.

Is there a standard installer for OS X?  I've seen several types in my limited use of OS X, same as there are a variety of installers for Windows.  That is aside from the App Store package.

There is no standard installer for the many different splinters o

[2016-01-05 16:30] tomspilman commented on #4373
I think regardless if @cra0zy takes on himself this official MonoGame installer/packager project we should still add a `redist` folder and docs on what is needed to distribute a MonoGame game.  Those same docs could then also link people to @cra0zy's tool for this.

[2016-01-05 16:32] tomspilman commented on #3515
I guess then it isn't required for now then.  However i would like to see that working in the future as we want the GUIDs to be consistent regardless to changes to Protobuild.

[2016-01-05 16:35] hach-que commented on #4373
MonoKickstart bundled

fyi I was floating some idea around in my head about having some way of
generating kickstart bundles from a Protobuild module as something to do in
the far future, just to make it easier to ship Linux applications.  Not
sure if I even want to do it, no concrete plans in the area and even if I
did I'd want to do something general rather than tying it to kickstart.

On Wed, Ja

[2016-01-05 16:39] hach-que commented on #3515
We'll never ever ever **ever** change the project GUID generation in Protobuild. If I can guarantee you one thing that will never change, it is this.

We are fundamentally prevented from changing it because any change to that logic will break project generation across submodules with different versions of Protobuild.  This is because the parent Protobuild must be able to calculate the project GUID

[2016-01-05 16:42] dellis1972 commented on #4373
For Mac we need to create a .pkg file (which we do in our build scripts as an example).
A .dmg is effectively just a collection of pkg(s) (1 or more) into a image that can be mounted, like a .iso really. At the heart if the .pkg(s) which to the actual installation.

For mac there are two steps, a  <applicaton>.app folder structure needs to be created with all the Info.plist stuff and the various c

[2016-01-05 16:43] hach-que commented on #3515
To emphasize how sensitive the project GUID generation is (and how much we can't change it), it's one of the few things that gets singled out in the contributor documentation: https://protobuild.readthedocs.org/en/latest/contributing.html

It is part of the guaranteed backwards and forwards compatibility between modules that Protobuild provides.

[2016-01-05 16:43] dellis1972 commented on #4373
Docs for KickStart Mac deployment is on my todo list :)

[2016-01-05 16:46] tomspilman commented on #3515
That makes me feel better about it.... i'll look to not depend on it on these new platforms.

[2016-01-05 16:50] tomspilman commented on #4373
Note that I expect this packager/installer is only for desktop platforms that lack official packaging standards.  So for Windows and DesktopGL.  I would expect this system would work for people deploying vita Steam and other PC centric stores.

Yeah...  that was my concern as well.  Making it not sound like an installer for the MonoGame SDK.

[2016-01-05 17:58] cra0zy commented on #4373
Yey :D

That is my idea.

[2016-01-05 19:08] mrhelmut commented on #4373
FYI, I've forked flibitijibibo/MonoKickstart and added the dependencies required by DesktopGL projects here: mrhelmut/MonoKickstart
Still a work in progress, I haven't thoroughly tested it on Linux, but it works just fine on OS X.

There are also some dependencies which could be added directly to project templates, like openal_soft.

A documentation regarding desktop platforms runtime requirements

[2016-01-05 19:19] dellis1972 commented on #4373
we should have our own MonoGame fork of KickStart (if we don't already) it needs upgrading to 4.5

[2016-01-05 19:23] tomspilman commented on #4373
We do...

https://github.com/MonoGame/MonoKickstart

[2016-01-05 19:33] mrhelmut commented on #4373
Oh, didn't even noticed it. flibitijibibo updated it to support .Net 4.5. If you pull his latest updates, I'd be glad to push the dependencies.

[2016-01-05 19:37] cra0zy commented on #4373
@tomspilman What GUI toolkit do you want me to use?
1) Eto Forms
2) Xwt
3) Per Platform

[2016-01-05 19:44] tomspilman commented on #4373
Someone have time to submit a PR to do that?

I'm assuming this tool will be a simple single dialog sort of thing.  Probably no property grids or tree views.  I don't see a problem making it Xwt or GTK plus on all platforms.

[2016-01-05 19:54] mrhelmut commented on #4373
Will do tomorrow.

[2016-01-05 20:50] hach-que commented on #3515
I got some time this morning, I have not tested this *at all*, but here's an experimental version that should support `<References>` and `<Properties>` sections in include projects: https://github.com/hach-que/Protobuild/blob/nda-props/Protobuild.exe

Before it gets merged into master I want to make sure it works and add some functional tests around it for edge cases (like include projects referen

[2016-01-05 20:53] tomspilman commented on #3515
Great...  I'll give it a try and report back a little later today.

[2016-01-05 21:21] cra0zy commented on #4373
Turns out Xwt has some nasty bug with events right now... I'll go with Eto unless you want me to go with Gtk#

[2016-01-05 22:02] tomspilman commented on #4373
I know nothing of Eto vs Gtk#.  @dellis1972 @KonajuGames ?

[2016-01-05 22:04] cra0zy commented on #4373
Eto Forms: https://github.com/picoe/Eto

Basically Xwt with few extra backends.

[2016-01-05 22:07] KonajuGames commented on #4373
I'd never heard of Eto before.  I don't really mind which GUI framework it
uses.

[2016-01-05 23:08] tomspilman commented on #3515
@hach-que - Looks to be working great so far.  I'll dig in deeper and have more to say by tomorrow.

[2016-01-05 23:28] Martin-Schultz opened #4395 "GamePadCapabilities.HasLeftVibrationMotor / HasRightVibrationMotor is wrong"
Hi,

I am using the latest nuget package from the develop feed 3.5.0967.
My Xbox 360 GamePad has both vibration motors, but the GamePadCapabilities return false on the corresponding HasLeft/RightVibrationMotor properties.
However i can set the vibration for both motors and they work just fine.

Is this already fixed in the current head?

Thanks and appreciation

[2016-01-05 23:31] tomspilman commented on #4395
It is probably being caused by this unnecessary `#if`:

https://github.com/mono/MonoGame/blob/628894d7e9a18821040ebdfd47a7892a7c077afd/MonoGame.Framework/Input/GamePad.XInput.cs#L130

@MichaelDePiazzi - Got time to fix that too?

[2016-01-05 23:32] cra0zy commented on #4373
In the end I am using Gtk#... turns out Eto had problems with treeview...

[2016-01-06 00:11] #4355 closed

[2016-01-06 00:47] tomspilman commented on #4355
@dellis1972 @KonajuGames - Is that accurate?  Or is that just a compression thing?  Could MonoGame detected this and warned the user in some way?

[2016-01-06 01:54] MichaelDePiazzi commented on #4395
@tomspilman Sure, I'll take a quick look at it.

[2016-01-06 02:45] MichaelDePiazzi commented on #4395
Ok, this should be fixed now by PR #4396. It probably needs a test from someone else though. In particular, it would be great if someone could test this with an XInput controller which does not have vibration motors.

[2016-01-06 07:53] ralfjansson commented on #4080
I will try to help out.

[2016-01-06 07:59] mrhelmut commented on #4373
MonoKickstart update: [MonoGame/MonoKickstart#1](https://github.com/MonoGame/MonoKickstart/pull/1)

I'll the dependencies in the separate commit, so they can't be verified independently.

[2016-01-06 08:30] mrhelmut commented on #4252
FYI, I have opened an issue regarding the mappings: [opentk/opentk#333](https://github.com/opentk/opentk/issues/333)

[2016-01-06 10:58] cra0zy commented on #4373
@hach-que Do you have some way of disabling generation of xml documentation for assembly? I ask since I noticed bott MG Pipeline Tool and Protobuild.Manager are generating .exe.xml files for no reason...

[2016-01-06 12:39] mrhelmut commented on #4252
Update regarding the mapping.

We found out that the mapping may be correct, but the problem is that OpenTK returns different GUID's depending on the driver used (GLControl or SDL). And could also explain why keyboards are recognized as gamepads with the SDL driver.

[2016-01-06 13:00] cra0zy commented on #4252
We could add: http://www.opentk.com/node/3685 to MonoGame to force OpenTK to not use SDL

[2016-01-06 13:46] mrhelmut commented on #4252
I don't know. GamePad doesn't work on OS X without SDL. But if it was working, I would totally agree.

[2016-01-06 13:51] cra0zy commented on #4252
Now the question is if it can't load OS X native driver, will it try using SDL one?

[2016-01-06 13:51] cra0zy commented on #4252
Also #4397 ... I should have phrased it better.

[2016-01-06 14:20] dellis1972 commented on #4252
Which version of SDL is causing the problems? FNA doesn't seem to have this issue (or does it? )

[2016-01-06 14:25] mrhelmut commented on #4252
I've been using these: [opentk/opentk-dependencies](https://github.com/opentk/opentk-dependencies)

[2016-01-06 16:45] hach-que commented on #4373
It originally didn't generate XML documentation unless you set the
property, and then a while ago (like 8-12 months) it unintentionally
changed to always do it after merging some XSLT changes in.

Not sure I want to change the default again here - what issue is it
causing?

On Wed, Jan 6, 2016, 21:58 Harry <notifications@github.com> wrote:

[2016-01-06 16:47] cra0zy commented on #4373
Besides pointlessly generated .exe.xml file it also makes IDE create pointless warning for public methods that don't have xml documentation(and they shouldn't, since it is an .exe, not a .dll).

[2016-01-06 16:53] hach-que commented on #4373
The way I solve those warnings is by declaring the classes internal (which
is the technically correct solution since you can add an .exe as a
reference to a project and call any of it's public methods, just as if it
was a DLL).

On Thu, Jan 7, 2016, 03:47 Harry <notifications@github.com> wrote:

[2016-01-06 16:58] cra0zy commented on #4373
Can you pleeeeaaasseee try and add an option to disable xml documentation generation?

[2016-01-06 17:00] hach-que commented on #4373
If you want to submit a PR then okay, but I probably can't get to it until
the weekend.

On Thu, Jan 7, 2016, 03:58 Harry <notifications@github.com> wrote:

[2016-01-06 18:03] tomspilman commented on #4373
@cra0zy - I think I will be submitting a PR to Protobuild for some other stuff i'm working on.  I can try to include an option for that.  Or maybe we should just disable doc generation on Executable projects in general.

[2016-01-06 18:16] cra0zy commented on #4373
:D Thank you.

[2016-01-06 18:31] tomspilman opened #4399 "Replacing OpenTK"
This stems from a discussion started in another PR:

https://github.com/mono/MonoGame/pull/4397#issuecomment-169345797

It has been over 3 years since we initially investigated sticking with OpenTK in MonoGame.  The OpenTK team at that time promised fixes and renewed development of the library.

Since then there have been improvements, but we still suffer problems with OpenTK functionality and nee

[2016-01-06 18:35] hach-que commented on #4399
Is it not possible to P/Invoke native libraries on iOS / Android? I was under the impression that worked.

If it does, we could just P/Invoke OpenGL there too.

[2016-01-06 18:40] tomspilman commented on #4399
I think it is.

This would be a new path for the project.  Where in the past we depended on bindings provided by other open source projects or vendors like Xamarin.... we would be maintaining our own bindings.

It might be more work, but it puts us more in control over our destiny on these platforms.

Not this is sort of the same boat we are in on consoles where we generate our own bindings to nat

[2016-01-06 18:41] dellis1972 commented on #4399
it is possible to PInvoke on both Android and iOS, I can certainly help out on the Android side.

[2016-01-06 18:45] tomspilman commented on #4399
Note that on iOS we may eventually want to use the new Metal API which I think is not available to C# in any way at the moment.  So there might be another binding to generate there at a later date.

[2016-01-06 19:09] hach-que commented on #4399
It also puts the project in a position where we could drop the dependency on Xamarin for iOS / Android if an alternative way of running IL on those platforms arose.

[2016-01-06 19:11] tomspilman commented on #4399
@hach-que - That would be possible too I guess.  Who knows where Microsoft's open source .NET stuff will lead in the coming years.

[2016-01-06 20:24] tomspilman commented on #4399
So here is something to consider.

On consoles the styles of APIs are all over the place... some are very simple C APIs, some are handle based, some use lots of macros, some take structures with dozens of parameters, and some are actual C++ class libraries with inlined functions and everything.  These all pose different challenges in writing bindings.

Some of the APIs we use from MonoGame and gam

[2016-01-06 20:31] hach-que commented on #4399
In that context I should mention that Protobuild supports generating
cross-platform C++ projects and allows you to reference them from C#
projects (and it handles configuring the projects so the native DLLs get
copied out to the correct place).

On Thu, Jan 7, 2016, 07:24 Tom Spilman <notifications@github.com> wrote:

[2016-01-06 21:57] KonajuGames commented on #4399
Xamarin do expose all the Metal APIs to C#.

[2016-01-06 21:57] tomspilman commented on #4399
Great to know!

[2016-01-06 22:38] cra0zy commented on #4373
@tomspilman Can you create the "MonoGamePackager" repo? I am almost done with the base.

[2016-01-06 22:49] tomspilman commented on #4373
Is "MonoGame.Packager" ok?

[2016-01-06 22:50] cra0zy commented on #4373
Fine by me.

[2016-01-06 23:13] tomspilman commented on #4373
@cra0zy - Done....

https://github.com/MonoGame/MonoGame.Packager

You have write access to that repo, so you can merge things as needed.

[2016-01-06 23:14] tomspilman commented on #4373
Closing this issue... new discussions should occur in the new project.

[2016-01-06 23:14] #4373 closed

[2016-01-07 01:20] flibitijibibo commented on #4399
If y'all want some single-file OpenGL bindings that are easy to statically link, FNA's bindings are here:

https://github.com/FNA-XNA/FNA/blob/master/src/Graphics/OpenGLDevice_GL.cs

Note the LoadGLEntryPoints func - by loading the entry points by hand it gives you a LOT of room to customize for various GL targets, and also gives you the ability to throw NoSuitableGraphicsDeviceExceptions when the

[2016-01-07 02:13] tomspilman commented on #4399
@flibitijibibo - Thanks we will look, but will likely roll our own so we can consider mobile and console concerns.

[2016-01-07 07:28] hach-que commented on #3515
Properties and references functionality is now merged into `master` (so you can pull that version into the public MonoGame repo now).

[2016-01-07 10:48] cra0zy commented on #4373
Any chance you have time to submit a PR for those dependencies now?

[2016-01-07 11:47] mrhelmut commented on #4373
Done: [MonoGame/MonoKickstart#2](https://github.com/MonoGame/MonoKickstart/pull/2)

[2016-01-07 12:11] tomspilman commented on #3515
Great...  gonna wait a few days first and make sure I don't run into any other bugs with the console stuff.  Just want to cut down on unnecessary EXE updates.

[2016-01-07 20:13] mrhelmut commented on #4252
I can confirm that all Y's are inverted on OpenTK compared to XInput, it's not just the 360 controller. They say that OpenTK is modeled against XInput, so I'm going to submit a PR on their side and not on MonoGame.
But before that, I'm going to work on the wrong PS3/PS4 mapping as well as the keyboard bug, and submit all PR at the same time in hope that they merge them fast enough.

[2016-01-08 10:26] #4308 closed

[2016-01-08 10:26] #4290 closed

[2016-01-08 10:59] mrhelmut commented on #4252
I've narrowed down most the OpenTK issues, their HID driver had a couple problems.
[opentk/opentk#334](https://github.com/opentk/opentk/pull/334)
[opentk/opentk#335](https://github.com/opentk/opentk/pull/335)

When these PR get merged, Xbox 360, PS3 & PS4 controllers should work correctly and be mapped correctly on all platforms, including with the SDL2 driver on Windows.

Remaining problem (and b

[2016-01-08 11:02] cra0zy commented on #4252
That one is only occurring with SDL backend, right?

[2016-01-08 11:03] mrhelmut commented on #4252
No, it's their Windows HID driver messing up too.

[2016-01-08 12:15] #841 closed

[2016-01-08 12:21] mrhelmut commented on #4252
Got it! I've updated the PR opentk/opentk#335

[2016-01-08 14:13] ebatiano opened #4402 "Screen scaled up on low-end Windows Phone 8.1 devices"
On some devices (f.e. Lumia 630) touch positions are scaled up for Y component (portrait) when software button bar is visible.

[2016-01-08 14:45] tomspilman commented on #4402
@Nezz - You know something about this?

[2016-01-08 15:17] cra0zy commented on #4154
Fixed by @nkast so closing.

[2016-01-08 15:17] #4154 closed

[2016-01-08 16:34] mrhelmut opened #4403 "OpenAL and maximum playing instances"
Hello,

It looks like the maximum of playing instances on all OpenAL platforms is set to 32 (```OpenALSoundController.MAX_NUMBER_OF_SOURCES```).

However, this limit is not considered in ```SoundEffect``` which has its own ```SoundEffect.MAX_PLAYING_INSTANCES``` set to ```int.MaxValue``` (DesktopGL) or ```256``` (XamMac).

There is yet another constant in ```SoundEffectInstancePool.MAX_PLAYING_INS

[2016-01-08 17:29] dellis1972 commented on #4156
@KonajuGames on Mac its the call to PVRTexture.Transcode that raises the error.

[2016-01-08 17:31] dellis1972 commented on #4156
@KonajuGames that code change didn't work. The texture in question is 512x256 not sure if that has any  impact on the issue.

[2016-01-08 17:39] dellis1972 commented on #4156
@KonajuGames the Rect sizes all look ok. The source bitmap is a Vector4

[2016-01-08 17:40] dellis1972 commented on #4156
@KonajuGames I wonder if this is a bit in the PVRTexture code...

[2016-01-08 18:15] dellis1972 commented on #4156
@tomspilman @KonajuGames I don't think we can release 3.5 until this one is fixed as its a regression from the current stable.

[2016-01-08 19:32] tomspilman commented on #4156
@dellis1972 - Agreed.

[2016-01-08 20:41] dellis1972 commented on #4156
@KonajuGames @tomspilman PVRTC via PVRLib works on Mac, is it possible that DXT compression has not been included in the mac build?

[2016-01-08 21:19] dellis1972 commented on #4156
Have confirmed that ETC1, PVRTC, 16bit, ATC and color all work, its just down to DXT. DXT3 DXT5 both fail with the same problem.

[2016-01-08 21:50] cra0zy commented on #4156
Why are ETC1, PVRTC and ATC not supported on Linux?

[2016-01-09 00:05] #4305 closed

[2016-01-09 00:08] #4296 closed

[2016-01-09 05:01] xanather commented on #4399
On Desktop may I suggest interoping with GLFW https://github.com/glfw/glfw. I do this for my own cross-plat 2D engine. Handles windowing and input very well across different platforms. OpenGL is still used directly/natively.

[2016-01-09 07:20] KonajuGames commented on #4399
Switching one third-party dependency for another is not really moving forward.  And GLFW needs another dependency that is the C# bindings.  The intention was to remove that dependency.

[2016-01-09 07:46] KonajuGames commented on #4156
ATC requires a separate DLL obtained from elsewhere (we cannot distribute it).  ETC1 and PVRTC should work.  I had done some here on Linux when doing the big texture processing update.  The issue with DXT might be in the PVRTexLib libraries themselves.  I think I'll have to go back to the Nvidia libraries for DXT as PVRTexLib seems to have inconsistent support for the format across different platf

[2016-01-09 12:51] SirusDoma commented on #4403
May I ask something regarding this issue?
I could understand that MonoGame (or OpenAL) can only handle 32 playing sounds at the same time.

But can a game have more than 32 **instances** of sounds?

[2016-01-09 13:19] mrhelmut commented on #4403
Yes, as many as you want, but there's a limit regarding the number of simultaneously **playing** instances, which depends on both the hardware and the audio backend.

There's nothing much we can do about this because we can't query the hardware capabilities. Hence we have to set this max to an arbitrary safe value, unless it is documented (like on mobile or Mac OS).

[2016-01-09 20:25] tomspilman commented on #4156
Ugh...  when we were sold this idea of moving to `PVRTexLib` it was that it supported all the formats and was cross platform.  This just puts us back where we were.